include RELEASE-VERSION version.py
recursive-include s1/build *.js *.css *.woff *.eot *.ttf *.svg *.xml *.json *.jpg *.ico *.gif *.png *.html *.md *.mako *.pt
global-exclude *Spec.js
prune s1/build/styleguide
prune s1/build/lib/DefinitelyTyped
prune s1/build/lib/q
prune s1/build/lib/jasmine
prune s1/build/lib/blanket
