/*doc
---
title: Badges MeinBerlin
name: badge-meinberlin
parent: badge
---

Badge modifiers for labeling if a proposal has been realized or not.

```html_example
<span class="badge m-is-realized">Is Realized</span>
<span class="badge m-is-not-realized">Is Not Realized</span>
<span class="badge m-info">Information</span>
```

*/

.badge {
    &.m-info,
    &.m-is-realized,
    &.m-is-not-realized {
        color: $color-text-inverted;
    }

    &.m-is-realized {
        background-color: $color-brand-two-normal;
    }

    &.m-is-not-realized {
        background-color: $color-text-introvert;
    }

    &.m-info {
        padding-left: 0;
        background-color: $color-brand-two-normal;

        &:before {
            @include inline-block;
            content: "info";
            padding: 0 5px / $font-size-smaller * 1em;
            margin-right: 5px / $font-size-smaller * 1em;
            background-color: $color-text-introvert;
        }
    }
}
