/*doc
---
title: Badges MeinBerlin
name: badges-meinberlin
category: Type
---

Badge modifiers for labeling if a proposal has been realized or not.

```html_example
<span class="badge m-is-realized">Is Realized</span>
<span class="badge m-is-not-realized">Is Not Realized</span>
```

*/

.badge {
    &.m-is-realized, &.m-is-not-realized {
        color: $color-text-inverted;
    }

    &.m-is-realized {
        background-color: $color-brand-two-normal;
    }

    &.m-is-not-realized {
        background-color: $color-text-introvert;
    }
}
