/*doc
---
title: Badges MeinBerlin
name: badge-meinberlin
parent: badge
---

Badge modifiers for labeling if a proposal has been realized or not.

```html_example
<span class="badge m-is-realized">Is Realized</span>
<span class="badge m-is-not-realized">Is Not Realized</span>
<span class="badge m-info">Information</span>
<span class="badge m-color m-is-realized">Is Realized</span>
<span class="badge m-color m-is-not-realized">Is Not Relaized</span>
<span class="badge m-color m-on-test">On Test</span>
<div class="badge-description m-color m-is-realized">
    <p>Modified badge description</p>
</div>
```

*/

.badge {
    &.m-info,
    &.m-color,
    &.m-is-realized,
    &.m-is-not-realized {
        color: $color-text-inverted;
    }

    &.m-is-realized {
        background-color: $color-brand-one-normal;
    }

    &.m-is-not-realized {
        background-color: $color-text-introvert;
    }

    &.m-info {
        padding-left: 0;
        background-color: $color-brand-one-normal;

        &:before {
            @include inline-block;
            @include rem(margin-right, 5px);
            @include rem(padding, 0 5px);
            content: "info";
            background-color: $color-text-introvert;
            vertical-align: baseline;
        }
    }

    &.m-color {
        @include rem(border-width, 0 0 0 $badge-height);
        background-color: $color-text-introvert;
        border-style: solid;
        position: relative;

        &.m-is-realized {
            border-color: $color-function-valid;
        }

        &.m-is-not-realized {
            border-color: $color-function-invalid;
        }

        &.m-on-test {
            border-color: $color-function-neutral;
        }
    }
}

.badge-description {
    &.m-color {
        @include rem(border-left, 0.4rem solid $color-text-highlight-normal);
        @include rem(padding-left, 0.5rem);

        &.m-is-realized {
            border-left-color: $color-function-valid;
        }

        &.m-is-not-realized {
            border-left-color: $color-function-invalid;
        }

        &.m-on-test {
            border-left-color: $color-function-neutral;
        }
    }
}
