// FIXME: This is very much like a moving column. Maybe we can share some code?

.meinberlin-bplan-proposal-embed {
    @include rem(padding, 5px);
    background: $color-background-base-introvert;
}

.meinberlin-bplan-proposal-form {
    padding: 0;
}

.meinberlin-bplan-proposal-form-inner {
    @include rem(padding, $padding);
    background: $color-background-base;
}

.meinberlin-bplan-proposal-success {
    @extend .standalone-wrapper;
    @include rem(padding-left, 2.5rem);
    @include rem(padding-right, 2.5rem);
}

.meinberlin-bplan-proposal-success-title {
    @extend .standalone-wrapper-title;
}

.meinberlin-bplan-proposal-success-show-form {
    @include rem(margin, 2rem 0);
}
