@mixin icon-button($base-font-size: $font-size-small) {
    @include inline-block;
    background: $color-background-base-introvert;
    color: $color-text-introvert;
    line-height: 24px / $base-font-size * 1em;
    min-width: 24px / $base-font-size * 1em;
    padding: 0 (8px / $base-font-size * 1em);

    &:hover, &:focus {
        color: $color-text-highlight-normal;
    }
}

.button {
    font-size: $font-size-small;
    height: 24px / $font-size-small * 1em;
    line-height: 24px / $font-size-small * 1em;
    text-transform: none;

    &:first-letter {
        text-transform: capitalize;
    }

    &:focus:enabled,
    &:hover:enabled {
        text-decoration: underline;
    }
}

.button-cta {
    @include border-radius(1em);
    font-weight: $font-weight-extrovert;
    padding: 0 (30px / $font-size-normal * 1em);
}

/*doc
---
title: Call to action button index of moving column or embed
name: button.button-cta.inside
parent: button
---

For Mein Berlin CTA buttons inside of the moving columns or embed context appear square

```html_example
<div class="l-center m-embed">
<a class="button-cta" href="">Link</a>
<button type="button" class="button-cta">Button</button>
<input type="submit" class="button-cta" value="Disabled" disabled="disabled" />
</div>
```

*/

.moving-column-body, .l-center.m-embed {
    .button-cta {
        @include border-radius(0);
    }
}
