@mixin icon-button($base-font-size: $font-size-small) {
    @include inline-block;
    @include rem(line-height, 24px);
    @include rem(min-width, 24px);
    @include rem(padding, 0 8px);
    background: $color-background-base-introvert;
    color: $color-text-introvert;

    &:hover, &:focus {
        color: $color-text-highlight-normal;
    }

    &.ng-disabled, &:disabled {
        &:hover, &:focus {
            color: $color-text-introvert;
        }
    }
}

.button {
    @include rem(font-size, $font-size-small);
    @include rem(height, 24px);
    @include rem(line-height, 24px);

    &:focus, &:hover {
        text-decoration: underline;
    }

    &.ng-disabled, &:disabled {
        &:focus, &:hover {
            text-decoration: underline;
        }
    }
}

.button-cta {
    @include rem(padding, 0 30px);
    font-weight: $font-weight-extrovert;
}

.button, .button-cta, .button-cta-secondary {
    text-transform: capitalize;
}
