.comment-listing {
    .listing-element {
        border: 0;
    }
}

.comment-header .comment-header-links {
    margin-right: 1px;
    padding: 0;

    .comment-header-link {
        @include icon-button;
        margin: 0 -1px 0 0;

        &:after {
            display: none;
        }
    }
}

.comment {
    @include rem(padding, 0 10px);
}

.comment-children {
    border-color: $color-text-highlight-normal;
}

.comment-children-create-form,
.comment-children-edit-form {
    @include rem(margin-bottom, 20px);
}

.comment-main {
    @include rem(margin-bottom, 24px);
    padding-bottom: 0;
}
