.comment-listing {
    .listing-element {
        border: 0;
    }
}

.comment-create-form,
.comment-children-edit-form {
    background: $color-background-base-introvert;
    margin: 0;
    padding: 0;

    .comment-create-form-text,
    .comment-edit-form-text {
        @include rem(min-height, 70px);
        margin: 0;
    }

    .form-footer-button {
        @include rem(font-size, $font-size-small);
        @include rem(line-height, 24px);
        padding: 0;
        text-transform: capitalize;
    }
}

.comment-header .comment-header-links {
    margin-right: 1px;
    padding: 0;

    .comment-header-link {
        @include icon-button;
        margin: 0 -1px 0 0;

        &:after {
            display: none;
        }
    }
}

.comment {
    @include rem(padding, 0 10px);
}

.comment-content,
.comment-create-form-text,
.comment-edit-form-text {
    @include rem(font-size, $font-size-small);
    line-height: $line-height-large;
}

.comment-children {
    border-color: $color-text-highlight-normal;
}

.comment-children-create-form,
.comment-children-edit-form {
    @include rem(margin-bottom, 20px);

    .comment-create-form, & {
        background: transparent;

        .comment-create-form-text,
        .comment-edit-form-text {
            background: $color-background-base-introvert;
            border-left: 1px solid $color-text-highlight-normal;
        }
    }
}

.comment-main {
    @include rem(margin-bottom, 24px);
    padding-bottom: 0;
}
