input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
    @include rem(font-size, $font-size-small);
    @include rem(margin-bottom, 15px);
    @include rem(padding, 5px $font-size-small);
}

.label-text, .form-row, .login-check-input {
    @include rem(font-size, $font-size-small);
}

.input-error {
    @include rem(top, -16px);
    position: relative;
}

.form-row {
    @include rem(margin-bottom, 15px);
}

//server errors
.form-error {
    background: transparent;
    border: 0;
    color: $color-text-highlight-normal;
    font-weight: $font-weight-extrovert;
    margin-top: 0;
    padding: 0;
    text-align: left;
}
