form {
    background-color: $color-background-base;
    padding: 1em;
}

input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
    background: $color-background-base-introvert;
    border: 0;
    margin-bottom: 16px / $font-size-normal * 1em;

    &:focus {
        border-color: $color-brand-one-normal;
        outline: 1px solid $color-brand-one-normal;
    }
}

.input-error {
    position: relative;
    top: -(16px / $font-size-small * 1em);
}

//server errors
.form-error {
    background: transparent;
    border: 0;
    color: $color-text-highlight-normal;
    font-weight: $font-weight-extrovert;
    margin-top: 0;
    padding: 0;
    text-align: left;
}
