form {
    padding: 1em;
}

input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
    background: $color-background-base-introvert;
    border: 0;
    font-size: $font-size-small;
    margin-bottom: 15px / $font-size-small * 1em;
    padding: 0.4em $font-size-small;

    &:focus {
        border-color: $color-brand-one-normal;
        outline: 1px solid $color-brand-one-normal;
    }
}

.label-text, .form-row, .login-check-input {
    font-size: $font-size-small;
}

.input-error {
    position: relative;
    top: -(16px / $font-size-small * 1em);
}

.form-row {
    margin-bottom: 15px / $font-size-small * 1em;
}

//server errors
.form-error {
    background: transparent;
    border: 0;
    color: $color-text-highlight-normal;
    font-weight: $font-weight-extrovert;
    margin-top: 0;
    padding: 0;
    text-align: left;
}
