.mein-berlin-keizkassen-context-header {
    @include clearfix;
    margin-bottom: 10px / $font-size-normal * 1em;
    margin-top: 2px;

    .user-indicator {
        margin-left: 28px / $font-size-normal * 1em;
    }
}

.mein-berlin-keizkassen-context-header-logo {
    color: $color-text-highlight-normal;
    font-size: 145%;
}
