.login-form {
    margin-bottom: 0;
    padding-bottom: 0;

    .login-info {
        @include rem(margin-top, 24px);
    }

    input[type="submit"] {
        margin-top: 0;
        width: auto;
    }
}

.login-cancel {
    @include rem(font-size, $font-size-small);
    font-variant: normal;
    margin-top: 0;
    text-transform: capitalize;
}
