.mein-berlin-kiezkassen-proposal-form {
    background-color: $color-background-base-introvert;
    bottom: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;

    label,
    .input-error {
        display: block;
    }

    .map-buttons {
        background: $color-background-base;
    }
}

.mein-berlin-kiezkassen-proposal-form-upper {
    background: $color-background-base;
    padding: 1em;
}

.mein-berlin-kiezkassen-proposal-detail {
    .rate {
        float: right;
    }
}

.mein-berlin-kiezkassen-proposal-detail-header,
.mein-berlin-kiezkassen-proposal-detail-body {
    @include clearfix;
    background: $color-background-base;
    padding: 0 (10px / $font-size-normal * 1em);
}

.mein-berlin-kiezkassen-proposal-detail-body-comments {
    float: right;
    padding-left: 40px / $font-size-small * 1em;
    text-align: center;

    &, a {
        color: $color-text-highlight-introvert;
        font-size: $font-size-small;
    }

    [class*=icon-] {
        display: block;
        line-height: 17px;
        font-size: 17px;
    }
}

.mein-berlin-kiezkassen-proposal-detail-body-comments-icon {
    display: block;
    font-size: 20px;
}

.mein-berlin-kiezkassen-proposal-detail-header {
    padding-top: 30px / $font-size-normal * 1em;

    .mein-berlin-kiezkassen-proposal-detail-header-title {
        color: $color-text-normal;
        font-size: $font-size-normal;
        font-weight: $font-weight-extrovert;
        margin: 0 0 (30px / $font-size-normal * 1em);
    }
}

.mein-berlin-kiezkassen-proposal-detail-detail {
    margin-bottom: 30px / $font-size-normal * 1em;
    padding-right: 15%;
}

.mein-berlin-kiezkassen-proposal-detail-meta-item,
.mein-berlin-kiezkassen-proposal-detail-author {
    color: $color-text-introvert;
    font-size: $font-size-small;
}

.mein-berlin-kiezkassen-proposal-detail-author {
    margin-bottom: 30px / $font-size-small * 1em;
}

.mein-berlin-kiezkassen-proposal-detail-meta {
    @include clearfix;
    list-style-type: none;
    margin: 0 0 (40px / $font-size-normal * 1em);
    padding: 0;

    .mein-berlin-kiezkassen-proposal-detail-meta-item {
        @include gallery(3 of 12);

        &:nth-child(2) {
            text-align: center;
        }
    }

    .mein-berlin-kiezkassen-proposal-detail-meta-participation {
        text-align: right;
    }

    .mein-berlin-kiezkassen-proposal-detail-meta-item-icon {
        margin-right: 8px;
        vertical-align: middle;
    }

    .mein-berlin-kiezkassen-proposal-detail-meta-item-text {
        @include inline-block;
        margin: 0;
        text-align: left;
    }

    .mein-berlin-kiezkassen-proposal-detail-meta-item-comments,
    .mein-berlin-kiezkassen-proposal-detail-meta-item-location {
        a {
            color: $color-text-highlight-introvert;
        }
    }
}


/*doc
---
title: Kiezkassen Proposal List Item
name: mein-berlin-kiezkassen-proposal-list-item
category: meinberlin
---

Kiezkassen Proposal List Item contains all the key information about a
kiezkassen proposal.  Key information may be content from the proposal as well
as metadata.  It serves as an entry to a detail view.


```html_example
<div class="meinberlin-kiezkassen-proposal-map-list-item">
    <a class="meinberlin-kiezkassen-proposal-map-list-item-detail-link" href="">
        <div class="map-list-item-col-left">
            <h3 class="map-list-item-title">The title of my proposal</h3>
            By God on 12/10/15
        </div>
        <div class="map-list-item-col-right">
            <p class="map-list-item-comments map-list-meta-item"><i class="map-list-meta-item-icon icon-speechbubble-unfilled"></i> 12 Comments</p>
            <p class="map-list-item-votes map-list-meta-item"><i class="map-list-meta-item-icon icon-voting"></i> +12 votes</p>
            <p class="map-list-item-location map-list-meta-item"><i class="map-list-meta-item-icon icon-pin-detail"></i> Berlin</p>
        </div>
    </a>
</div>

<div class="meinberlin-kiezkassen-proposal-map-list-item is-selected">
    <a class="meinberlin-kiezkassen-proposal-map-list-item-detail-link" href="">
        <div class="map-list-item-col-left">
            <h3 class="map-list-item-title">The title of my proposal</h3>
            By God on 12/10/15
        </div>
        <div class="map-list-item-col-right">
            <p class="map-list-item-comments map-list-meta-item"><i class="map-list-meta-item-icon icon-speechbubble-unfilled"></i> 12 Comments</p>
            <p class="map-list-item-votes map-list-meta-item"><i class="map-list-meta-item-icon icon-voting"></i> +12 votes</p>
            <p class="map-list-item-location map-list-meta-item"><i class="map-list-meta-item-icon icon-pin-detail"></i> Berlin</p>
        </div>
    </a>
</div>
```
*/

.meinberlin-kiezkassen-proposal-list-item {
    @include clearfix;
    display: block;
    padding: 10px / $font-size-normal * 1em;

    *:not(a) {
        color: $color-text-normal;
        text-decoration: none;
    }

    &:hover, &:focus {
        @include clearfix;
        background: $color-structure-normal;
    }

    &.is-selected {
        .meinberlin-kiezkassen-proposal-list-item-detail-link {
            background: $color-structure-normal;
        }
    }
}

.meinberlin-kiezkassen-proposal-list-item-col-left {
    @include span(8 of 12 first);
}

.meinberlin-kiezkassen-proposal-list-item-col-right {
    @include span(4 of 12 last);
}

.meinberlin-kiezkassen-proposal-list-item-title {
    font-size: $font-size-normal;
    margin: 0 0 (15px / $font-size-normal * 1em);
}

.meinberlin-kiezkassen-proposal-list-meta-item {
    margin-bottom: 15px / $font-size-small * 1em;
    font-size: $font-size-small;
}

.meinberlin-kiezkassen-proposal-list-meta-item-icon {
    font-size: $font-size-normal;
    margin-right: 8px / $font-size-normal * 1em;
}

.mein-berlin-kiezkassen-proposal-form-footer {
    .form-footer-button {
        padding-left: 10px / $font-size-normal * 1em;
    }
}
