.meinberlin-proposal-form {
    background-color: $color-background-base-introvert;
    bottom: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;

    label,
    .input-error {
        display: block;
    }

    .map-buttons {
        background: $color-background-base;
    }
}

.meinberlin-proposal-form-upper {
    @include rem(padding, 1rem);
    background: $color-background-base;
}

.meinberlin-proposal-detail {
    .rate {
        float: right;
    }
}

.meinberlin-proposal-detail-header,
.meinberlin-proposal-badge-descriptions,
.meinberlin-proposal-detail-body {
    @include clearfix;
    @include rem(padding, 0 10px);
    background: $color-background-base;
}

.meinberlin-proposal-detail-body-comments {
    @include rem(padding-left, 40px);
    float: right;
    text-align: center;

    &, a {
        @include rem(font-size, $font-size-small);
        color: $color-text-highlight-introvert;
    }

    [class*=icon-] {
        @include rem(font-size, 17px);
        @include rem(line-height, 17px);
        display: block;
    }
}

.meinberlin-proposal-detail-body-comments-icon {
    @include rem(font-size, 20px);
    display: block;
}

.meinberlin-proposal-detail-header {
    @include rem(padding-top, 30px);

    .meinberlin-proposal-detail-header-title {
        @include rem(font-size, $font-size-normal);
        @include rem(margin, 0 0 30px);
        color: $color-text-normal;
        font-weight: $font-weight-extrovert;
    }

    .badge {
        @include rem(top, -20px);
        position: relative;
    }
}

.meinberlin-proposal-detail-detail {
    @include rem(margin-bottom, 30px);
    padding-right: 15%;
    white-space: pre-line;
}

.meinberlin-proposal-detail-meta-item,
.meinberlin-proposal-detail-author {
    @include rem(font-size, $font-size-small);
    color: $color-text-introvert;
}

.meinberlin-proposal-detail-author {
    @include rem(margin-bottom, 30px);
}

.meinberlin-proposal-detail-meta {
    @include clearfix;
    @include rem(margin, 0 0 40px);
    list-style-type: none;
    padding: 0;

    .meinberlin-proposal-detail-meta-item {
        @include gallery(3 of 12);

        &:nth-child(2) {
            text-align: center;
        }
    }

    .meinberlin-proposal-detail-meta-participation {
        text-align: right;
    }

    .meinberlin-proposal-detail-meta-item-icon {
        @include rem(margin-right, 8px);
        vertical-align: middle;
    }

    .meinberlin-proposal-detail-meta-item-text {
        @include inline-block;
        margin: 0;
        text-align: left;
    }

    .meinberlin-proposal-detail-meta-item-comments,
    .meinberlin-proposal-detail-meta-item-location {
        a {
            color: $color-text-highlight-introvert;
        }
    }
}

/*doc
---
title: Kiezkassen Proposal List Item
name: meinberlin-proposal-list-item
category: meinberlin
---

Kiezkassen Proposal List Item contains all the key information about a
kiezkassen proposal.  Key information may be content from the proposal as well
as metadata.  It serves as an entry to a detail view.


```html_example
<a class="proposal-list-item is-selected" href="" style="overflow:hidden">
    <div class="proposal-list-item-col-left">
        <h3 class="meinberlin-proposal-list-item-title">A title here</h3>
        by Cliff on 12.10.15
        <span class="badge is-realized">is realized</span>
        <span class="badge is-not-realized">is not realized</span>
    </div>
    <div class="proposal-list-item-col-right">
        <p class="meinberlin-proposal-list-meta-item m-comments">
            <i class="meinberlin-proposal-list-meta-item-icon icon-speechbubble-unfilled"></i> 12 comments</p>
        <p class="meinberlin-proposal-list-meta-item m-votes">
            <i class="meinberlin-proposal-list-meta-item-icon icon-voting"></i> +12</p>
        <p class="meinberlin-proposal-list-meta-item m-location">
            <i class="meinberlin-proposal-list-meta-item-icon icon-pin-detail"></i> Berlin</p>
    </div>
</a>

```
*/

.meinberlin-proposal-list-item {
    @include clearfix;
    @include rem(padding, 10px);
    color: $color-text-normal;
    display: block;
    text-decoration: none;

    &:hover, &:focus {
        @include clearfix;
        color: $color-text-normal;
        background: $color-structure-normal;
    }

    &.is-selected {
        .meinberlin-proposal-list-item-detail-link {
            background: $color-structure-normal;
        }
    }

    .badge {
        @include rem(margin-left, 20px);
    }
}

.meinberlin-alexanderplatz-proposal-list-item,
.section-jump-cover {
    .badge {
        @include rem(margin-bottom, 20px);
    }
}

.m-no-picture {
    .proposal-list-item-body {
        margin-left: 0;
    }
}

.meinberlin-proposal-list-item-title {
    @include rem(font-size, $font-size-normal);
    @include rem(margin, 0 0 15px);
}

.meinberlin-proposal-list-meta-item {
    @include rem(font-size, $font-size-small);
    @include rem(margin-bottom, 15px);
}

.meinberlin-proposal-list-meta-item-icon {
    @include rem(font-size, $font-size-small);
    @include rem(margin-right, 8px);
}

.meinberlin-proposal-form-footer {
    .form-footer-button {
        @include rem(padding-left, 10px);
    }
}
