.mein-berlin-proposal-form {
    label,
    .input-error {
        display: block;
    }

    .mein-berlin-proposal-form-footer {
        margin-top: 2em;
    }

    .form-footer-button {
        @extend .disguised-link;
    }
}

.is-selected {
    background-color: $color-text-highlight-normal;
}
