.moving-column {
    &.is-collapse {
        background: $color-background-base-introvert;
        border: 0;

        .moving-column-expand {
            color: $color-text-introvert;

            &:hover, &:focus, &:active,
            &:hover .moving-column-tab, &:focus .moving-column-tab,
            &:active .moving-column-tab {
                color: $color-text-highlight-normal;

            }

            .moving-column-icon {
                margin-right: 0;
            }
        }

        .moving-column-tab {
            background: $color-structure-normal;
            display: block;
            float: none;
            padding: 0;
            margin: 0;
        }
    }
}

.moving-column-body {
    background: $color-background-base-introvert;
    border: 0;
    padding: 0 (5px / $font-size-normal * 1em);
}

.moving-column-icon {
    margin-right: 5px / $font-size-normal * 1em;
}

.moving-column-menu {
    background: $color-background-base-introvert;
    padding: 0;
}

.moving-column-tab {
    @include inline-block;
    background: $color-background-base-introvert;
    color: $color-text-introvert;
    float: left;
    font-size: $font-size-small;
    font-weight: $font-weight-extrovert;
    margin: 0 (30px / $font-size-small * 1em) 0 (5px / $font-size-small * 1em);
    text-transform: uppercase;
    vertical-align: baseline;
}

.moving-column-menu-switch {
    float: right;
    margin-right: (5px / $font-size-small * 1em);

    .moving-column-menu-switch-item {
        background: $color-structure-normal;
        border-right: 1px solid $color-background-base;
        color: $color-text-introvert;
        display: block;
        float: left;
        padding: 0 (8px / $font-size-normal * 1em);

        &:last-child {
            border: 0;
        }

        &:hover, &:active, &.is-active {
            color: $color-brand-two-normal;
        }
    }
}

.moving-column-menu-nav {
    .moving-column-menu-nav-button {
        background: $color-structure-transparent;
        color: $color-text-highlight-normal;
        padding: 0 (15px / $font-size-small * 1em);
        min-width: 1px;
        vertical-align: middle;

        .moving-column-menu-nav-icon {
            font-size: 16px / $font-size-small * 1em;
            line-height: $moving-column-menu-height / 1em * $font-size-normal / 16px * 1em;
        }
    }
}
