.moving-column {
    &.is-collapse {
        background: $color-background-base-introvert;
        border: 0;

        .moving-column-expand {
            color: $color-text-introvert;

            &:hover, &:focus, &:active,
            &:hover .moving-column-tab, &:focus .moving-column-tab,
            &:active .moving-column-tab {
                color: $color-text-highlight-normal;

            }

            .moving-column-icon {
                margin-right: 0;
            }
        }

        .moving-column-tab {
            background: $color-structure-normal;
            display: block;
            float: none;
            padding: 0;
            margin: 0;
        }
    }
}

.moving-column-body {
    background-color: $color-background-base;
    border-color: $color-background-base-introvert;
}

.moving-column-icon {
    @include rem(margin-right, 5px);
}

.moving-column-menu {
    background: $color-background-base-introvert;
    padding: 0;
}

.moving-column-tab {
    @include inline-block;
    @include rem(margin, 0 30px 0 5px);
    background: $color-background-base-introvert;
    color: $color-text-introvert;
    float: left;
    font-size: $font-size-small;
    font-weight: $font-weight-extrovert;
    text-transform: uppercase;
    vertical-align: baseline;
}

.moving-column-menu-switch {
    @include rem(margin-right, 5px);
    float: right;

    .moving-column-menu-switch-item {
        @include rem(padding, 0 8px);
        background: $color-structure-normal;
        border-right: 1px solid $color-background-base;
        color: $color-text-introvert;
        display: block;
        float: left;

        &:last-child {
            border: 0;
        }

        &:hover, &:active, &.is-active {
            background: $color-brand-two-normal;
            color: $color-text-inverted;
        }
    }
}

.moving-column-menu-nav {
    .moving-column-menu-nav-button {
        @include rem(padding, 0 15px);
        background: $color-structure-transparent;
        color: $color-text-highlight-normal;
        min-width: 1px;
        vertical-align: middle;

        .moving-column-menu-nav-icon {
            @include rem(font-size, 16px);
            @include rem(line-height, $moving-column-menu-height);
        }
    }
}
