.rate {
    color: $color-text-introvert;

    .rate-difference,
    .rate-pro,
    .rate-contra {
        float: left;
        line-height: 24px / $font-size-small * 1em;
    }

    .rate-difference {
        margin-right: 8px / $font-size-small * 1em;

        &,
        &.is-positive,
        &.is-negative {
            color: inherit;
        }
    }

    .rate-pro,
    .rate-contra {
        @include inline-block;
        background: $color-background-base-introvert;
        color: $color-text-normal;
        min-width: 24px / $font-size-small * 1em;
        text-align: center;

        &:active,
        &.is-rate-button-active,
        &:hover,
        &:focus {
            background: $color-brand-two-normal;
            color: $color-text-inverted;
        }

        &:active,
        &.is-rate-button-active {
            &:hover,
            &:focus {
                background: $color-text-normal;
            }
        }
    }
}
