.rate {
    color: $color-text-introvert;

    .rate-difference,
    .rate-button-container {
        float: left;
    }

    .rate-difference {
        @include rem(line-height, 24px);
        @include rem(margin, 0 4px 0 8px);

        &,
        &.is-positive,
        &.is-negative {
            color: inherit;
        }
    }

    .rate-pro,
    .rate-contra {
        @include icon-button;

        &.is-rate-button-active,
        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled),
        &:active:not(.is-disabled) {
            background: $color-brand-two-normal;
            color: $color-text-inverted;
        }

        &:active,
        &.is-rate-button-active {
            &:hover,
            &:focus {
                background: $color-text-normal;
            }
        }
    }

    &.is-disabled {
        &:after {
            @extend .icon-voting:before;
            cursor: not-allowed;
            line-height: 1.35;
            font-size: 150%;
        }

        .rate-pro, .rate-contra {
            display: none;
        }
    }
}
