.rate {
    color: $color-text-introvert;

    .rate-difference,
    .rate-pro,
    .rate-contra {
        float: left;
    }

    .rate-difference {
        line-height: 24px / $font-size-small * 1em;
        margin: 0 (4px / $font-size-small * 1em) 0 (8px / $font-size-small * 1em);

        &,
        &.is-positive,
        &.is-negative {
            color: inherit;
        }
    }

    .rate-pro,
    .rate-contra {
        @include icon-button;

        &:active,
        &.is-rate-button-active,
        &:hover,
        &:focus {
            background: $color-brand-two-normal;
            color: $color-text-inverted;
        }

        &:active,
        &.is-rate-button-active {
            &:hover,
            &:focus {
                background: $color-text-normal;
            }
        }
    }

    &.is-disabled {
        &:after {
            @extend .icon-voting:before;
            cursor: not-allowed;
            line-height: 1.35em;
            font-size: 150%;
        }

        .rate-pro, .rate-contra {
            display: none;
        }
    }
}
