.standalone-wrapper {
    margin-top: 90px / $font-size-normal * 1em;
    padding-top: 90px / $font-size-normal * 1em;

    .login-cancel {
        margin: (24px / $font-size-normal * 1em) 0 0;
    }

    &:before {
        @include inline-block;
        background: url("/static/images/logo.png") no-repeat center top;
        content: " ";
        height: 100px;
        position: absolute;
        left: 0;
        top: -30px;
        width: 100%;
    }
}
