.standalone-wrapper {
    @include rem(padding-top, 90px);

    .login-cancel {
        @include rem(margin, 24px 0 0);
    }

    &:before {
        @include inline-block;
        background: url("/static/images/logo.png") no-repeat center top;
        content: " ";
        height: 100px;
        position: absolute;
        left: 0;
        top: -30px;
        width: 100%;
    }

    input[type="text"],
    input[type="url"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    input[type="time"],
    input[type="number"],
    select,
    textarea {
        background-color: $color-background-base;
    }
}
