.disguised-link {
    font-weight: normal;

    &, &:hover,
    &:focus {
        color: $color-text-introvert !important;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:active {
        color: black;
    }
}
