a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.disguised-link {
    font-weight: normal;

    &, &:hover,
    &:focus {
        color: $color-text-introvert;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:active {
        color: $color-text-extrovert;
    }
}
