<form class="register">
    <h1 class="title">Register!</h1>
    <div class="register-inputs">
        <input type="text" name="username" placeholder="username" />
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <input type="password" name="password_repeat" placeholder="password repeat" />
    </div>
    <div class="register-description box-with-button">
        <div class="textbox m-unobtrusive">
            <p>Disclaimer</p>
        </div>
        <input type="submit" name="register" value="register" ng-click="postRegistration()"/>
    </div>
</form>
