[submodule "python/buildout.python"]
	path = python/buildout.python
	url = git@github.com:collective/buildout.python.git
[submodule "src/substanced"]
	path = src/substanced
	url = git@github.com:Pylons/substanced.git
[submodule "src/adhocracy/adhocracy/frontend/static/submodules/requirejs"]
	path = src/adhocracy/adhocracy/frontend/static/submodules/requirejs
	url = git://github.com/jrburke/requirejs
[submodule "src/adhocracy/adhocracy/frontend/static/submodules/DefinitelyTyped"]
	path = src/adhocracy/adhocracy/frontend/static/submodules/DefinitelyTyped
	url = https://github.com/borisyankov/DefinitelyTyped
[submodule "src/adhocracy/adhocracy/frontend/static/submodules/angular.js"]
	path = src/adhocracy/adhocracy/frontend/static/submodules/angular.js
	url = https://github.com/angular/angular.js
