*~
*.swp
*.swo
*.pyc
*.pyo
*.log
__pycache__
/eggs
/parts
*~
.*~
*.egg-info
/.installed.cfg
/.mr.developer.cfg
/.sass-cache
.idea
/bin
/docs/build
/docs/styleguide/*
/etc/compass.min.rb
/etc/compass.rb
/etc/hologram.yml
/etc/meta_api.json
/python
/develop-eggs
/var
/include/
/lib/
/local/
/src/adhocracy/adhocracy/frontend/static/js/**/*.js
/src/adhocracy/adhocracy/frontend/static/js/**/*.js.map
/src/adhocracy/adhocracy/frontend/static/js/**/*.d.ts
!/src/adhocracy/adhocracy/frontend/static/js/**/_*.d.ts
/src/adhocracy/adhocracy/frontend/static/js/Resources_*
/src/adhocracy/adhocracy/frontend/static/js/TAGS
/src/adhocracy/adhocracy/frontend/static/js/tags
/src/adhocracy/adhocracy/frontend/static/js/AdhocracySpec.ts
/src/adhocracy/adhocracy/frontend/static/js/AdhocracyIg.ts
/src/adhocracy/adhocracy/frontend/static/test-no-blanket.html
/src/adhocracy/adhocracy/frontend/static/lib/
/src/adhocracy/adhocracy/frontend/static/stylesheets/.sass-cache/
/src/adhocracy/adhocracy/frontend/static/stylesheets/a3.css
/src/adhocracy/adhocracy/frontend/static/stylesheets/min/
/src/rubygemsrecipe/build/
/source_env
/.vagrant
/.ropeproject/
/.cache/
/.coverage
/htmlcov/
/pylintrc
/src/adhocracy/tests/selenium-screenshot-*
/src/adhocracy/tests/report.html
/src/adhocracy/tests/log.html
/src/adhocracy/tests/output.xml
/src/supervisor
*.js.map
*.css.map
