*~
*.swp
*.swo
*.pyc
*.pyo
__pycache__
/eggs
/parts
*~
.*~
*.egg-info
.installed.cfg
.mr.developer.cfg
.sass-cache
.idea
/bin
/docs/build
/docs/styleguide/*
/etc/compass.min.rb
/etc/compass.rb
/etc/hologram.yml
python
develop-eggs
/var
/include/
/lib/
/local/
/src/adhocracy/adhocracy/frontend/static/js/**/*.js
/src/adhocracy/adhocracy/frontend/static/js/**/*.js.map
/src/adhocracy/adhocracy/frontend/static/stylesheets/.sass-cache/
/src/adhocracy/adhocracy/frontend/static/stylesheets/a3.css
/src/adhocracy/adhocracy/frontend/static/stylesheets/min/
/src/rubygemsrecipe/build/
/source_env
/.vagrant
robotframework/bin/
robotframework/eggs/
robotframework/include/
robotframework/lib/
robotframework/local/
robotframework/selenium_demo/
a3-backend-mockup
/.ropeproject/
.cache/
/.coverage
/htmlcov/
/pylintrc
/src/adhocracy/tests/selenium-screenshot-*
/src/adhocracy/tests/report.html
/src/adhocracy/tests/log.html
/src/adhocracy/tests/output.xml
adhocracy3/

