*~
*.swp
*.swo
*.pyc
*.pyo
__pycache__
/eggs
/parts
*~
.*~
*.egg-info
.installed.cfg
.mr.developer.cfg
/bin
/docs/build
python
develop-eggs
/var
/include/
/lib/
/local/
/src/adhocracy/adhocracy/frontend/static/js/**/*.js
/src/adhocracy/adhocracy/frontend/static/js/**/*.js.map

