[buildout]
parts +=
     scsslint_yml
     nodejs
     tslint_shortcut
     bower
     AdhocracySpec.ts
     AdhocracyIg.ts
     resources
     javascript
     rubygems
     compass
     compass.min
     stylesheets
     hologram
     styleguide

[tslint_json]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/tslint.json.in
output = ${buildout:directory}/etc/tslint.json
mode = 644

[scsslint_yml]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/scss-lint.yml.in
output = ${buildout:directory}/etc/scss-lint.yml
mode = 644

[tslint_shortcut]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export cl_args="${buildout:bin-directory}/tslint -c ${tslint_json:output}"
    ${buildout:bin-directory}/tslint --version
    while read line; do
        cl_args="$cl_args -f $line"
    done < <(git ls-files | grep '\.ts$' | grep -v '\.d\.ts$')
    exec $cl_args
output = ${buildout:bin-directory}/tslint_check_adhocracy
mode = 755

[nodejs]
recipe = gp.recipe.node
version = 0.10.28
npms = typescript@1.1.0-1 tslint@0.4.13 bower@1.3.12 jasmine-node@2.0.0 q@1.0.1 lodash@2.4.1 node-fs@0.1.7 underscore.string@2.3.3
# a list of extra directory to add to NODE_PATH
#node-path =
scripts = node tsc tslint bower jasmine-node

[bower]
recipe = bowerrecipe
packages =
    jquery#1.11.1
    angular#1.2.26
    angular-route#1.2.26
    angular-animate#1.2.26
    angular-translate#2.4.0
    angular-translate-loader-static-files#2.4.0
    angular-elastic#2.4.0
    lodash#2.4.1
    requirejs#2.1.15
    requirejs-text#2.0.12
    DefinitelyTyped#bba33bcb0b363ae41db8517a09d1a4d07828616b
    jasmine#2.0.2
    blanket#1.1.5
    q#1.0.1
    moment#2.8.3
executable = ${buildout:bin-directory}/bower
base-directory = ${adhocracy:frontend.static_dir}/lib
downloads = .

[AdhocracySpec.ts]
recipe = plone.recipe.command
command = make -C ${adhocracy:frontend.static_dir}/js/ AdhocracySpec.ts
update-command = ${:command}

[AdhocracyIg.ts]
recipe = plone.recipe.command
command = make -C ${adhocracy:frontend.static_dir}/js/ AdhocracyIg.ts
update-command = ${:command}

[resources]
recipe = plone.recipe.command
command =
    cd ${adhocracy:frontend.static_dir}/js/  # must be in this relative path
    git ls-files --other ./Resources_ | xargs rm -f
    ${buildout:bin-directory}/prequest ${buildout:directory}/etc/noserver.ini /meta_api > ${buildout:directory}/etc/meta_api.json
    ${buildout:bin-directory}/tsc --module commonjs --sourcemap ./mkResources.ts
    ${buildout:bin-directory}/node ./mkResources.js ${buildout:directory}/etc/meta_api.json .
update-command = ${resources:command}

[javascript]
recipe = plone.recipe.command
command =
    ${buildout:bin-directory}/tsc -m amd -d --sourcemap ${adhocracy:frontend.static_dir}/js/Adhocracy*.ts
update-command = ${javascript:command}

[rubygems]
recipe = rubygemsrecipe
gems =
    sass==3.4.5
    compass==1.0.1
    hologram==1.2.0
    scss-lint==0.29.0
    susy==2.1.3

[compass]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/compass.rb.in
output = ${buildout:directory}/etc/compass.rb

[compass.min]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/compass.min.rb.in
output = ${buildout:directory}/etc/compass.min.rb

[stylesheets]
recipe = plone.recipe.command
command =
    ${buildout:bin-directory}/compass compile --force -c ${buildout:directory}/etc/compass.rb
    ${buildout:bin-directory}/compass compile --force -c ${buildout:directory}/etc/compass.min.rb
update-command = ${stylesheets:command}

[hologram]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/hologram.yml.in
output = ${buildout:directory}/etc/hologram.yml
mode = 644

[styleguide]
recipe = plone.recipe.command
command =
    ${buildout:bin-directory}/hologram ${hologram:output}
update-command = ${styleguide:command}

