recursive-include src/mercator/static_compiled *.js *.css *.woff *.eot *.ttf *.svg *.xml *.ico *.json *.jpg *.gif *.png *.html *.md *.mako *.pt
global-exclude *Spec.js
global-exclude *Ig.js
prune src/mercator/static_compiled/styleguide
prune src/mercator/static_compiled/lib/DefinitelyTyped
prune src/mercator/static_compiled/lib/q
prune src/mercator/static_compiled/lib/jasmine
prune src/mercator/static_compiled/lib/blanket
