include RELEASE-VERSION version.py
recursive-include src/mercator/build *.js *.css *.woff *.eot *.ttf *.svg *.xml *.ico *.json *.jpg *.gif *.png *.html *.md *.mako *.pt
global-exclude *Spec.js
global-exclude *Ig.js
prune src/mercator/build/lib/DefinitelyTyped
prune src/mercator/build/lib/q
prune src/mercator/build/lib/jasmine
prune src/mercator/build/lib/blanket
