<adh-login></adh-login>

<table border="1">
    <tr>
        <td id="document_workbench_navigate">
            <p>generic widgets: abstract listing</p>
            <wdg-abstract-listing></wdg-abstract-listing>
            <p>generic widgets: proposal listing</p>
            <wdg-proposal-listing></wdg-proposal-listing>
        </td>
        <td id="document_workbench_list">
            <h3>table of contents</h3>

            <ol>
                <li ng-repeat="doc in poolEntries">
                    <div ng-switch="doc">
                        <div ng-switch-when="undefined">
                            <small><tt>(empty DAG)</tt></small>
                        </div>
                        <div ng-switch-default>
                            <adh-proposal-version-detail content="doc.content" viewmode="doc.viewmode"></adh-proposal-version-detail>
                        </div>
                    </div>
                </li>
            </ol>
        </td>
        <td id="document_workbench_participate">
            <div ng-if="user.can('proposal.create')">
                <p>proposal workbench changes and discussion</p>
                <adh-proposal-version-new on-new-proposal="insertParagraph"></adh-proposal-version-new>
            </div>
        </td>
    </tr>
</table>
