<table border="1" ng-controller="AdhDocumentTOC as at">
    <tr>
        <td>
            <div id="document_workbench_navigate">
                <p>document workbench navigation</p>
            </div>
        </td>
        <td>
            <div id="document_workbench_list">
                <h3>table of contents</h3>

                <div>
                    <ol>
                        <li ng-repeat="doc in poolEntries track by $index">
                            <div ng-switch="doc">
                                <div ng-switch-when="undefined">
                                    <small><tt>(empty DAG)</tt></small>
                                </div>
                                <div ng-switch-default>
                                    <adh-proposal-version-detail></adh-proposal-version-detail>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </td>
        <td>
            <div id="document_workbench_participate">
                <p>proposal workbench changes and discussion</p>
                <adh-proposal-version-new on-new-proposal="insertParagraph"></adh-proposal-version-new>
            </div>
        </td>
    </tr>
</table>
