<div class="section" style="padding-left: 0.5em">
    <div ng-switch="viewmode">
        <div ng-switch-when="display">
            <h1 ng-if="content.title">{{ content.title }}</h1>
        </div>
        <div ng-switch-when="edit">
            <label>title: <input ng-model="content.title" /></label>
        </div>
    </div>
    <adh-paragraph-version-detail
        ng-repeat="paragraphRef in content.data['adhocracy.sheets.document.ISection'].elements"
        ref="paragraphRef"
        viewmode="viewmode">
    </adh-paragraph-version-detail>
    <adh-section-version-detail
        ng-repeat="sectionRef in content.data['adhocracy.sheets.document.ISection'].subsections"
        ref="sectionRef"
        viewmode="viewmode">
    </adh-section-version-detail>
</div>
