// http://www.w3.org/TR/WCAG20/#contrast-ratiodef

@function srgb($channel) {
    $x: $channel / 255;
    @if $x <= 0.03928 {
        @return $x / 12.92;
    } @else {
        @return pow(($x + 0.055) / 1.055, 2.4);
    }
}

/* Relative luminance according to WCAG20 */
@function luminance($color) {
    $r: srgb(red($color));
    $g: srgb(green($color));
    $b: srgb(blue($color));
    @return 0.2126 * $r + 0.7152 * $g + 0.0722 * $b;
}

/* Contrast according to WCAG20 */
@function contrast($color1, $color2) {
    $l1: luminance($color1);
    $l2: luminance($color2);
    @if $l1 > $l2 {
        @return ($l1 + 0.05) / ($l2 + 0.05);
    } @else {
        @return ($l2 + 0.05) / ($l1 + 0.05);
    }
}

@mixin check-contrast(
    $color1,
    $color2,
    $threshold: 4.5,
    $msg: "contrast too low!"
) {
    $contrast: contrast($color1, $color2);
    @if $contrast < $threshold {
        @warn $msg, $color1, $color2, $contrast;
    }
}
