/*doc
---
title: Colors
name: colors
category: Variables
---

<table class="styleguide-colors">
    <tr>
        <td><div class="example-color color-prime-standard"></div></td>
        <td><code>color-prime-standard</code></td>
        <td>Default color for running text</td>
    </tr>
    <tr>
        <td><div class="example-color color-prime-extrovert"></div></td>
        <td><code>color-prime-extrovert</code></td>
        <td>Default color for headings</td>
    </tr>
    <tr>
        <td><div class="example-color color-secondary-extrovert"></div></td>
        <td><code>color-secondary-extrovert</code></td>
        <td>For secondary text</td>
    </tr>
    <tr>
        <td><div class="example-color color-secondary-introvert"></div></td>
        <td><code>color-secondary-introvert</code></td>
        <td>For secondary text</td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-standard"></div></td>
        <td><code>color-highlight-standard</code></td>
        <td>For highlighted content such as links</td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-introvert"></div></td>
        <td><code>color-highlight-introvert</code></td>
        <td>For highlighted content in a is-hover state</td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-extrovert"></div></td>
        <td><code>color-highlight-extrovert</code></td>
        <td>For highlighted content in a has-focus state</td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-reverse"></div></td>
        <td><code>color-highlight-reverse</code></td>
        <td>Used as either foreground or background with
            <code>color-highlight-standard</code></td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-valid"></div></td>
        <td><code>color-highlight-valid</code></td>
        <td>For valid content</td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-invalid"></div></td>
        <td><code>color-highlight-invalid</code></td>
        <td>For invalid content</td>
    </tr>
    <tr>
        <td><div class="example-color color-background"></div></td>
        <td><code>color-background</code></td>
        <td>Default background color</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-surface"></div></td>
        <td><code>color-structure-surface</code></td>
        <td>Secondary background color</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-active"></div></td>
        <td><code>color-structure-active</code></td>
        <td></td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-border"></div></td>
        <td><code>color-structure-border</code></td>
        <td>Default border color</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-border-introvert"></div></td>
        <td><code>color-structure-border-introvert</code></td>
        <td>Border color for inactive or disabled elements</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-border-extrovert"></div></td>
        <td><code>color-structure-border-extrovert</code></td>
        <td>border color for active or filled elements</td>
    </tr>
</table>
*/
$color-prime-standard: #575756;
$color-prime-extrovert: #1c1c1b;
$color-secondary-extrovert: #9d9c9c;
$color-secondary-introvert: #dadad9;
$color-highlight-standard: #009ee3;
$color-highlight-introvert: #3eb7ea;
$color-highlight-extrovert: #0088b9;
$color-highlight-reverse: white;
$color-highlight-valid: #2eac66;
$color-highlight-invalid: #e6332a;
$color-background: white;
$color-structure-surface: #dadad9;
$color-structure-active: #f5f5f5;
$color-structure-border: #9d9c9c;
$color-structure-border-introvert: #dadad9;
$color-structure-border-extrovert: #575756;

.example-color {
    @include inline-block;
    height: 3em;
    width: 3em;
    border: 1px solid $color-structure-border;
}

.color-prime-standard {background-color: $color-prime-standard;}
.color-prime-extrovert {background-color: $color-prime-extrovert;}
.color-secondary-extrovert {background-color: $color-secondary-extrovert;}
.color-secondary-introvert {background-color: $color-secondary-introvert;}
.color-highlight-standard {background-color: $color-highlight-standard;}
.color-highlight-introvert {background-color: $color-highlight-introvert;}
.color-highlight-extrovert {background-color: $color-highlight-extrovert;}
.color-highlight-reverse {background-color: $color-highlight-reverse;}
.color-highlight-valid {background-color: $color-highlight-valid;}
.color-highlight-invalid {background-color: $color-highlight-invalid;}
.color-background {background-color: $color-background;}
.color-structure-surface {background-color: $color-structure-surface;}
.color-structure-active {background-color: $color-structure-active;}
.color-structure-border {background-color: $color-structure-border;}
.color-structure-border-introvert {background-color: $color-structure-border-introvert;}
.color-structure-border-extrovert {background-color: $color-structure-border-extrovert;}

// some static contrast checks for a11y
@include check-contrast($color-prime-standard, $color-background);
@include check-contrast($color-prime-standard, $color-structure-surface);
@include check-contrast($color-prime-extrovert, $color-background);
@include check-contrast($color-prime-extrovert, $color-structure-surface);
@include check-contrast($color-highlight-standard, $color-highlight-reverse);
@include check-contrast($color-highlight-standard, $color-background);
@include check-contrast($color-highlight-standard, $color-structure-surface);

$font-family-standard: "Open Sans", sans-serif;
$font-weight-standard: normal;
$font-weight-extrovert: 900;
$font-size-small: 12px;
$font-size-standard: 14px;
$font-size-plus: 16px;
$font-size-large: 21px;
$font-letter-spacing-standard: 0.050em;
$font-letter-spacing-narrow: 0.025em;

$red: red;
$green: green;
