$color-prime-standard: #575756;
$color-prime-extrovert: #1c1c1b;
$color-secondary-extrovert: #9d9c9c;
$color-secondary-introvert: #dadad9;
$color-highlight-standard: #009ee3;
$color-highlight-reverse: white;
$color-background: white;
$color-structure-surface: #dadad9;
$color-structure-border: #9d9c9c;

$font-family-standard: "Open Sans", sans-serif;
$font-weight-standard: normal;
$font-weight-extrovert: 900;
$font-size-small: 12px;
$font-size-standard: 14px;
$font-size-plus: 16px;
$font-size-large: 21px;
$font-letter-spacing-standard: 0.050em;
$font-letter-spacing-narrow: 0.025em;

$red: red;
$green: green;
