$input-margin-bottom: 24px;
$error-line-height: $font-size-normal;

%error-spacing {
    margin-bottom: 0;

    + .input-error,
    + .input-error + .input-error {
        margin-bottom: $input-margin-bottom - $error-line-height;
    }
}

input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
    background: $color-structure-normal;
    border: 0;
    margin-bottom: $input-margin-bottom;

    &.ng-dirty.ng-invalid {
        @extend %error-spacing;
        border-color: $color-function-invalid;
        color: $color-function-invalid;
        outline: 1px solid $color-function-invalid;
    }
}

.ng-submitted {
    input[type="text"],
    input[type="url"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    input[type="time"],
    input[type="number"],
    input,
    label,
    div,
    select,
    textarea {
        &.ng-invalid {
            @extend %error-spacing;
        }
    }
}

.input-error {
    line-height: $error-line-height;
}
