$input-margin-bottom: 24px;
$error-line-height: $font-size-normal;

%error-spacing {
    @extend .error-state;
    margin-bottom: 0;

    + .input-error,
    + .input-error + .input-error {
        margin-bottom: $input-margin-bottom - $error-line-height;
    }
}

input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
    background: $color-structure-normal;
    border: 0;
    color: $color-text-highlight-introvert;
    margin-bottom: $input-margin-bottom;

    &.ng-dirty, &.is-dirty {
        &.ng-invalid, &:invalid, &.is-invalid {
            @extend %error-spacing;
        }
    }
}

.ng-submitted {
    input[type="text"],
    input[type="url"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    input[type="time"],
    input[type="number"],
    label,
    div,
    select,
    textarea {
        &.ng-invalid, &:invalid, &.is-invalid {
            // scss-lint:disable NestingDepth

            @extend %error-spacing;
        }
    }
}

.input-error {
    line-height: $error-line-height;
}
