.listing-create-form {
    background-color: $color-structure-border-introvert;
    padding: 1em 1em 0.8em;
    overflow: hidden;
}

.comment-create-form-text {
    background: $color-highlight-reverse;
    min-height: 5.8em;
}

.comment-create-form-button-submit {
    float: right;
}
