.listing-create-form {
    background-color: $color-structure-normal;
    padding: 1em;
    overflow: hidden;

    .form-footer {
        padding: 0;
    }
}

.comment-create-form-text {
    background: $color-text-inverted;
    min-height: 5.8em;
}

.comment-create-form-button-submit {
    float: right;
}
