/*
The mercator proposal list item may have the states `is-selected` or
`is-not-selected` where the latter one is used if a different proposal is
selected. If no proposal is selected, no state is applied.
*/

$mercator-proposal-form-nav-width: 100% / 12 * 2;

.mercator-proposal-form {
    width: 100% / 12 * 10 * 0.65;
    margin-left: $mercator-proposal-form-nav-width;
    background: white;

    label {
        display: block;
        padding-bottom: 0.8em;
    }

    input[type="submit"] {
        font-size: $font-size-huge;
        width: 100%;
    }

    fieldset {
        border: 0;
        padding: 0 0 0 1.6em;
    }

    .annotated-section {
        width: 100% * 1 / 0.6289;

        .annotated-section-annotation {
            background-color: $color-background-base-introvert;
        }
    }
}

.mercator-proposal-form-container {
    background: $color-structure-normal;
}

.mercator-proposal-form-annotation {
    position: relative;
    z-index: 1;
}

.mercator-proposal-form-subheading,
.mercator-proposal-form-heading,
.mercator-proposal-form-sub-subheading {
    @include text(functional);
    margin: 0 0 0.8em;
}

.mercator-proposal-form-heading {
    border: 1px solid $color-structure-normal;
    border-width: 1px 0;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 -1em 0.8em;
    padding: 0 1em 1px;

    &.active {
        color: $color-text-highlight-normal;
    }
}

.mercator-proposal-form-sub-subheading {
    font-weight: $font-weight-extrovert;
}

.mercator-proposal-form-subheading +
.mercator-proposal-form-sub-subheading {
    margin-top: -0.8em;
}

.mercator-proposal-form-nav {
    @extend .jump-navigation;
    float: left;
    width: $mercator-proposal-form-nav-width;
    font-size: $font-size-small;
    padding: 1px 1px 0;

    li {
        background: $color-background-base-introvert;
        line-height: 2;
        margin-bottom: 1px;

        &, a {
            color: $color-text-highlight-normal;
            padding-bottom: 0;
        }

        &.active {
            background: white;
            text-decoration: underline;
        }
    }

    a {
        text-decoration: none;
    }
}

.mercator-proposal-form-section {
    padding: 0 1em;
}

.mercator-proposal-detail-view {
    @include container;
}

.mercator-proposal-detail-view-image {
    float: left;
    width: 100%;
}

.mercator-proposal-detail-meta,
.mercator-propsal-list-item-meta {
    @include container;
    @include text(functional-introvert);

    // reset ul default styling
    margin: 0;
    padding: 0;
    list-style: none;
}

.mercator-propsal-list-item-meta-item,
.mercator-propsal-detail-meta-item {
    @include text(functional-introvert);
    float: left;
    margin-right: 0.83333333em;

    i {
        font-size: 140%;
        line-height: 1;
        margin-right: 1px;
        vertical-align: middle;
    }

    &.mercator-propsal-list-item-meta-item-total-comments,
    &.mercator-propsal-detail-meta-item-total-comments {
        i {
            color: $color-brand-three-normal;
        }
    }

    &.mercator-propsal-list-item-meta-item-supporters,
    &.mercator-propsal-detail-meta-item-total-supporters {
        i {
            color: $color-brand-one-normal;
            font-size: 200%;
            vertical-align: text-top;
        }
    }

    &.mercator-propsal-detail-meta-item-budget {
        i {
            font-size: 160%;
        }
    }

    &:last-child {
        float: right;
        margin-right: 0;
    }

    &.mercator-propsal-list-item-meta-item-budget {
        color: $color-text-highlight-normal;
        font-size: $font-size-plus;
    }
}

.mercator-proposal-detail-username a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.mercator-proposal-detail-orgs-columns {
    margin: 20 / 14 * 1em 0;
    overflow: hidden;
    padding: 0;

    li {
        @include gallery(1 of 3);
        display: inline;
        list-style-type: none;
    }
}

.mercator-proposal-detail-meta {
    padding-bottom: 1.66666666em;

    .mercator-propsal-detail-meta-item-total-comments {
        i {
            color: $color-text-highlight-introvert;
        }
    }
}

.mercator-proposal-detail-cover {
    @include span(full);
    border-bottom: 2px solid $color-structure-normal;
    padding: 1.07142857em 0.71428571em 0.71428571em;

    .chapter-header {
        margin: 0;
        font-size: $font-size-large;
    }

    .like {
        margin-top: -0.35714285em;
    }
}

.mercator-proposal-cover-show-comments {
    @include show-comments;
    float: right;

    &:hover, &:focus {
        color: $color-brand-three-normal;
    }

    i {
        font-size: 217%;
        line-height: 0.8;
    }
}

.mercator-proposal-cover-header {
    @include text(header);
    margin: 0;
}

.mercator-proposal-detail-container {
    background-color: $color-background-base-introvert;
    clear: left;
}

$mercator-proposal-detail-nav-width: 2em;

.mercator-proposal-detail-nav {
    @extend .jump-navigation;
    text-align: center;
    width: $mercator-proposal-detail-nav-width;
    float: left;

    li {
        a {
            margin: 0 0 1em;
        }
    }
}

.mercator-proposal-chapters {
    background-color: white;
    border-left: 2px solid $color-structure-normal;
    counter-reset: chapter-counter;
    padding: 0 1em;
    margin-left: $mercator-proposal-detail-nav-width;

    .chapter-header {
        background: transparent;
        color: $color-text-introvert;
        font-size: $font-size-normal;
        margin: 0 0 1em;
        padding: 0;

        &.active {
            color: $color-text-highlight-normal;
        }

        &:before {
            content: counter(chapter-counter) ". ";
            counter-increment: chapter-counter;
        }
    }

    h3 {
        color: $color-text-introvert;
        font-variant: small-caps;
        line-height: 1.15;
        margin: 0 0 15 / 14 * 1em;
        text-transform: lowercase;
    }
}

.mercator-proposal-detail-nav,
.mercator-proposal-chapters {
    padding-top: 1em;
}

.mercator-proposal-list-item {
    @include container;
    border-bottom: 2px solid $color-structure-normal;
    font-size: $font-size-plus;
    line-height: 1;
    padding: 1em 1.25em 1.125em 0.875em;

    &.is-not-selected {
        background: $color-background-base-introvert;

        i[class*=icon-],
        .mercator-propsal-list-item-meta-item-budget {
            color: $color-text-highlight-introvert;
        }
    }
}

.mercator-proposal-detail-footer {
    border-top: 2px solid  $color-structure-normal;
    margin: 0 -1em;
    overflow: hidden;
    padding: (10 / 14 * 1em) 1em;

    i {
        font-size: 90%;
    }

    .button-back-to-top {
        color: $color-text-introvert;
        float: left;
        line-height: 24 / 14 * 1em;
        text-decoration: none;

        &:hover, &:focus {
            color: $color-text-highlight-normal;
        }

        &:active {
            color: $color-text-highlight-extrovert;
        }
    }

    .like {
        float: right;
    }
}

.mercator-proposal-list-item-image {
    float: left;
    margin-right: 0.6875em;

    img {
        float: left;
        height: auto;
        width: 6.5625em;
    }
}

.mercator-proposal-list-item-username,
.mercator-proposal-list-item-title {
    margin: 0;
}

.mercator-proposal-list-item-username {
    font-size: $font-size-small;

    a {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.mercator-proposal-list-item-title {
    font-size: $font-size-plus;
    font-weight: $font-weight-extrovert;
    padding: 0.9375em 0;

    a {
        color: $color-text-normal;
        text-decoration: none;

        &:hover, &:focus {
            color: $color-text-highlight-normal;
        }
    }
}

.mercator-proposal-budget-col {
    float: left;
    margin-bottom: 20 / 14 * 1em;
    padding-right: 2em;

    &.budget {
        color: $color-text-introvert;
    }

    strong {
        display: block;
        font-size: $font-size-large;
        font-weight: normal;
    }
}

.mercator-proposal-other-sources {
    clear: left;
    padding-top: 1em;
}

.picture-upload-file img {
    height: auto;
    max-width: 100%;
}
