.mercator-proposal-form {
    @include span(last 10 of 12);
    position: relative;
    background: white;
    border: 1px solid $color-structure-border;
    border-left: 0;

    label {
        display: block;
    }

    input[type="submit"] {
        font-size: $font-size-huge;
        width: 100%;
    }
}

.mercator-proposal-form-nav {
    @include span(first 2 of 12);
    @extend .jump-navigation;
}

.mercator-proposal-detail-view {
    @include container;
}

.mercator-proposal-cover {
    @include span(full);
    border-bottom: 1px solid $color-structure-border;

    .proposal-meta {
        // reset ul default styling
        margin: 0;
        padding: 0;
        list-style: none;

        @include container;
        margin-bottom: gutter(12);

        .proposal-meta-column {
            @include span(2 of 12);

            &:first-child {
                @include span(first 2 of 12);
            }

            &:last-child {
                @include span(last 2 of 12);
            }
        }
    }
}

.mercator-proposal-cover-show-comments {
    float: right;
}

.mercator-proposal-detail-nav {
    @include span(first 2 of 12);
    @extend .jump-navigation;
}

.mercator-proposal-chapters {
    @include span(last 10 of 12);
}
