$gutter: 3%;
$columns: 6;

@function column-width($n) {
    @return (100% - $gutter) / $columns * $n - $gutter;
}

.mercator-proposal-form {
    position: relative;
    width: 100%;
    background: white;
    padding-left: column-width(1) + 2 * $gutter;
    padding-right: $gutter;
    border: 1px solid $color-structure-border;
    border-left: 0;

    label {
        display: block;
    }

    input[type="submit"] {
        font-size: $font-size-huge;
        width: 100%;
    }
}

.mercator-proposal-form-nav {
    position: absolute;
    width: column-width(1);
    border: 1px solid $color-structure-border;
    padding: 0 1em;
    left: $gutter;
    top: 0.5em;
    z-index: 1;

    a {
        &.active {
            font-weight: bold;
        }
    }
}

.mercator-proposal-cover {
    @include clearfix;

    .proposal-meta {
        .proposal-meta-column {
            float: left;
        }
    }
}

.mercator-proposal-cover-show-comments {
    float: right;
}

.mercator-proposal-detail-nav {
    float: left;
    width: column-width(2);
}

.mercator-proposal-chapters {
    float: left;
    width: column-width(4);
}
