/*
The mercator proposal list item may have the states `is-selected` or
`is-not-selected` where the latter one is used if a different proposal is
selected. If no proposal is selected, no state is applied.
*/

.mercator-proposal-form {
    float: left;
    width: 100% / 12 * 10 * 0.65;
    background: white;

    label {
        display: block;
        padding-bottom: 0.8em;
    }

    input[type="submit"] {
        font-size: $font-size-huge;
        width: 100%;
    }

    fieldset {
        border: 0;
        padding: 0 0 0 1.6em;
    }

    .annotated-section {
        width: 100% * 1 / 0.65;
    }
}

.mercator-proposal-form-container {
    background: $color-structure-border-introvert;
    overflow: hidden;
}

.mercator-proposal-form-annotation {
    position: relative;
    z-index: 1;
}

.mercator-proposal-form-subheading,
.mercator-proposal-form-heading,
.mercator-proposal-form-sub-subheading {
    @include text(functional);
    margin: 0 0 0.8em;
}

.mercator-proposal-form-heading {
    border-bottom: 1px solid $color-structure-border-introvert;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 -1em 0.8em;
    padding: 0 1em;
}

.mercator-proposal-form-sub-subheading {
    font-weight: $font-weight-extrovert;
}

.mercator-proposal-form-subheading +
.mercator-proposal-form-sub-subheading {
    margin-top: -0.8em;
}

.mercator-proposal-form-nav {
    @extend .jump-navigation;
    float: left;
    width: 100% / 12 * 2;
    font-size: $font-size-small;
    padding-right: 1px;

    li {
        background: $color-structure-active;
        line-height: 2;
        margin-bottom: 1px;

        &, a {
            color: $color-highlight-normal;
            padding-bottom: 0;
        }

        a {
            padding-left: 1em;
        }

        &.active {
            background: white;
            text-decoration: underline;
        }
    }

    a {
        text-decoration: none;
    }
}

.mercator-proposal-form-section {
    padding: 0 1em;
}

.mercator-proposal-detail-view {
    @include container;
}

.mercator-proposal-detail-meta,
.mercator-propsal-list-item-meta {
    @include container;
    @include text(functional-introvert);

    // reset ul default styling
    margin: 0;
    padding: 0;
    list-style: none;
}

.mercator-propsal-list-item-meta-item,
.mercator-propsal-detail-meta-item {
    @include text(functional-introvert);
    float: left;
    margin-right: 1.66666666em;

    i {
        font-size: 140%;
        line-height: 1;
        margin-right: 1px;
        vertical-align: middle;

        &.icon-speechbubbles {
            color: $color-brand-accent1;
        }

        &.icon-pointy-rectangle-left {
            color: $color-brand-accent2;
            font-size: 200%;
            vertical-align: text-top;
        }

        &.icon-pig {
            font-size: 160%;
        }
    }

    &:last-child {
        float: right;
        margin-right: 0;
    }

    &.mercator-propsal-list-item-meta-item-budget {
        color: $color-highlight-normal;
        font-size: $font-size-plus;
    }
}

.mercator-proposal-detail-meta {
    padding-bottom: 1em;

    .icon-speechbubbles {
        color: $color-highlight-extrovert;
    }
}

.mercator-proposal-detail-cover {
    @include span(full);
    border-bottom: 1px solid $color-secondary-introvert;
    padding: 0.8em 0.8em 0.5em;

    .chapter-header {
        margin: 0;
        font-size: $font-size-large;
    }
}

.mercator-proposal-cover-show-comments {
    @include show-comments;
    float: right;

    i {
        font-size: 200%;
    }
}

.mercator-proposal-cover-header {
    @include text(header);
    margin: 0;
}

.mercator-proposal-detail-container {
    background-color: $color-structure-active;
    clear: left;
    overflow: hidden;
}

$mercator-proposal-detail-nav-width: 3.3%;

.mercator-proposal-detail-nav {
    @extend .jump-navigation;
    text-align: center;
    width: $mercator-proposal-detail-nav-width;

    li {
        a {
            padding: 0 0 1em;
        }
    }
}

.mercator-proposal-chapters {
    background-color: white;
    border-left: 1px solid $color-secondary-introvert;
    padding: 0 0.8em;
    width: 100% - $mercator-proposal-detail-nav-width;

    .chapter-header {
        background: transparent;
        font-size: $font-size-normal;
        margin: 0 0 1em;
        padding: 0;
    }

    h3 {
        margin-top: 0;
    }
}

.mercator-proposal-detail-nav,
.mercator-proposal-chapters {
    float: left;
    padding-top: 1em;
}

.mercator-proposal-list-item {
    @include container;
    border-bottom: 1px solid $color-secondary-introvert;
    font-size: $font-size-plus;
    line-height: 1;
    padding: 1em 1.25em 1.125em 0.875em;

    .m-has-image {
        float: left;
    }

    &.is-not-selected {
        background: $color-structure-active;

        i[class*=icon-],
        .mercator-propsal-list-item-meta-item-budget {
            color: $color-highlight-extrovert;
        }
    }
}

.mercator-proposal-list-item-image {
    float: left;
    margin-right: 0.6875em;

    img {
        float: left;
        height: auto;
        width: 6.5625em;
    }
}

.mercator-proposal-list-item-username,
.mercator-proposal-list-item-title {
    margin: 0;
}

.mercator-proposal-list-item-username {
    font-size: $font-size-small;

    a {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.mercator-proposal-list-item-title {
    font-size: $font-size-plus;
    font-weight: $font-weight-normal;
    padding: 0.9375em 0;

    a {
        color: $color-prime-normal;
        text-decoration: none;

        &:hover, &:focus {
            color: $color-highlight-normal;
        }
    }
}

.mercator-proposal-budget-col {
    float: left;
    padding-right: 2em;

    &.budget {
        color: $color-secondary-extrovert;
    }

    strong {
        display: block;
        font-size: $font-size-large;
        font-weight: normal;
    }
}

.mercator-proposal-other-sources {
    clear: left;
    padding-top: 1em;
}

.picture-upload-file img {
    height: auto;
    max-width: 100%;
}
