.mercator-proposal-form {
    @include span(last 10 of 12);
    position: relative;
    background: white;
    border: 1px solid $color-structure-border;
    border-left: 0;

    label {
        display: block;
    }

    input[type="submit"] {
        font-size: $font-size-huge;
        width: 100%;
    }
}

.mercator-proposal-form-nav {
    @include span(first 2 of 12);
    @extend .jump-navigation;
}

.mercator-proposal-detail-view {
    @include container;
}

.mercator-proposal-detail-meta,
.mercator-propsal-list-item-meta {
    // reset ul default styling
    margin: 0;
    padding: 0;
    list-style: none;

    @include container;
    margin-bottom: gutter(12);
}

.mercator-propsal-detail-meta-item {
    @include gallery(2 of 12);
}

.mercator-propsal-list-item-meta-item {
    @include gallery(3 of 12);
}

.mercator-proposal-detail-cover {
    @include span(full);
    border-bottom: 1px solid $color-structure-border;
}

.mercator-proposal-cover-show-comments {
    float: right;
}

.mercator-proposal-detail-nav {
    @include span(first 2 of 12);
    @extend .jump-navigation;
}

.mercator-proposal-chapters {
    @include span(last 10 of 12);
}

.mercator-proposal-list-item {
    @include container;
    border-bottom: 1px solid $color-structure-border;

    .mercator-proposal-list-item-image {
        @include span(3 of 12 first);
    }

    .m-has-image {
        @include span(9 of 12 last);
    }

    .mercator-proposal-list-item-username,
    .mercator-proposal-list-item-title {
        margin: 0;
    }

    .mercator-proposal-list-item-username {
        @include text(introvert);
        a {
            text-decoration: none;
        }
    }
}

.picture-upload-file img {
    height: auto;
    max-width: 100%;
}
