$gutter: 3%;
$columns: 6;

@function column-width($n) {
    @return (100% - $gutter) / $columns * $n - $gutter;
}

.row {
    clear: both;
    float: left;
    width: 100%;
}

.mercator-proposal-form {
    position: relative;
    width: 100%;
    background: white;
    padding-left: column-width(1) + 2 * $gutter;
    padding-right: $gutter;
    border: 1px solid $color-structure-border;
    border-left: 0;

    .form-body {
        float: left;
        padding-right: $gutter;
        width: column-width(4);
    }

    .form-description {
        float: right;
        padding-bottom: $gutter;
        width: column-width(2);
    }

    label {
        display: block;
    }

    input[type="submit"] {
        font-size: $font-size-huge;
        width: 100%;
    }

    .description {
        width: column-width(2) / column-width(4) * 100%;
        position: absolute;
        left: 100% + $gutter * column-width(2) / column-width(4);
        padding: 0 0.5em;
    }

    ng-form {
        overflow: hidden;
    }
}

.mercator-proposal-nav {
    position: fixed;
    width: column-width(1);
    border: 1px solid $color-structure-border;
    padding: 0 1em;
    left: $gutter;
    top: 0.5em;
    z-index: 1;

    a {
        &.active {
            font-weight: bold;
        }
    }
}

// Detail page very quick styles for presentation will be made nice
// at a later date!

.mercator-detail-nav, .mercator-detail-body {
    float: left;
}

.mercator-detail-nav {
    width: column-width(2);
}

.mercator-detail-body {
    h2 {
        margin-top: 0;
    }
}

.mercator-detail-body {
    width: column-width(4);
    ul.meta {
        padding: 0;
        li {
            border-bottom: 1px solid $color-structure-border;
            list-style-type: none;
        }
    }

}
