@mixin triangle-tl {
    position: relative;

    &:before {
        content: "";
        border-right: 1.0769em solid transparent;
        border-top: 1.0769em solid $color-brand-accent2;
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
    }
}
