$color-prime-normal: #575756;
$color-prime-extrovert: #1c1c1b;
$color-secondary-extrovert: #333;
$color-secondary-introvert: #e6e6e6;
$color-highlight-normal: #26a9e0;
$color-highlight-introvert: #3eb7ea;
$color-highlight-extrovert: #808080;
$color-highlight-reverse: white;
$color-highlight-valid: #2eac66;
$color-highlight-invalid: #e6332a;
$color-background: white;
$color-structure-surface: #ccc;
$color-structure-active: #f5f5f5;
$color-structure-border: #9d9c9c;
$color-structure-border-introvert: #e6e6e6;
$color-structure-border-extrovert: #999;

$font-size-small: 10px;
$font-size-normal: 12px;
$font-size-plus: 14px;
$font-size-large: 21px;
$font-size-huge: 40px;
