// Text colors
$color-text-normal: #575756;
$color-text-introvert: #808080;
$color-text-extrovert: #1c1c1b;
$color-text-highlight-normal: #26a9e0;
$color-text-highlight-introvert: #808080;
$color-text-highlight-extrovert: #333;
$color-text-inverted: white;

// Function colors
$color-function-valid: #2eac66;
$color-function-invalid: #e6332a;

// Background colors
$color-background-base: white;
$color-background-base-introvert: #f2f2f2;

// Structure colors
$color-structure-normal: #e6e6e6;
$color-structure-introvert: #ccc;
$color-structure-extrovert: #999;
$color-structure-border: #9d9c9c;

//Brand colors
$color-brand-one-normal: #fcb813;
$color-brand-three-normal: #ce128b;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-plus: 16px;
$font-size-large: 18px;
$font-size-huge: 42px;
