$color-text-normal: #575756;
$color-prime-extrovert: #1c1c1b;
$color-text-introvert: #808080;
$color-secondary-normal: #333;
$color-secondary-introvert: #e6e6e6;
$color-highlight-normal: #26a9e0;
$color-highlight-introvert: #3eb7ea;
$color-highlight-extrovert: #808080;
$color-text-inverted: white;
$color-highlight-valid: #2eac66;
$color-highlight-invalid: #e6332a;
$color-background: white;
$color-structure-surface: #ccc;
$color-structure-active: #f2f2f2;
$color-structure-border: #9d9c9c;
$color-structure-border-introvert: #e6e6e6;
$color-structure-border-extrovert: #999;
$color-brand-accent1: #ce128b;
$color-brand-accent2: #fcb813;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-plus: 16px;
$font-size-large: 18px;
$font-size-huge: 42px;
