<header class="l-header main-header">
    <adh-user-indicator></adh-user-indicator>
</header>

<div class="l-center">
    <h2>invalid or expired activation link</h2>

    <div class="textbox">
        <p>{{ "To request a new link please contact our Support Team, explicitly stating the eMail Address you registered with, via \{\{supportEmail\}\}." | translate:translationData }}</p>
        <p>{{ "We will send you a new authentification link within the next 24h. Please check your mail and SPAM meanwhile." | translate }}</p>
        <p>{{ "Please excuse the inconvience and make sure you activate your account within the next 6 days." | translate }}</p>
        <p>{{ "Thanks!" | translate }}</p>
    </div>
</div>
