<header class="l-header main-header">
    <adh-user-indicator></adh-user-indicator>
</header>

<div class="l-center">
    <h2>invalid or expired activation link</h2>

    <div class="textbox">
        <p>
            {{ "TR__ACTIVATION_ERROR_SUPPORT" | translate }}
            <a href="mailto:{{ translationData.supportEmail }}?subject=Activation%20failed">{{ translationData.supportEmail }}</a>.
        </p>
        <p>{{ "TR__ACTIVATION_ERROR_1" | translate }}</p>
        <p>{{ "TR__ACTIVATION_ERROR_2" | translate }}</p>
        <p>{{ "TR__ACTIVATION_ERROR_3" | translate }}</p>
    </div>
</div>
