.button-cta {
    background: $color-brand-two-normal;
}

.button-cta-secondary {
    border-color: $color-brand-two-normal;
    color: $color-brand-two-normal;

    &:hover:enabled,
    &:focus:enabled {
        background: $color-brand-two-normal;
    }
}
