.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
    height: 36px / $font-size-normal * 1em;
    line-height: 36px / $font-size-normal * 1em;

    &.m-call-to-action-secondary {
        border: 2px solid $color-brand-two-normal;

        &:hover:not(:disabled):not(.ng-disabled),
        &:focus:not(:disabled):not(.ng-disabled) {
            background: $color-brand-two-normal;
            color: $color-text-inverted;
        }
    }

    &.m-call-to-action-tertiary {
        @extend .m-call-to-action-secondary;
        background: $color-background-base-introvert;
        border: 0;
        color: $color-text-highlight-normal;
        font-weight: $font-weight-extrovert;
        text-transform: none;

        &.m-add:before {
            content: "+ ";
        }

        &:hover:not(:disabled):not(.ng-disabled),
        &:focus:not(:disabled):not(.ng-disabled) {
            background: $color-text-highlight-normal;
        }
    }
}
