$image-margin: 11px;
$thumbnail-width: 105px;
$thumbnail-height: 90px;

.spd-document-list-item {
    @include container;
    display: block;
    border-bottom: 2px solid $color-structure-normal;
    font-size: $font-size-plus;
    line-height: 1;
    padding: 1em 1.25em 1.125em 0.875em;
    position: relative;

    // reset link styling
    color: inherit;
    text-decoration: none;

    &.is-not-selected {
        background: $color-background-base-introvert;

        i[class*=icon-],
        .meta-list-item-budget {
            color: $color-text-highlight-introvert;
        }

        &:hover, &:focus {
            background: $color-background-base;
        }
    }
}

.spd-document-list-item-image {
    float: left;
    margin-right: $image-margin;
}

.spd-document-list-item-body {
    margin-left: $thumbnail-width + $image-margin;
}
