include RELEASE-VERSION version.py
recursive-include spd/build *.js *.css *.woff *.eot *.ttf *.svg *.xml *.json *.jpg *.ico *.gif *.png *.html *.md *.mako *.pt
global-exclude *Spec.js
prune spd/build/styleguide
prune spd/build/lib/DefinitelyTyped
prune spd/build/lib/q
prune spd/build/lib/jasmine
prune spd/build/lib/blanket
