@font-face {
    font-family: "Merriweather";
    src: font-url("../lib/Merriweather-Fontface/fonts/Merriweather-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Merriweather";
    src: font-url("../lib/Merriweather-Fontface/fonts/Merriweather-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
