//Brand colors
$color-brand-one-normal: #c3302a;
$color-brand-one-introvert: lighten($color-brand-one-normal, 10%);
$color-brand-one-extrovert: darken($color-brand-one-normal, 10%);
$color-brand-two-normal: #241b70;
$color-brand-two-introvert: lighten($color-brand-two-normal, 10%);
$color-brand-two-extrovert: darken($color-brand-two-normal, 10%);

// Text colors
$color-text-highlight-normal: $color-brand-two-normal;
$color-text-highlight-introvert: $color-brand-two-introvert;
$color-text-highlight-extrovert: $color-brand-two-extrovert;
$color-text-introvert: #666;

// Function colors
$color-function-winner: #f79321;
$color-function-negative: $color-brand-one-normal;

$font-family-normal: "Lato", sans-serif;
$font-family-serif: "Merriweather", serif;

$font-size-smaller: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-plus: 20px;
$font-size-large: 24px;
$font-size-huge: 36px;

//Other
$moving-column-single-width-max: $font-size-normal * 64;

$moving-column-menu-height: 30px / $font-size-normal * 1em;
// REFACT consider pushing this into the standard variables
$s1-header-height: 110px;
