[buildout]
parts = 
	robotframework
	link_bin

[robotframework]
recipe = zc.recipe.egg
interpreter = robotframeworkpy
eggs = 
# robotframework
	robotframework
# debug shell
        robotframework-debuglibrary
# python request backend
	robotframework-requests
# selenium backends
	robotframework-selenium2library
	robotframework-selenium2accessibility
	robotframework-selenium2screenshots

[link_bin]
recipe = svetlyak40wt.recipe.symlinks
path = ${buildout:directory}/../bin           
files =                          
     ${buildout:bin-directory}/pybot
     ${buildout:bin-directory}/robotframeworkpy
     ${buildout:bin-directory}/rebot
