<div ng-controller="AdhDocumentDetail as ad" style="background:yellow" class="document_detail_ctrl">
    <div ng-switch="doc.viewmode">
        <div ng-switch-when="list">
            <a href ng-click="display()" class="document_title">
                {{doc.content | viewFilterList}}
            </a>
        </div>
        <div ng-switch-when="display">
            <button type="button" class="edit_button" ng-click="edit()">edit</button>
            <button type="button" class="close_button" ng-click="list()">close</button>
            <br>
            <p ng-bind="doc.content.data['adhocracy.sheets.document.IDocument'].title" class="document_title"></p>
            <small><p ng-bind="doc.content.data['adhocracy.sheets.document.IDocument'].description"></p></small>
        </div>
        <div ng-switch-when="edit">
            <button type="button" class="reset_button" ng-click="reset()">reset</button>
            <button type="button" class="save_button" ng-click="commit()">save</button>
            <br>
            <adh-edit-proposal-version-resource resource="doc.content"></adh-edit-proposal-version-resource>
        </div>
        <div ng-switch-default>
            internal error: unknown view mode: {{ doc.viewmode }}
        </div>
    </div>
    <adh-paragraph-detail ng-repeat="parref in doc.content.data['adhocracy.sheets.document.IDocument'].paragraphs track by $index"></adh-paragraph-detail>
</div>
