<table border="1">
    <tr>
        <td>
            <div id="document_workbench_navigate">
                <p>document workbench navigation</p>
            </div>
        </td>
        <td>
            <div id="document_workbench_list" ng-controller="AdhDocumentTOC as at">
                <h3>table of contents</h3>

                <div>
                    <ol>
                        <li ng-repeat="doc in poolEntries track by $index">
                            <div ng-switch="doc">
                                <div ng-switch-when="undefined">
                                    <small><tt>(empty DAG)</tt></small>
                                </div>
                                <div ng-switch-default>
                                    <adh-document-detail></adh-document-detail>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </td>
        <td>
            <div id="document_workbench_participate" ng-controller="NewProposal">
                <p>proposal workbench changes and discussion</p>
                <input ng-model="proposalVersion.data['adhocracy.sheets.document.IDocument'].title"></input>
                <textarea ng-model="proposalVersion.data['adhocracy.sheets.document.IDocument'].description"></textarea>
                <hr></hr>
                <div ng-repeat="section in sections">
                    <textarea ng-model="section.wrap"></textarea>
                </div>
                <button type="button" class="new_button" ng-click="commit()">send</button>
                <button type="button" class="new_button" ng-click="pushSection()">new paragraph</button>
            </div>
        </td>
    </tr>
</table>
