.action-bar,
.action-bar-link {
    line-height: 2;
}

.action-bar-item {
    @include inline-block;
    @include rem(margin-right, 2rem);
    position: relative;
    text-decoration: none;

    &.m-selected:after {
        @include rem(border-left, 5px solid transparent);
        @include rem(border-right, 5px solid transparent);
        @include rem(border-bottom, 5px solid $color-background-base);
        @include rem(margin-right, -2.5px);
        bottom: 0;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: 50%;
        width: 0;
    }
}

.action-bar {
    @include rem(font-size, $font-size-small);
    @include inline-block;
    @include rem(padding, 0 7px);
    background: $color-structure-normal;
    width: 100%;

    .map-switch {
        float: right;
    }

    .map-switch-item {
        @extend .action-bar-link;
        @include rem(margin, 0 0 0 5px);

        &.m-selected {
            &:after {
                @include rem(margin-right, -4.5px);
            }
        }
    }
}
