/*doc
---
title: Action Bar
name: action-bar
category: Widgets
---

A bar that can be used to trigger actions. Use this widget to provide a
consistent interface for actions like edit, delete, report, print, and share.
It is typically located at the top of a larger widget, e.g. proposal detail.

Elements of the action bar are called action bar items (`action-bar-item`).
They can have the `m-selected` modifier.

An action can trigger showing a modal below the action bar
(`action-bar-modal`).  Only one modal is visible at a time.

```html_example
<div class="action-bar">
    <a class="action-bar-item">edit</a>
    <a class="action-bar-item m-selected">delete</a>
    <a class="action-bar-item">report</a>
</div>
<div class="action-bar-modal">
    <form>
        <input type="text" />
        <input type="submit" class="button-cta" />
    </form>
</div>
```

```html_example
<div class="action-bar">
    <a class="action-bar-item">edit</a>
    <a class="action-bar-item">delete</a>
    <a class="action-bar-item">report</a>
</div>
<div class="action-bar">
    <a class="action-bar-item">edit</a>
    <a class="action-bar-item">delete</a>
    <a class="action-bar-item">report</a>
</div>
<div class="action-bar">
</div>
<div class="action-bar">
    <a class="action-bar-item">edit</a>
    <a class="action-bar-item">delete</a>
    <a class="action-bar-item">report</a>
    <a class="action-bar-item">edit</a>
    <a class="action-bar-item">delete</a>
    <a class="action-bar-item">report</a>
    <a class="action-bar-item">edit</a>
    <a class="action-bar-item">delete</a>
    <a class="action-bar-item">report</a>
    <a class="action-bar-item">edit</a>
    <a class="action-bar-item">delete</a>
    <a class="action-bar-item">report</a>
    <a class="action-bar-item">edit</a>
    <a class="action-bar-item">delete</a>
    <a class="action-bar-item">report</a>
</div>
```
*/
.action-bar,
.action-bar-link {
    line-height: 2;
}

.action-bar-item {
    @include inline-block;
    @include rem(margin-right, 2rem);
    position: relative;
    text-decoration: none;

    &.m-selected:after {
        @include rem(border-left, 5px solid transparent);
        @include rem(border-right, 5px solid transparent);
        @include rem(border-bottom, 5px solid $color-background-base);
        @include rem(margin-right, -2.5px);
        bottom: 0;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: 50%;
        width: 0;
    }
}

.action-bar {
    @include rem(font-size, $font-size-small);
    @include inline-block;
    @include rem(padding, 0 7px);
    background: $color-structure-normal;
    width: 100%;
    margin-bottom: 1px;

    .map-switch {
        float: right;
    }

    .map-switch-item {
        @extend .action-bar-link;
        @include rem(margin, 0 0 0 5px);

        &.m-selected {
            &:after {
                @include rem(margin-right, -4.5px);
            }
        }
    }

    @media print {
        display: none;
    }
}

.action-bar-modal {
    border-bottom: 2px solid $color-structure-normal;
    padding: 1em;
}
