/*doc
---
title: Badges
name: badge
category: Type
---

Badges for labeling things

```html_example
<p>I am a normal user <span class="badge">Normal User</span></p>

<p>Two badges with whitespace in between: <span class="badge">one</span> <span class="badge">two</span></p>

<p>Two badges without whitespace in between: <span class="badge">one</span><span class="badge">two</span></p>
```

*/

.badge {
    @include rem(padding, 0 5px);
    @include inline-block;
    @include rem(margin-right, 5px);
    @include rem(font-size, $font-size-smaller);
    background: $color-structure-normal;
    color: $color-text-normal;
    line-height: $badge-line-height;
    text-transform: uppercase;
}

/*doc
---
title: Badge description
name: badge-description
parent: badge
---

The description of a badge assignment. The same modifiers as for `badge` apply.

```html_example
<div class="badge-description">
    <p>Simple badge description</p>
</div>
```
*/
