/*doc
---
title: Badges
name: badge
category: Type
---

Badges for labeling things

```html_example
<p>I am a normal user <span class="badge">Normal User</span></p>

<p>Two badges with whitespace in between: <span class="badge">one</span> <span class="badge">two</span></p>

<p>Two badges without whitespace in between: <span class="badge">one</span><span class="badge">two</span></p>
```

*/

.badge {
    @include inline-block;
    background: $color-structure-normal;
    color: $color-text-normal;
    font-size: $font-size-smaller;
    padding: 0 5px / $font-size-smaller * 1em;
    line-height: 1 + 4px / $font-size-smaller;
    text-transform: uppercase;
    margin-right: 0.5em;
}
