.blog-tabs {
    @include rem(line-height, 30px);
    border: 2px solid $color-structure-normal;
    border-width: 2px 0 3px;
    clear: left;
    font-size: $font-size-small;
    overflow: hidden;
    text-transform: uppercase;
}

.blog-tab {
    background: $color-background-base-introvert;
    color: $color-text-introvert;
    text-align: center;
    float: left;
    text-decoration: none;
    width: 50%;

    &:first-child {
        border-right: 2px solid $color-structure-normal;
    }

    &:last-child {
        border-left: 2px solid $color-structure-normal;
    }

    &:hover, &:focus, &:active, &.is-active {
        background: $color-background-base;
    }

    &:active, &.is-active {
        color: $color-text-highlight-normal;
    }
}

.blog {
    .document-form {
        @include opacity(1);
        @include rem(padding, 1rem);
        background: $color-background-base-introvert;

        .title, .paragraph, .blog-post-edit-title {
            @include rem(margin-bottom, 10px);
        }

        .paragraph {
            background: $color-background-base;
            font-size: $font-size-small;
            line-height: 1.5;
        }

        &.ng-hide-add.ng-hide-add-active,
        &.ng-hide-remove.ng-hide-remove-active {
            transition: 0.5s linear all;
        }

        &.ng-hide {
            @include opacity(0);
        }
    }

    .listing-create-form {
        background: transparent;
        padding: 0;
    }

    .listing-elements {
        @include rem(margin, 20px);
        border-left: 1px solid $color-brand-one-normal;
    }
}

.blog-post {
    @include rem(margin-bottom, 30px);

    .document-form {
        padding: 0 0 0 8px;
        background: transparent;

        .paragraph {
            background-color: $color-background-base-introvert;
        }
    }
}

.blog-post-header {
    overflow: hidden;
    padding-left: 8px;
}

.blog-post-title {
    @include rem(line-height, 15px);
    @include rem(padding, 0 20px);
    background: $color-brand-one-normal;
    float: left;
    font-size: $font-size-smaller;
    font-weight: $font-weight-normal;
    margin: 0;
    text-transform: uppercase;
    position: relative;

    &:before {
        @include rem(border-top, 7.5px solid transparent);
        @include rem(border-right, 8px solid $color-brand-one-normal);
        @include rem(border-bottom, 7.5px solid transparent);
        @include rem(left, -8px);
        content: "";
        height: 0;
        position: absolute;
        top: 0;
        width: 0;
    }
}

.blog-post-meta {
    color: $color-text-introvert;
    font-size: $font-size-small;
    margin-left: 8px;

    a {
        text-decoration: none;
    }
}

.blog-post-meta-time {
    font-style: italic;
}

.blog-post-actions {
    @include rem(font-size, $font-size-small);
    float: right;
    line-height: 1.25;
}

.blog-post-actions-item {
    @include rem(margin-left, 14px);
    color: $color-text-introvert;
    text-decoration: none;

    &:hover {
        color: $color-text-highlight-extrovert;
    }
}

.blog-post-paragraph {
    padding: 10px 8px;
    font-size: $font-size-small;

    p {
        line-height: 1.5;

        &:last-child {
            margin: 0;
        }
    }

    h1, h2, h3, h4, h5 {
        @include rem(margin, 0 0 0.5rem);
        font-weight: $font-weight-extrovert;
    }
}

.show-create-form-button {
    @include rem(margin, 20px 20px 0);
    float: right;
}
