.blog-tabs {
    $border-width: 12px / $font-size-small * 1em;
    border: $border-width solid $color-structure-normal;
    border-width: $border-width - 2 0 $border-width;
    clear: left;
    font-size: $font-size-small;
    line-height: 30px / $font-size-small * 1em;
    overflow: hidden;
    text-transform: uppercase;
}

.blog-tab {
    background: $color-background-base-introvert;
    color: $color-text-introvert;
    text-align: center;
    float: left;
    text-decoration: none;
    width: 50%;

    &:first-child {
        border-right: 2px solid $color-structure-normal;
    }

    &:last-child {
        border-left: 2px solid $color-structure-normal;
    }

    &:hover, &:focus, &:active, &.is-active {
        background: $color-background-base;
    }

    &:active, &.is-active {
        color: $color-text-highlight-normal;
    }
}
