/*doc
---
title: busy bar
name: busy-bar
category: Widgets
---

The busy bar shows up whenever the frontend is busy requesting something from
the backend. This way it gives instant visual feedback to user actions.

```html_example
<div style="position: relative; height: 2em;">
    <div class="busy-bar"></div>
</div>
```
*/
