@mixin button-base {
    @include rem(font-size, $font-size-normal);
    @include rem(height, $button-height);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    cursor: pointer;
    font-weight: $font-weight-medium;
    line-height: $button-line-height;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }

    &.ng-disabled,
    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}

/*doc
---
title: Button
name: button
category: Buttons
---

A normal button that triggers an action.

It may have the following states:

-   :focus
-   :hover
-   ng-disabled or :disabled

```html_example
<a class="button" href="">Link</a>
<button type="button" class="button">Button</button>
<input type="submit" class="button" value="Submit" />
<input type="submit" class="button" value="Disabled" disabled="disabled" />
<a class="button ng-disabled" href="">Disabled Link</a>
```
*/

/*doc
---
title: Call-to-action button
name: button.button-cta
parent: button
---

A highlighted button. Each page should have one CTA at maxiumum.

```html_example
<a class="button-cta" href="">Link</a>
<button type="button" class="button-cta">Button</button>
<input type="submit" class="button-cta" value="Submit" />
<input type="submit" class="button-cta" value="Disabled" disabled="disabled" />
<a class="button-cta ng-disabled" href="">Disabled Link</a>
```
*/

/*doc
---
title: Call-to-action button secondary
name: button.button-cta-secondary
parent: button
---

If more than one CTA is required per page, `button-cta-secondary` should
be used instead.

```html_example
<a class="button-cta-secondary" href="">Link</a>
<button type="button" class="button-cta-secondary">Button</button>
<input type="submit" class="button-cta-secondary" value="Submit" />
<input type="submit" class="button-cta-secondary" value="Disabled" disabled="disabled" />
<a class="button-cta-secondary ng-disabled" href="">Disabled Link</a>
```
*/

.button {
    @include button-base;
    @include rem(border-radius, 1rem);
    background: transparent;
    color: $color-button-text;
    text-transform: uppercase;

    &:hover, &:focus {
        color: $color-button-text-hover;
    }

    &.ng-disabled,
    &:disabled {
        &:hover, &:focus {
            color: $color-button-text;
        }
    }
}

.button-cta,
.button-cta-secondary {
    @include button-base;
    @include rem(min-width, 110px);
    @include rem(padding, 0 1rem);
    @include rem(border-radius, 1rem);
}

.button-cta {
    background: $color-button-cta-base;
    color: $color-button-cta-text;

    &:hover,
    &:focus {
        background: $color-button-cta-hover-background;
        color: $color-button-cta-text;
    }

    &:active {
        background: $color-button-cta-active-background;
    }

    &.ng-disabled,
    &:disabled {
        &:hover,
        &:focus,
        &:active {
            background: $color-button-cta-base;
            color: $color-button-cta-text;
        }
    }
}

.button-cta-secondary {
    background: transparent;
    border: 2px solid $color-button-cta-base;
    color: $color-button-cta-base;
    line-height: ($button-height - 4px) / $font-size-normal;

    &:hover,
    &:focus {
        background-color: $color-button-cta-base;
        color: $color-button-cta-text;
    }

    &:active {
        background: $color-button-cta-active-background;
    }

    &.ng-disabled,
    &:disabled {
        &:hover,
        &:focus,
        &:active {
            background: transparent;
            color: $color-button-cta-base;
        }
    }
}

/*doc
---
title: Button add modifier
name: button.m-add
parent: button
---

Add a + sign to a button

```html_example
<button type="button" class="button-cta-secondary m-add">Add Paragraph</button>
```
*/

.button-cta,
.button-cta-secondary,
.button {
    &.m-add:before {
        content: "+ ";
    }
}


/*doc
---
title: Help Link
name: help-link
category: Widgets
---

```html_example
<a href="#" class="help-link" title="Help">?</a>
```
*/
.help-link {
    @extend .button-cta-secondary;
    @include rem(min-width, unquote("#{$button-line-height}rem"));
    @include rem(margin-left, 1rem);
    padding-left: 0;
    padding-right: 0;
}
