@mixin button-base {
    text-decoration: none;
    overflow: hidden;
    @include inline-block;
    @include text-align(center);
    cursor: pointer;
    white-space: nowrap;
    border: 0;

    &:hover {
        text-decoration: none;
    }
}

@mixin button-color($fg, $bg) {
    color: $fg;
    border-color: $fg;
    background-color: $bg;

    &.m-call-to-action {
        color: $bg;
        background-color: $fg;
    }
}

/*doc
---
title: button
name: button
category: Buttons
---

A normal button that triggers an action.

It may have the following states:

-   has-focus
-   is-hover
-   is-disabled

```html_example
<a class="button">Link</a>
<button type="button">Button</button>
<input type="submit" value="Submit" />
<input type="submit" value="Disabled" disabled="disabled" />
```
*/

/*doc
---
title: call-to-action modifier
name: button.m-call-to-action
parent: button
---

A highlighted button. Each page should have one CTA at maxiumum.

```html_example
<a class="button m-call-to-action">Link</a>
<button type="button" class="m-call-to-action">Button</button>
<input type="submit" class="m-call-to-action" value="Submit" />
<input type="submit" class="m-call-to-action" value="Disabled" disabled="disabled" />
```
*/
.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
    @include button-base;
    @include button-color($color-text-highlight-normal, $color-text-inverted);

    $border-width: 0.25em;

    border: $border-width solid;
    font-weight: $font-weight-extrovert;
    text-transform: uppercase;

    min-width: 9em;
    line-height: 2em;
    height: 2em + 2 * $border-width;  // fix height in firefox
    padding: 0 0.5em;

    &:active,
    &:focus {
        outline: 0;
    }

    &.has-focus, &:focus {
        @include button-color($color-text-highlight-introvert, $color-text-inverted);
    }

    &.is-hover, &:hover {
        @include button-color($color-highlight-introvert, $color-text-inverted);
    }

    &:disabled,
    &.is-disabled,
    &.ng-disabled {
        @include button-color($color-text-introvert, $color-structure-surface);
        cursor: default;
    }
}
