/*doc
---
title: Chapter
name: chapter
category: Widgets
---

A high-level section of a document with its own heading.

```html_example
<section class="chapter">
    <h3 class="chapter-header">Heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</p>
</section>
```
*/
.chapter {
    .chapter-header {
        color: $color-text-introvert;
        margin: 0 0 1em;
    }
}
