/*doc
---
title: Show comments mixin
name: show-comments-mixin
category: Widgets
---

A mixin to show comments somewhere

```html_example
<a class="show-comments"><i class="icon-speechbubble"></i>12</a>
```
*/

@mixin show-comments {
    @include disguised-link;
    @include inline-block;
    font-size: $font-size-small;
    text-align: center;

    i {
        display: block;
        font-size: 15px / $font-size-small * 1em;
        line-height: 1;
    }
}

.show-comments {
    @include show-comments;

    @media print {
        display: none;
    }
}

/*doc
---
title: Commentable section
name: commentable-section
category: Widgets
---

A section of any content with a link to the respective comments, typically
displayed as a button in a second column.

States:

-   is-selected
-   is-not-selected

```html_example
<div class="commentable-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</p>
    <a class="commentable-section-show-comments"><i class="icon-speechbubble"></i>Comments</a>
</div>
```
*/

.commentable-section {
    padding: 1em (48px / $font-size-normal * 1em) (30px / $font-size-normal * 1em) 1em;
    position: relative;

    > p {
        margin-bottom: 0;
    }

    p {
        white-space: pre-line;
    }

    &.is-not-selected {
        background: $color-background-base-introvert;
    }

    .commentable-section-show-comments {
        @include show-comments;
        max-width: 36 / 14 * 1em;
        position: absolute;
        right: 1em;
        top: 1em;
    }

    @media print {
        padding: 0 0 1em;

        .commentable-section-show-comments {
            display: none;
        }
    }
}
