.commentable-section {
    border-bottom: 1px solid $color-secondary-introvert;
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-right: 30%;
    position: relative;

    .show-comments {
        min-width: 30%;
        position: absolute;
        right: 0;
        top: 0;
    }
}
