/*doc
---
title: Comment
name: comment
category: Widgets
---

A comment widget consists of a comment-main widget and a list of child
comments (replies). There is a form for creating new replies.

The comment may have the states `is-selected` or `is-not-selected` where
the latter one is used if a different comment is selected. If no comment
is selected, no state is applied.

```html_example
<div class="comment">
    <div class="comment-main debug-placeholder">Comment Main</div>

    <div class="comment-children-create-form debug-placeholder">
        Comment Create Form
    </div>


    <div class="comment-children">
        <div class="comment">
            <div class="comment-main debug-placeholder">Comment Main</div>

            <div class="comment-children">
            </div>
        </div>
        <div class="comment">
            <div class="comment-main debug-placeholder">Comment Main</div>

            <div class="comment-children-create-form debug-placeholder">
                Comment Create Form
            </div>

            <div class="comment-children"></div>
        </div>
    </div>
</div>
<div class="comment">
    <div class="comment-main debug-placeholder">Comment Main</div>

    <div class="comment-children"></div>
</div>
```
*/
.comment-children {
    border-left: 1px solid $color-brand-one-normal;

    .comment {
        padding-right: 0;
    }
}

.comment {
    margin-bottom: 2em;
    padding: 0 1em;

    &:last-child {
        margin-bottom: 0;
    }

    &.is-not-selected {
        background: $color-background-base-introvert;
    }

    &.is-selected {
        background: $color-background-base;
    }
}

.comment-content {
    line-height: 1.15;
    white-space: pre-line;
}

.comment-children-create-form,
.comment-children-edit-form {
    @extend .listing-create-form;
    background: $color-background-base-introvert;
}

/*doc
---
title: Comment Main
name: comment-main
parent: comment
---

```html_example
<div class="comment-main">
    <div class="comment-header">
        <div class="comment-header-column1">
            <span class="comment-header-creator">
                <a href="">god</a>
            </span>
            <span class="comment-header-date">
                25 minutes ago
            </span>
        </div>
        <div class="comment-header-column2">
            <span class="comment-header-links">
                <a href="" class="comment-header-link" title="Reply">
                    <i class="comment-header-icon icon-reply"></i>
                </a>
                <a href="" class="comment-header-link ng-scope" title="Edit">
                    <i class="comment-header-icon icon-pencil"></i>
                </a>
                <a href="" class="comment-header-link ng-scope" title="Report">
                    <i class="comment-header-icon icon-ban-circle"></i>
                </a>
                <a href="" class="comment-header-link ng-scope" title="Delete">
                    <i class="comment-header-icon icon-x"></i>
                </a>
            </span>
            <div class="rate">
                <span class="rate-difference is-positive">+1</span>
                    <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
                    <a href="" class="rate-contra"><i class="icon-vote-down" title="Vote down"></i></a>
                </span>
            </div>
        </div>
    </div>
    <div class="comment-children-edit-form">
        <textarea class="comment-edit-form-text"></textarea>
        <footer class="form-footer">
            <input class="comment-create-form-button-submit m-call-to-action form-footer-button-cta" type="submit" value="Submit">
            <a href="" class="button form-footer-button">CANCEL</a>
        </footer>
    </div>
</div>
```
*/

.comment-main {
    padding-bottom: 20px / $font-size-normal * 1em;
}

.comment-title {
    a, a:hover, a:focus, a:active {
        color: inherit;
        text-decoration: inherit;
    }
}

.comment-content-edit-text {
    margin-bottom: 0.5em;
}

.comment-header {
    @include clearfix;
    @include text(introvert);
    font-size: $font-size-small;
    margin-bottom: 10px / $font-size-small * 1em;
    padding-top: 3px / $font-size-small * 1em;

    .comment-header-creator,
    .comment-header-date,
    .comment-header-links {
        a, a:hover, a:focus, a:active {
            @include disguised-link;
        }
    }

    .comment-header-creator {
        &:after {
            content: "|";
        }
    }

    .comment-header-edited {
        @include inline-block;
        color: $color-structure-introvert;
        font-style: italic;

        &:first-letter {
            text-transform: capitalize;
        }
    }


    .comment-header-creator a {
        color: $color-text-highlight-normal;
        padding-right: 3px;

        &:hover, &:focus, &:active {
            text-decoration: underline;
        }

        &:active {
            color: $color-text-highlight-extrovert;
        }
    }

    .comment-header-date {
        padding-left: 3px;
    }

    .comment-header-links {
        padding-right: 20px / $font-size-small * 1em;

        a {
            margin-left: 14px / $font-size-small * 1em;
        }
    }

    .comment-header-link {
        &:after {
            content: attr(title);
        }
    }

    .comment-header-column1,
    .comment-header-column2 {
        @include text-align(right);
        float: right;
    }

    .comment-header-column1 {
        float: left;
    }

    .rate {
        @include inline-block;
    }
}

.comment-create-form {
    @include clearfix;
}

.comment-create-form-text,
.comment-edit-form-text {
    background: $color-text-inverted;
    min-height: 5.8em;
}

.comment-edit-form-text {
    min-height: 1px;
}

.comment-create-form-button-submit {
    float: right;
}

/*doc
---
title: Comment Create Form
name: comment-create-form
parent: comment
---

```html_example
<form class="comment-create-form">
    <textarea class="comment-create-form-text"></textarea>
    <footer class="form-footer">
        <input class="comment-create-form-button-submit m-call-to-action form-footer-button-cta" type="submit" value="Submit">
    </footer>
</form>
```
*/
