/*doc
---
title: Show comments mixin
name: show-comments-mixin
category: Widgets
---

A mixin to show comments somewhere

```html_example
<a class="show-comments"><i class="icon-speechbubble"></i>12</a>
```
*/

@mixin show-comments {
    @include disguised-link;
    @include inline-block;
    font-size: $font-size-small;
    text-align: center;

    i {
        display: block;
        font-size: 120%;
    }
}

.show-comments {
    @include show-comments;
}

/*doc
---
title: Commentable section
name: commentable-section
category: Widgets
---

A section of any content with a link to the respective comments, typically
displayed as a button in a second column.

```html_example
<div class="commentable-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</p>
    <a class="commentable-section-show-comments"><i class="icon-speechbubble"></i>Comments</a>
</div>
```
*/

.commentable-section {
    margin-bottom: 30 / 14 * 1em;
    padding-right: 36 / 14 * 1em;
    position: relative;

    > p {
        margin-bottom: 0;
    }

    .commentable-section-show-comments {
        @include show-comments;
        max-width: 36 / 14 * 1em;
        position: absolute;
        right: 0;
        top: 0;
    }
}
