/*doc
---
title: Comment
name: comment
category: Widgets
---

A comment widget consists of a comment-main widget and a list of child
comments (replies). There is a form for creating new replies.

The comment may have the states `is-selected` or `is-not-selected` where
the latter one is used if a different comment is selected. If no comment
is selected, no state is applied.

```html_example
<div class="comment">
    <div class="comment-main debug-placeholder">Comment Main</div>

    <div class="comment-children-create-form debug-placeholder">
        Comment Create Form
    </div>


    <div class="comment-children">
        <div class="comment">
            <div class="comment-main debug-placeholder">Comment Main</div>

            <div class="comment-children">
            </div>
        </div>
        <div class="comment">
            <div class="comment-main debug-placeholder">Comment Main</div>

            <div class="comment-children-create-form debug-placeholder">
                Comment Create Form
            </div>

            <div class="comment-children"></div>
        </div>
    </div>
</div>
<div class="comment">
    <div class="comment-main debug-placeholder">Comment Main</div>

    <div class="comment-children"></div>
</div>
```
*/
.comment-children {
    margin-top: 0.6em;
    border-left: 0.0833em solid $color-brand-one-normal;

    .comment {
        @include triangle-tl;
    }
}

.comment {
    margin-bottom: 2em;
    padding-left: 0.95em;

    &:last-child {
        margin-bottom: 0;
    }

    .comment-create-form-text {
        background: $color-structure-normal;
    }
}

/*doc
---
title: Comment Main
name: comment-main
parent: comment
---

```html_example
<div class="comment-main">
    <div class="comment-header">
        <div class="comment-header-column1">
            <span class="comment-header-creator">
                <a href="#">god</a>
            </span>
            <span class="comment-header-date">
                12/03/15
            </span>
        </div>
        <div class="comment-header-column2">
            <span class="comment-header-links">
                <a href="#"><i class="icon-reply"></i> Reply</a>
                <a href="#">Bearbeiten</a>
                <a href="#"><i class="icon-ban-circle"></i> Report</a>
            </span>
            <div class="rate">
                <span class="rate-difference">0</span>
                <a href="" class="rate-pro"><i class="icon-triangle-inverse-up" title="Vote up"></i></a>
                <a href="" class="rate-contra"><i class="icon-triangle-inverse-down" title="Vote down"></i></a>
            </div>
        </div>
    </div>
    <div class="comment-content">
        Nunc nulla. Vivamus quis mi. Fusce vulputate eleifend sapien. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec vitae orci sed dolor rutrum auctor.
    </div>
</div>

<div class="comment-main">
    <div class="comment-header">
        <div class="comment-header-column1">
            <span class="comment-header-creator">
                <a href="#">god</a>
            </span>
            <span class="comment-header-date">
                12/03/15
            </span>
        </div>
        <div class="comment-header-column2">
            <span class="comment-header-links">
                <a href="#"><i class="icon-reply"></i> Reply</a>
                <a href="#">Bearbeiten</a>
                <a href="#"><i class="icon-ban-circle"></i> Report</a>
            </span>
            <div class="rate">
                <span class="rate-difference">0</span>
                <a href="" class="rate-pro"><i class="icon-triangle-inverse-up" title="Vote up"></i></a>
                <a href="" class="rate-contra"><i class="icon-triangle-inverse-down" title="Vote down"></i></a>
            </div>
        </div>
    </div>
    <div class="comment-content">
        <textarea class="comment-content-edit-text">Lorem ipsum Non nulla ullamco magna tempor adipisicing nisi eu deserunt sit deserunt ut culpa velit ea proident.</textarea>
    </div>
    <div class="comment-meta">
        <div class="comment-actions">
            <a href="#" class="comment-action">Speichern</a>
            <a href="#" class="comment-action">Abbrechen</a>
        </div>
    </div>
</div>
```
*/

.comment-main {
    padding-bottom: 1em;
}

.comment-title,
.comment-meta {
    @include text(meta);
}

.comment-title {
    a, a:hover, a:focus, a:active {
        color: inherit;
        text-decoration: inherit;
    }
}

.comment-content-edit-text {
    margin-bottom: 0.5em;
}

.comment-meta {
    @include clearfix;
}

.comment-action {
    color: $color-text-introvert;
    font-weight: bold;
    text-transform: lowercase;
    text-decoration: none;

    &:hover, &:focus, &:active {
        color: darken($color-text-introvert, 10%);
    }

    &.m-comment-reply {
        text-transform: uppercase;

        &:hover, &:focus, &:active {
            color: $color-text-highlight-introvert;
        }
    }
}

.comment-action,
.comment-count {
    margin-left: 1em;
}

.comment-actions {
    float: right;
}

.comment-header {
    @include clearfix;
    @include text(introvert);
    margin-bottom: 0.3em;

    .comment-header-icon {
        @include border-radius(50%);
        float: left;
        font-size: 150%;
        line-height: 1.333;
        width: 1.333em;
        text-align: center;
        background: white;
    }

    .comment-header-creator,
    .comment-header-date,
    .comment-header-links,
    .rate {
        a, a:hover, a:focus, a:active {
            @include disguised-link;
        }
    }

    .comment-header-creator {
        &:after {
            content: "|";
        }

        a {
            color: $color-text-highlight-normal;
        }
    }

    .comment-header-links {
        padding-right: 2em;

        a {
            margin-left: 1em;
        }
    }

    .comment-header-column1,
    .comment-header-column2 {
        @include text-align(right);
        float: right;
    }

    .comment-header-column1 {
        float: left;
    }

    .rate {
        @include inline-block;
    }
}

.comment-create-form {
    @include clearfix;
}

.comment-create-form-text {
    margin-bottom: 1em;
}

/*doc
---
title: Comment Create Form
name: comment-create-form
parent: comment
---

```html_example
<form class="comment-create-form">
    <textarea></textarea>
    <input type="submit" value="create" />
    <a href="">Cancel</a>
</form>
```
*/
