/*doc
---
title: Comment
name: comment
category: Widgets
---

A comment widget consists of a comment-main widget and a list of child
comments (replies). There is a form for creating new replies.
Top-level comments also contain a discussion-header widget at the top.

The comment may have the states `is-selected` or `is-not-selected` where
the latter one is used if a different comment is selected. If no comment
is selected, no state is applied.

```html_example
<div class="comment">
    <div class="discussion-header placeholder">Discussion Header</div>

    <div class="comment-main placeholder">Comment Main</div>

    <div class="comment-children-create-form placeholder">
        Comment Create Form
    </div>


    <div class="comment-children">
        <div class="comment">
            <div class="discussion-header placeholder">Discussion Header</div>

            <div class="comment-main placeholder">Comment Main</div>

            <div class="comment-children">
            </div>
        </div>
        <div class="comment">
            <div class="discussion-header placeholder">Discussion Header</div>

            <div class="comment-main placeholder">Comment Main</div>

            <div class="comment-children-create-form placeholder">
                Comment Create Form
            </div>

            <div class="comment-children"></div>
        </div>
    </div>
</div>
<div class="comment">
    <div class="discussion-header placeholder">Discussion Header</div>

    <div class="comment-main placeholder">Comment Main</div>

    <div class="comment-children"></div>
</div>
```
*/
.comment-children {
    margin-top: 2em;
    margin-left: 3em;
    border-left: 2px solid $color-structure-border;

    .discussion-header {
        display: none;
    }

    .comment {
        margin-left: -2px;
    }
}

.comment {
    margin-bottom: 2em;
    border-left: 2px solid $color-structure-border;

    &:hover {
        border-color: $color-highlight-normal;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.comment-main,
.comment-children-create-form {
    margin-top: 1em;
    padding-left: 0.5em;
}

/*doc
---
title: Comment Main
name: comment-main
parent: comment
---

```html_example
<div class="comment-main">
    <div class="comment-title">Willy Wonka</div>
    <div class="comment-content">
        I like chocolate. I want more chocolate. Chocolate.
    </div>
    <div class="comment-meta">
        5 minutes ago
        <div class="comment-actions">
            <a href="" class="comment-action">Delete</a>
            <a href="" class="comment-action">Edit</a>
            <a href="" class="comment-action m-comment-reply">Add Comment</a>
            <span class="comment-count">
                <i class="icon-speechbubble-outline"></i> 3
            </span>
        </div>
    </div>
</div>
```
*/
.comment-content {
    margin: 0.5em 0;
}

.comment-title,
.comment-meta {
    @include text(meta);
}

.comment-title {
    a, a:hover, a:focus, a:active {
        color: inherit;
        text-decoration: inherit;
    }
}

.comment-meta {
    @include clearfix;
}

.comment-action {
    color: $color-secondary-extrovert;
    font-weight: bold;
    text-transform: lowercase;
    text-decoration: none;

    &:hover, &:focus, &:active {
        color: darken($color-secondary-extrovert, 10%);
    }

    &.m-comment-reply {
        text-transform: uppercase;

        &:hover, &:focus, &:active {
            color: $color-highlight-extrovert;
        }
    }
}

.comment-action,
.comment-count {
    margin-left: 1em;
}

.comment-actions {
    float: right;
}

/*doc
---
title: Discussion Header
name: discussion-header
parent: comment
---

This widget appears at the top of a discussion and contains the main meta data
about it.

```html_example
<div class="discussion-header">
    <span class="discussion-header-icon">
        <i class="icon-speechbubble-outline"></i>
    </span>
    <div class="discussion-header-column2">
        <i class="icon-speechbubble-outline"></i> 4
    </div>
    <div class="discussion-header-column1">
        <div class="discussion-header-creator">guest</div>
        <div class="discussion-header-date">5 minutes ago</div>
    </div>
</div>
```
*/
.discussion-header {
    background: $color-structure-surface;
    margin-bottom: 1em;
    padding: 0.5em;
    @include clearfix;
    @include text(meta);

    .discussion-header-icon {
        float: left;
        font-size: 150%;
        line-height: 1.333;
        width: 1.333em;
        text-align: center;
        @include border-radius(50%);
        background: white;
    }

    .discussion-header-creator,
    .discussion-header-date {
        a, a:hover, a:focus, a:active {
            color: inherit;
            text-decoration: inherit;
        }
    }

    .discussion-header-column2 {
        font-size: 200%;
    }

    .discussion-header-column1,
    .discussion-header-column2 {
        float: right;
        @include text-align(right);
        margin-left: 0.5em;
    }
}


/*doc
---
title: Comment Create Form
name: comment-create-form
parent: comment
---

```html_example
<form class="comment-create-form">
    <textarea></textarea>
    <input type="submit" value="create" />
    <a href="">Cancel</a>
</form>
```
*/
