.document-form {
    .document-form-add-paragraph-button {
        float: right;
        margin-bottom: 45px / $font-size-normal * 1em;
    }

    .document-form-submit-button {
        clear: right;
    }

    .form-footer {
        margin-top: 113px / $font-size-normal * 1em;
    }
}
