/*doc
---
title: dropdown
name: Dropdown
parent: resource-header
---

A basic dropdown that is currently used for resource actions.

```html_example
<div class="dropdown">
    <a class="dropdown-button" href="" tabindex="0" aria-haspopup="isShowDropdown" aria-expanded="isShowDropdown" role="button" style="display: block;">
        <i class="icon-three-dots dropdown-icon dropdown-header-icon"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" data-ng-if="isShowDropdown" aria-labelledby="dropdownMenu1" style="display: block;">
        <li>
            <a class="" href="">
                <i class="icon-pencil dropdown-icon"></i>bearbeiten
            </a>
        </li>
        <li>
            <a class="" href="">
                <i class="icon-tags dropdown-icon"></i>Etiketten
            </a>
        </li>
        <li>
            <a class="" href="">
                <i class="icon-flag dropdown-icon"></i>melden
            </a>
        </li>
        <li>
            <a class="" href="">
                <i class="icon-trash dropdown-icon"></i>löschen
            </a>
        </li>
        <li>
            <a class="" href="">
                <i class="icon-print dropdown-icon"></i>drucken
            </a>
        </li>
        <li>
            <a class="" href="">
                <i class="icon-x dropdown-icon"></i>abbrechen
            </a>
        </li>
    </ul>
</div>
```
*/

// Very vaguely based on:
// https://github.com/angular-ui/bootstrap/tree/master/src/dropdown.

// The dropdown wrapper (div)
.dropdown {
    cursor: pointer;
}

.dropdown-icon {
    @include rem(margin-right, 3px);
    @include rem(font-size, $font-size-normal);
    line-height: (24 / 17);
    vertical-align: middle;
}

.dropdown-header-icon {
    @include rem(font-size, $font-size-plus);
    color: $color-text-normal;
}

// The dropdown menu (ul)
.dropdown-menu {
    position: absolute;
    border-radius: 2px;
    min-width: 10em;
    padding: 0;
    margin: 5px 0 0;
    background-color: $color-text-inverted;
    border: 1px solid $color-structure-normal;
    list-style: none;
    z-index: 1;

    // Links within the dropdown menu
    a {
        display: block;
        padding: 8px;
        color: $color-text-normal;
        border-bottom: 1px solid $color-structure-normal;
        white-space: nowrap;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $color-brand-two-normal;
            background-color: $color-background-base-introvert;
        }

        :last-of-type {
            border-bottom: none;
        }
    }
}

// Active state
.dropdown-menu .active > a {
    &,
    &:hover,
    &:focus {
        color: $color-brand-two-normal;
        text-decoration: none;
        outline: 0;
        background-color: $color-background-base-introvert;
    }
}

// Menu positioning
.dropdown-menu-right {
    left: auto;
    right: 0;
}

// Dropdown section headers
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: $font-size-small;
    line-height: 1px;
    color: $color-structure-introvert;
    white-space: nowrap; // as with > li > a
}

