/*doc
---
title: Facets
name: facets
parent: listing
---

Facets can be used to filter a list. From each facet, a user can choose a single item,
e.g. from the budget facet, the user may choose "0 - 5000 €" to display only proposals
with budgets in that range.

```html_example
<div class="facets">
    <div class="facet">
        <h3 class="facet-header">Place</h3>
        <div class="facet-buttons">
            <a href="#" class="facet-item button-cta-secondary">Special</a>
            <a href="#" class="facet-item is-active button-cta-secondary">Online</a>
            <a href="#" class="facet-item button-cta-secondary">Ruhrgebiet</a>
        </div>
    </div>
    <div class="facet">
        <h3 class="facet-header">Budget</h3>
        <div class="facet-buttons">
            <a href="#" class="facet-item is-active button-cta-secondary">0 - 5000 €</a>
            <a href="#" class="facet-item button-cta-secondary">5000 - 10000 €</a>
            <a href="#" class="facet-item button-cta-secondary">10000 - 20000 €</a>
            <a href="#" class="facet-item button-cta-secondary">20000 - 50000 €</a>
        </div>
    </div>
    <div class="facet">
        <h3 class="facet-header">Awards</h3>
        <div class="facet-buttons">
            <a href="#" class="facet-item button-cta-secondary">Winner</a>
            <a href="#" class="facet-item button-cta-secondary">Community Award</a>
        </div>
    </div>
</div>
```
*/

/*doc
---
title: Sorts
name: sorts
parent: listing
---

```html_example
<div class="sorts">
    <h3 class="sort-header">Sort by</h3>
    <a href="#" class="sort-item button-cta-secondary">Date</a>
    <a href="#" class="sort-item is-active button-cta-secondary">Rates</a>
</div>
```
*/
.facets {
    @include container;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .facet {
        &:not(.m-wide) {
            @include grid-same-width(2);
            @include rem(margin-bottom, 1rem);
        }

        &.m-wide {
            @include clearfix;
            clear: both;
        }
    }
}

.facet-header,
.sort-header {
    @include rem(font-size, $font-size-small);
    @include rem(margin, 0 0 15px);
    color: $color-text-introvert;
    line-height: inherit;
}

.sort-item,
.facet-item {
    @include rem(margin-bottom, 1rem);
    @include rem(margin-right, 1rem);
    min-width: 1px;

    &.is-active {
        @extend .button-cta-secondary:focus;
    }
}

.sort-header, .sort-item {
    margin-bottom: 0;
}

.sort-header {
    display: inline-block;
    margin-bottom: 0;
}

.listing-results {
    @include rem(padding, $padding);
    border-bottom: 2px solid $color-structure-normal;
}

/*doc
---
title: Facet Toggle
name: facet-toggle
parent: facets
---

When facets are collapsed, facet toggles indicate the currently selected items
in a compact way. By clicking on it, you can deactivate the facet item.

```html_example
<a href="#" class="facet-toggle">
    10000 - 20000 €
    <span class="facet-cancel">x</span>
</a>
```
*/
.facet-toggle {
    @include ellipsis(12em);
    @include rem(left, -18px);
    @include rem(line-height, 20px);
    @include rem(margin-right, 10px);
    @include rem(padding, 0 10px);
    display: inline-block;
    vertical-align: middle;
    background: $color-button-cta-base;
    color: $color-button-cta-text;
    padding-right: 1.5em;
    position: relative;
    text-decoration: none;

    &:hover, &:focus {
        background: $color-button-cta-hover-background;
        color: $color-button-cta-text;
    }

    .facet-cancel {
        text-transform: none;
        position: absolute;
        right: 0.5em;
    }
}
