.facets {
    @include container;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .facet {
        @include gallery(6 of 12);
    }
}

.facet-header,
.sort-header {
    @include rem(font-size, $font-size-small);
    @include rem(margin, 0 0 15px);
    color: $color-text-introvert;
    line-height: 1.15;
}

.sort-item,
.facet-item {
    @include rem(margin-bottom, 1rem);
    @include rem(margin-right, 1rem);
    min-width: 1px;

    &.is-active {
        @extend .button-cta-secondary:focus;
    }
}

.sort-header, .sort-item {
    margin-bottom: 0;
}

.sort-header {
    @include inline-block;
    margin-bottom: 0;
}

.listing-action-bar,
.listing-results {
    @include rem(padding, 0 1rem);
}

.listing-action-bar {
    @include rem(font-size, $font-size-small);
    background: $color-structure-normal;
}

.listing-action-bar,
.listing-action-bar-link {
    line-height: 2;
}

.listing-action-bar-link {
    @include inline-block;
    @include rem(margin-right, 2rem);
    position: relative;
    text-decoration: none;

    &.m-selected:after {
        @include rem(border-left, 5px solid transparent);
        @include rem(border-right, 5px solid transparent);
        @include rem(border-bottom, 5px solid $color-background-base);
        @include rem(margin-right, -2.5px);
        bottom: 0;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: 50%;
        width: 0;
    }
}

.listing-results {
    @include rem(padding-bottom, 1rem);
    @include rem(padding-top, 1rem);
    border-bottom: 2px solid $color-structure-normal;
}
