.facets {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .facet {
        @include rem(margin-bottom, 50px);
    }

    .facet-header {
        @include rem(font-size, $font-size-small);
        @include rem(margin, 0 0 20px);
        color: $color-text-introvert;
        font-weight: $font-weight-normal;
        line-height: 1.15;
    }

    .facet-item {
        @include rem(margin-bottom, 1rem);
        display: block;
        line-height: 1;
        color: inherit;
        text-decoration: inherit;

        &:hover, &:focus {
            color: $color-text-highlight-normal;
        }

        &.is-active, &:active {
            color: $color-function-valid;
        }

        &.is-active:after, &:active:after {
            content: "\2713";
            font-size: 135%;
            line-height: 0.5;
        }
    }
}
