.main-header {
    @include rem(line-height, $logo-height);
    position: relative;

    @media print {
        display: none;
    }
}

.main-header-logo {
    height: $logo-height;
    vertical-align: bottom;
}

.main-header-nav {
    display: inline;
}

.main-header-link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: $font-weight-extrovert;
    margin: 0 0.5em;
}
