/*doc
---
title: Jump Navigation
name: jump-navigation
category: Widgets
---

A navigation list containing hash tag links

```html_example
<nav class="jump-navigation">
    <ol>
        <li><a>1. Element</a></li>
        <li><a>2. Element</a></li>
        <li><a class="active">3. Element (active)</a></li>
    </ol>
</nav>
```
*/
.jump-navigation {
    z-index: 1;

    &, a {
        color: $color-secondary-extrovert;
    }

    ul, ol {
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }

    li {

        a {
            display: block;
            line-height: 1;
            text-decoration: none;

            &.active {
                color: $color-highlight-normal;
            }
        }
    }

    &.m-unnumbered {
        ol {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}
