/*doc
---
title: Jump Navigation
name: jump-navigation
category: Widgets
---

A navigation list to jump to subsections. You may want to make the navigation
sticky.

Available modifiers:

-   `m-narrow` (wrapper)
-   `m-bg` (wrapper)
-   `m-unnumbered` (navigation)

```html_example
<h3>Default</h3>
<div class="jump-navigation-wrapper">
    <nav class="jump-navigation">
        <ol>
            <li><a>Element</a></li>
            <li><a>Element</a></li>
            <li><a class="active">Active</a></li>
        </ol>
    </nav>
    <div class="jump-navigation-main">
        <p>Consectetur dignissimos sint aut. Sapiente perspiciatis sunt voluptas dolor voluptas mollitia. Similique excepturi accusantium sit aut ullam dolore. Omnis excepturi et est est dolorum expedita. Qui et eveniet doloribus molestiae. Voluptate voluptas numquam molestiae aut impedit corrupti omnis tempora.</p>
    </div>
</div>

<h3>Unnumbered</h3>
<div class="jump-navigation-wrapper">
    <nav class="jump-navigation m-unnumbered">
        <ol>
            <li><a>Element</a></li>
            <li><a>Element</a></li>
            <li><a class="active">Active</a></li>
        </ol>
    </nav>
    <div class="jump-navigation-main">
        <p>Consectetur dignissimos sint aut. Sapiente perspiciatis sunt voluptas dolor voluptas mollitia. Similique excepturi accusantium sit aut ullam dolore. Omnis excepturi et est est dolorum expedita. Qui et eveniet doloribus molestiae. Voluptate voluptas numquam molestiae aut impedit corrupti omnis tempora.</p>
    </div>
</div>

<h3>Narrow</h3>
<div class="jump-navigation-wrapper m-narrow">
    <nav class="jump-navigation">
        <ol>
            <li><a></a></li>
            <li><a></a></li>
            <li><a class="active"></a></li>
        </ol>
    </nav>
    <div class="jump-navigation-main">
        <p>Consectetur dignissimos sint aut. Sapiente perspiciatis sunt voluptas dolor voluptas mollitia. Similique excepturi accusantium sit aut ullam dolore. Omnis excepturi et est est dolorum expedita. Qui et eveniet doloribus molestiae. Voluptate voluptas numquam molestiae aut impedit corrupti omnis tempora.</p>
    </div>
</div>

<h3>Background</h3>
<div class="jump-navigation-wrapper m-bg">
    <nav class="jump-navigation">
        <ol>
            <li><a>Element</a></li>
            <li><a>Element</a></li>
            <li><a class="active">Active</a></li>
        </ol>
    </nav>
    <div class="jump-navigation-main">
        <p>Consectetur dignissimos sint aut. Sapiente perspiciatis sunt voluptas dolor voluptas mollitia. Similique excepturi accusantium sit aut ullam dolore. Omnis excepturi et est est dolorum expedita. Qui et eveniet doloribus molestiae. Voluptate voluptas numquam molestiae aut impedit corrupti omnis tempora.</p>
    </div>
</div>
```
*/

.jump-navigation {
    color: $color-text-introvert;

    ul, ol {
        counter-reset: jump-counter;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        @include rem(font-size, $font-size-small);
        @include rem(padding, 0.25em 0.5em);
        display: block;
        text-decoration: none;
        margin-bottom: 1px;
        color: inherit;

        &:before {
            content: counter(jump-counter) ". ";
            counter-increment: jump-counter;
        }

        // active class automaticall added by du-scrollspy plugin
        // https://www.npmjs.com/package/angular-scroll#-du-scrollspy-
        &.active {
            color: $color-text-highlight-normal;
        }
    }

    &.m-unnumbered {
        a:before {
            content: "";
        }
    }
}

.jump-navigation-wrapper {
    @include container;
    background-color: $color-background-base-introvert;

    .jump-navigation {
        float: left;
        width: (101% / 6) - 1%;
    }

    .jump-navigation-main {
        margin-left: (101% / 6);
        background: $color-background-base;
    }

    &.m-narrow {
        .jump-navigation {
            width: 2rem;
        }

        .jump-navigation-main {
            margin-left: 2rem;
        }
    }

    &.m-bg {
        background-color: $color-structure-normal;

        .jump-navigation a {
            background: $color-background-base-introvert;

            &.active {
                background: $color-background-base;
            }
        }
    }
}
