/*doc
---
title: Jump Navigation
name: jump-navigation
category: Widgets
---

A navigation list containing hash tag links

```html_example
<strong>Numbered</strong>
<nav class="jump-navigation">
    <ol>
        <li><a>Element</a></li>
        <li class="active"><a>Element (LI Active)</a></li>
        <li><a class="active">Element (A active)</a></li>
    </ol>
</nav>

<strong>Unumbered</strong>
<nav class="jump-navigation m-unnumbered">
    <ol>
        <li><a>Element</a></li>
        <li class="active"><a>Element (LI Active)</a></li>
        <li><a class="active">Element (A active)</a></li>
    </ol>
</nav>

<strong>Narrow</strong>
<nav class="jump-navigation m-narrow">
    <ol>
        <li><a>Element</a></li>
        <li class="active"><a>Element (LI Active)</a></li>
        <li><a class="active">Element (A active)</a></li>
    </ol>
</nav>
```
*/

.jump-navigation {

    &, a {
        color: $color-text-introvert;
    }

    ul, ol {
        @include rem(padding, 1rem);
        counter-reset: jump-counter;
        list-style: none;
        margin: 0;
    }

    li {
        @include rem(padding, 0 0.5rem);
        font-size: $font-size-small;
        line-height: 1.333;

        &, a {
            color: $color-text-introvert;
        }

        a {
            display: block;
            text-decoration: none;
        }

        a:before {
            content: counter(jump-counter) ". ";
            counter-increment: jump-counter;
        }

        // active class automaticall added by du-scrollspy plugin
        // https://www.npmjs.com/package/angular-scroll#-du-scrollspy-
        &.active, &.active a, .active {
            color: $color-text-highlight-normal;
        }
    }

    &.m-unnumbered {
        ol a:before {
            content: "";
        }
    }

    &.m-narrow {
        ol {
            padding: 0;
        }

        li a {
            @include rem(margin, 0 0 1rem);
        }
    }
}
