/*doc
---
title: Listing
name: listing
category: Widgets
---

A Listing represents a list of elements that may be filtered and/or sorted.
It is generic because it can be used with very different kinds of elements.

Apart from the list of elements the listing optionally contains
a form for creating new elements. This form is then always visible.

```html_example
<div class="listing">
    <form class="listing-create-form debug-placeholder">
        Create Form
    </form>
    <ol class="listing-elements">
        <li class="listing-element debug-placeholder">Element1</li>
        <li class="listing-element debug-placeholder">Element2</li>
    </ol>
</div>
```
*/
.listing-elements {
    padding: 0;
    list-style: none;
    margin: 0;
}

// starting animations
.listing-element {
    &.ng-enter {
        @include transition(all 0.3s);
        @include opacity(0.5);
        background: greenyellow;

        // destination animations
        &.ng-enter-active {
            @include opacity(1);
            background: white;
        }
    }
}

.listing-create-form {
    background-color: $color-structure-introvert;
    padding: 1em (20px / $font-size-normal * 1em) (12px / $font-size-normal * 1em);
    margin-bottom: 1em;

    .comment-create-form-text {
        margin-bottom: 20px / $font-size-normal * 1em;
    }

    .form-footer {
        padding: 0;
    }
}

.listing-elements + .listing-create-form {
    margin-top: 0;
}
