/*doc
---
title: List Item
name: list-item
parent: listing
---

A generic list item. How a resource appears when in a list

```html_example
<a class="list-item" href="#">
    <div class="list-item-body">
        <div class="list-item-author">by user on 2016-04-15</div>
        <h3 class="list-item-title">Default</h3>
        <ul class="list-item-meta meta-list">
            <li class="meta-list-item">
                <i class="icon-speechbubbles"></i> 0 Comments
            </li>
        </ul>
        <div class="list-item-badges">
            <span class="badge">accepted</span>
        </div>
    </div>
</a>

<a class="list-item m-contains-image" href="#">
    <img class="list-item-image" alt="" src="/static/fallback_thumbnail.jpg" />
    <div class="list-item-body">
        <div class="list-item-author">by user on 2016-04-15</div>
        <h3 class="list-item-title">Image</h3>
        <ul class="list-item-meta meta-list">
            <li class="meta-list-item">
                <i class="icon-speechbubbles"></i> 0 Comments
            </li>
        </ul>
        <div class="list-item-badges">
            <span class="badge">accepted</span>
        </div>
    </div>
</a>
```
*/

$image-margin: 11px;
$thumbnail-width: 105px;
$thumbnail-height: 90px;

.list-item {
    @include container;
    display: block;
    border-bottom: 2px solid $color-structure-normal;
    position: relative;
    padding: 1.25em 1em;

    // reset link styling
    &, &:hover, &:focus {
        color: inherit;
        text-decoration: inherit;
    }

    &.is-not-selected {
        background: $color-background-base-introvert;

        i[class*="icon-"],
        .meta-list-item-budget {
            color: $color-text-highlight-introvert;
        }

        &:hover, &:focus {
            background: $color-background-base;
        }
    }

    &.m-contains-image {
        .list-item-body {
            margin-left: $thumbnail-width + $image-margin;
        }
    }
}

.list-item-image {
    float: left;
    margin-right: $image-margin;
}

.list-item-title,
.list-item-author {
    @include rem(margin, 0 0 0.8rem);
}

.list-item-title {
    @include rem(font-size, $font-size-plus);
    font-weight: $font-weight-medium;
}

.list-item-author {
    @include rem(font-size, $font-size-small);
    color: $color-text-introvert;
}

.list-item-meta {
    float: left;
    padding: 0;
}

.list-item-badges {
    float: right;
}
