/*doc
---
title: textbox
name: textbox
category: Widgets
---

A simple box containing text.

```html_example
<div class="textbox">
    <p>textbox</p>
</div>
<div class="textbox m-unobtrusive">
    <p>unobtrusive textbox</p>
</div>
```
*/
.textbox {
    @include rem(padding, 1rem);
    @include rem(margin-bottom, 1rem);
    background-color: $color-structure-introvert;

    .m-unobtrusive {
        color: $color-text-introvert;
    }
}

/*doc
---
title: Login
name: login
category: Widgets
---

Dialog for login related flow (login, register, password reset).

```html_example
<div class="login">
    <h1 class="login-title">Log in!</h1>

    <form class="login-form">
        <label>
            <span class="label-text">email or username</span>
            <input type="text" name="name" />
        </label>
        <label>
            <span class="label-text">password</span>
            <input type="password" name="password" />
        </label>

        <label class="login-check">
            <div class="login-check-input">
                <input type="checkbox" /> I really want to login
            </div>
            <span class="input-error">
                Required
            </span>
        </label>

        <input type="submit" class="button-cta" value="login" />

        <div class="login-info">
            <p class="ng-binding">Or register <a href="">here</a></p>
        </div>
    </form>

    <a class="login-cancel" href="">Cancel</a>
</div>
```
*/

.login {
    text-align: center;
}

.login-form {
    @include rem(margin-bottom, 1rem);

    label {
        display: block;
        text-align: left;
    }

    .login-check {
        text-align: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
    }

    input[type="submit"] {
        @include rem(margin-top, 24px);
    }
}

.login-title {
    @include rem(margin, 0 0 2rem);
    font-size: 100%;
    font-weight: normal;
    line-height: inherit;
    text-align: left;
}

.login-check {
    position: relative;

    .login-check-input {
        @include rem(margin-bottom, 24px);
    }

    .input-error {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -18px;
    }
}

.login-info {
    @include rem(font-size, $font-size-small);
    @include rem(margin, 24px 0 28px);

    a {
        text-decoration: none;
    }
}

.login-cancel {
    @include rem(font-size, $font-size-plus);
    @include rem(margin-bottom, 24px);
    @include rem(margin-top, 160px);
    color: $color-text-highlight-introvert;
    display: block;
    font-variant: small-caps;
    text-decoration: none;
    text-transform: lowercase;

    &:focus, &:hover {
        color: $color-text-highlight-normal;
    }

    &:active {
        color: $color-text-highlight-extrovert;
    }
}

.captcha-container {
    @include rem(margin-bottom, 1rem);
    border: 1px solid $color-structure-introvert;
    min-height: 102px;
    position: relative;
}

.captcha-image {
    display: block;
    margin: 0 auto;
}

.captcha-buttons {
    @include rem(top, 10px);
    @include rem(right, 10px);
    position: absolute;
}

.captcha-button {
    @include rem(font-size, $font-size-large);
    @include rem(margin-left, 5px);
    color: $color-text-normal;
}

.captcha-audio {
    margin-top: 20px;
}
