/*doc
---
title: textbox
name: textbox
category: Widgets
---

A simple box containing text.

```html_example
<div class="textbox">
    <p>textbox</p>
</div>
<div class="textbox m-unobtrusive">
    <p>unobtrusive textbox</p>
</div>
```
*/
.textbox {
    padding: 1em;
    margin-bottom: 1em;
    background-color: $color-structure-introvert;

    .m-unobtrusive {
        color: $color-text-introvert;
    }
}

/*doc
---
title: box with button
name: box-with-button
category: Widgets
---

A generic box with a single button.

```html_example
<div class="box-with-button">
    <p>Description</p>
    <a class="button">register</a>
</div>
```
*/
.box-with-button {
    background-color: $color-structure-introvert;
    padding: 1em 1em 0;
    margin-bottom: 2em;

    .button,
    button,
    input[type="submit"],
    input[type="reset"] {
        width: 100%;
        margin-bottom: -1em;
    }
}

/*doc
---
title: Login
name: login
category: Widgets
---

Login Dialog.

```html_example
<div class="login">
    <h1 class="title">Log in!</h1>
    <form class="login-form">
        <input type="text" name="name" placeholder="email or username" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" class="m-call-to-action" value="login" />
        <div class="login-info">
            <p class="ng-binding">Or register <a href="">here</a></p>
        </div>
        <div class="login-support ng-binding">
            Having trouble with login? <br>
            <a href="">support@unconfigured.domain</a>
        </div>
        <a class="login-cancel" href="">Cancel</a>
    </form>
</div>
```
*/

/*doc
---
title: Register
name: register
category: Widgets
---

Register Dialog.

```html_example
<div class="register">
    <h1 class="title">Register!</h1>
    <form class="register-form">
        <input type="text" name="username" placeholder="username" />
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <input type="password" name="password_repeat" placeholder="password repeat" />
        <input type="submit" class="m-call-to-action" name="register" value="register" />
        <div class="register-info">
            <p class="ng-binding">Or Login <a href="">here</a></p>
        </div>
        <div class="register-support ng-binding">
            Having trouble with Register? <br>
            <a href="">support@unconfigured.domain</a>
        </div>
        <a class="register-cancel" href="">Cancel</a>
    </form>
</div>
```
*/

.title {
    font-size: 100%;
    text-transform: uppercase;
}

.register-form,
.login-form {
    margin-bottom: 1em;
    text-align: center;

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
    }

    input[type="submit"] {
        @include text-align(center);
    }
}

.login-form {
    input[type="submit"] {
        margin-top: 24px / $font-size-normal * 1em;
    }
}

.register-support,
.login-support {
    font-size: $font-size-small;
    text-align: center;
}

.register-check {
    margin-bottom: 24px / $font-size-normal * 1em;

    + .input-error {
        margin-top: -1.4em;
    }
}

.register-info,
.login-info {
    font-size: $font-size-small;
    margin: (24px / $font-size-small * 1em) 0 (28px / $font-size-small * 1em);

    a {
        text-decoration: none;
    }

    p {
        margin: 0;
    }
}

.register-cancel,
.login-cancel {
    color: $color-text-highlight-introvert;
    display: block;
    font-size: $font-size-plus;
    font-variant: small-caps;
    margin-bottom: 24px / $font-size-normal * 1em;
    margin-top: 160px / $font-size-plus * 1em;
    text-decoration: none;
    text-transform: lowercase;

    &:focus, &:hover {
        color: $color-text-highlight-normal;
    }

    &:active {
        color: $color-text-highlight-extrovert;
    }
}
