/*doc
---
title: textbox
name: textbox
category: Widgets
---

A simple box containing text.

```html_example
<div class="textbox">
    <p>textbox</p>
</div>
<div class="textbox m-unobtrusive">
    <p>unobtrusive textbox</p>
</div>
```
*/
.textbox {
    padding: 1em;
    margin-bottom: 1em;
    background-color: $color-structure-introvert;

    .m-unobtrusive {
        color: $color-text-introvert;
    }
}

/*doc
---
title: Login
name: login
category: Widgets
---

Dialog for login related flow (login, register, password reset).

```html_example
<div class="login">
    <h1 class="login-title">Log in!</h1>

    <form class="login-form">
        <label>
            <span class="label-text">email or username</span>
            <input type="text" name="name" />
        </label>
        <label>
            <span class="label-text">password</span>
            <input type="password" name="password" />
        </label>

        <label class="login-check">
            <div class="login-check-input">
                <input type="checkbox" /> I really want to login
            </div>
            <span class="input-error">
                Required
            </span>
        </label>

        <input type="submit" class="button-cta" value="login" />

        <div class="login-info">
            <p class="ng-binding">Or register <a href="">here</a></p>
        </div>
    </form>

    <a class="login-cancel" href="">Cancel</a>
</div>
```
*/

.login {
    text-align: center;
}

.login-form {
    margin-bottom: 1em;

    label {
        display: block;
        text-align: left;
    }

    .login-check {
        text-align: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
    }

    input[type="submit"] {
        margin-top: 24px / $font-size-normal * 1em;
    }
}

.login-title {
    font-size: 100%;
    font-weight: normal;
    line-height: inherit;
    margin: 0 0 2em;
    text-align: left;
}

.login-check {
    position: relative;

    .login-check-input {
        margin-bottom: 24px / $font-size-normal * 1em;
    }

    .input-error {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -18px;
    }
}

.login-info {
    font-size: $font-size-small;
    margin: (24px / $font-size-small * 1em) 0 (28px / $font-size-small * 1em);

    a {
        text-decoration: none;
    }
}

.login-cancel {
    color: $color-text-highlight-introvert;
    display: block;
    font-size: $font-size-plus;
    font-variant: small-caps;
    margin-bottom: 24px / $font-size-normal * 1em;
    margin-top: 160px / $font-size-plus * 1em;
    text-decoration: none;
    text-transform: lowercase;

    &:focus, &:hover {
        color: $color-text-highlight-normal;
    }

    &:active {
        color: $color-text-highlight-extrovert;
    }
}
