/*doc
---
title: textbox
name: textbox
category: Widgets
---

A simple box containing text.

```html_example
<div class="textbox">
    <p>textbox</p>
</div>
<div class="textbox m-unobtrusive">
    <p>unobtrusive textbox</p>
</div>
```
*/
.textbox {
    padding: 1em;
    margin-bottom: 1em;
    background-color: $color-structure-introvert;

    .m-unobtrusive {
        color: $color-text-introvert;
    }
}

/*doc
---
title: box with button
name: box-with-button
category: Widgets
---

A generic box with a single button.

```html_example
<div class="box-with-button">
    <p>Description</p>
    <a class="button">register</a>
</div>
```
*/
.box-with-button {
    background-color: $color-structure-introvert;
    padding: 1em 1em 0;
    margin-bottom: 2em;

    .button,
    button,
    input[type="submit"],
    input[type="reset"] {
        width: 100%;
        margin-bottom: -1em;
    }
}

/*doc
---
title: Login
name: login
category: Widgets
---

Login Dialog.

```html_example
<div class="login">
    <h1 class="title">Log in!</h1>
    <form class="login-form">
        <input type="text" name="name" placeholder="email or username" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" class="m-call-to-action" value="login" />
        <div class="login-support">
            Having trouble with login? <br />
            <a href="mailto:support@adhocracy.de?subject=Trouble%20with%20login">support@adhocracy.de</a>
        </div>
    </form>
    <div class="login-description box-with-button">
        <p>In case you do not have an account yet, sign up to a free account and participate!</p>
        <a class="button">register</a>
    </div>
</div>
```
*/

/*doc
---
title: Register
name: register
category: Widgets
---

Register Dialog.

```html_example
<div class="register">
    <h1 class="title">Register!</h1>
    <form class="register-form">
        <input type="text" name="username" placeholder="username" />
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <input type="password" name="password_repeat" placeholder="password repeat" />
        <input type="submit" class="m-call-to-action" name="register" value="register" />
        <div class="register-support">
            Having trouble with registration? <br />
            <a href="mailto:support@adhocracy.de?subject=Trouble%20with%20registration">support@adhocracy.de</a>
        </div>
    </form>
    <div class="box-with-button">
        <p>You already have an account? Go to the LogIn window.</p>
        <a class="button" href="">LogIn</a>
    </div>
</div>
```
*/

.title {
    font-size: 100%;
    text-transform: uppercase;
}

.register-form,
.login-form {
    margin-bottom: 1em;
    text-align: center;

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
    }

    input[type="submit"] {
        @include text-align(center);
        margin: 0.5em 0;
    }
}

.register-support,
.login-support {
    @include text(functional-introvert);
    text-align: center;
}

.register-check {
    margin-bottom: 1.4em;

    + .input-error {
        margin-top: -1.4em;
    }
}

.register-info,
.login-info {
    margin-top: 1em;

    a {
        text-decoration: none;
    }
}
