/*doc
---
title: map
name: map
category: Widgets
---
*/

.map-wrapper {
    .map-buttons {
        @include clearfix;
    }

    .map-buttons .map-button-save {
        &, &:hover, &:focus {
            color: $color-brand-two-introvert;
        }

        &:active {
            color: $color-brand-one-introvert;
        }
    }

    .map-button-save, .map-button-cancel {
        @include inline-block;
        padding: 0 (10px / $font-size-normal * 1em);
    }
}

/*doc
---
title: map info
name: map-info
parent: map
---

Map info is used to show action-related information in the context of a map.
It is different from `map-info-persistant` in that it should only be used for
information that is related to a user action and that is not shown all the
time.

```html_example
<div class="map-info">
    Some information with a <a href="#">link</a>.
</div>
<div class="map-info ng-invalid">
    Some error with a <a href="#">link</a>.
</div>
```
*/
.map-info {
    background: $color-text-normal;
    color: $color-text-inverted;
    font-size: $font-size-small;
    padding: 0.5em;
    width: 100%;

    &:hover {
        color: $color-text-inverted;
    }

    &.ng-invalid {
        background: $color-function-invalid;
        font-weight: $font-weight-extrovert;
    }
}

/*doc
---
title: persistant map info
name: map-info-persistant
parent: map
---

Persistant map info is used to show general information in the context of a
map.  It is different from `map-info` in that it should be show all the time
rather than in response to user action.

```html_example
<div class="map-info-persistent">
    Some information with a <a href="#">link</a>.
</div>
```
*/
.map-info-persistent {
    background: $color-background-base-introvert;
    font-size: $font-size-small;
    padding: 0.5em;
}

.leaflet-marker-icon {
    -webkit-text-stroke: 1px $color-text-inverted;
    color: $color-brand-two-normal;
    font-size: 42px;

    &.is-active, &:hover, &:focus {
        color: $color-brand-one-introvert;
    }

    &:before {
        display: block;
    }
}

.map-list-container,
.map-list-map-container {
    position: relative;
}

.map-list-zoom {
    bottom: 0;
    left: 0;
    position: absolute;
}

.map-list-navigate {
    font-weight: bold;
    font-size: $font-size-normal;

    &:hover, &:focus {
        text-decoration: none;
    }
}

.map-list-navigate-container {
    position: absolute;
    top: 50%;
    margin-top: -$font-size-normal;
    width: 30px / $font-size-normal * 1em;

    p {
        line-height: 1em;
    }
}

.map-list-navigate-container-prev {
    left: 10px / $font-size-normal * 1em;
    text-align: left;
}

.map-list-navigate-container-next {
    right: 10px / $font-size-normal * 1em;
    text-align: right;
}

.map-list-scroll-container {
    padding: 0 (40px / $font-size-normal * 1em);
}

.map-list-scroll-container-inner {
    overflow: hidden;
    margin: (15px / $font-size-normal * 1em) 0 0;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;

    * {
        white-space: normal;
    }
}

.map-list-item {
    @include inline-block;
    vertical-align: middle;
    width: 100%;

    &.m-empty {
        font-weight: bold;
        text-align: center;
    }
}
