.map-wrapper {
    .map-info {
        background: $color-text-normal;
        color: $color-text-inverted;
        font-size: $font-size-small;
        padding: 0.5em;

        &.ng-invalid {
            background: $color-function-invalid;
            font-weight: $font-weight-extrovert;
        }
    }

    .map-buttons {
        @include clearfix;
        margin: 2px 0 -7px;
    }

    .map-buttons .map-button-save {
        &, &:hover, &:focus {
            color: $color-brand-two-introvert;
        }

        &:active {
            color: $color-brand-one-introvert;
        }
    }

    .map-button-save {
        float: left;
        font-weight: $font-weight-extrovert;
    }

    .map-button-cancel {
        @extend .disguised-link;
        float: right;
    }
}

.leaflet-marker-icon {
    -webkit-text-stroke: 1px $color-text-inverted;
    color: $color-brand-two-normal;
    font-size: 42px;

    &.is-active, &:hover, &:focus {
        color: $color-brand-one-introvert;
    }

    &:before {
        display: block;
    }
}

.map-list {

    .map-list-container {
        display: table;
    }

    .map-list-navigate-container,
    .map-list-scroll-container {
        display: table-cell;
        vertical-align: middle;
    }

    .map-list-navigate-next {
        float: right;
    }

    .map-list-scroll-container-inner {
        overflow: hidden;
        margin: (20px / $font-size-normal * 1em) 0 0;
        vertical-align: top;
        //FIXME: remove this when we are in moving columns
        white-space: nowrap;
    }

    .map-list-item {
        @include inline-block;
        vertical-align: baseline;
        width: 100%;
    }

    .map-list-item-col-left {
        @include span(8 of 12 first);
    }

    .map-list-item-col-right {
        @include span(4 of 12 last);

        .map-list-meta-item {
            margin-bottom: 20px / $font-size-small * 1em;
        }
    }

    .map-list-item-title {
        font-size: $font-size-normal;
        margin: 0 0 (20px / $font-size-normal * 1em);
    }

    .map-list-meta-item {
        font-size: $font-size-small;
    }

    .map-list-meta-item-icon {
        @extend .button;
        font-size: $font-size-normal;
        margin-right: 8px / $font-size-normal * 1em;
    }
}