.map-wrapper {
    .map-info {
        background: $color-text-normal;
        color: $color-text-inverted;
        font-size: $font-size-small;
        padding: 0.5em;

        &.ng-invalid {
            background: $color-function-invalid;
            font-weight: $font-weight-extrovert;
        }
    }

    .map-buttons {
        @include clearfix;
        margin: 2px 0 -7px;
    }

    .map-buttons .map-button-save {
        &, &:hover, &:focus {
            color: $color-brand-two-introvert;
        }

        &:active {
            color: $color-brand-one-introvert;
        }
    }

    .map-button-save {
        float: left;
        font-weight: $font-weight-extrovert;
    }

    .map-button-cancel {
        @extend .disguised-link;
        float: right;
    }
}

.leaflet-marker-icon {
    -webkit-text-stroke: 1px $color-text-inverted;
    color: $color-brand-two-normal;
    font-size: 42px;

    &.is-active, &:hover, &:focus {
        color: $color-brand-one-introvert;
    }

    &:before {
        display: block;
    }
}

.map-list-container {
    position: relative;
}

.map-list-navigate {
    font-weight: bold;
    font-size: $font-size-normal;

    &:hover, &:focus {
        text-decoration: none;
    }
}

.map-list-navigate-container {
    position: absolute;
    top: 50%;
    margin-top: -$font-size-normal;
    width: 30px / $font-size-normal * 1em;

    p {
        line-height: 1em;
    }
}

.map-list-navigate-container-prev {
    left: 10px / $font-size-normal * 1em;
    text-align: left;
}

.map-list-navigate-container-next {
    right: 10px / $font-size-normal * 1em;
    text-align: right;
}

.map-list-scroll-container {
    padding: 0 (40px / $font-size-normal * 1em);
}

.map-list-scroll-container-inner {
    overflow: hidden;
    margin: (15px / $font-size-normal * 1em) 0 0;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
}

.map-list-item {
    @include inline-block;
    vertical-align: baseline;
    width: 100%;
}
