.map-wrapper {
    .map-info {
        background: $color-text-normal;
        color: $color-text-inverted;
        font-size: $font-size-small;
        padding: 0.5em;

        &.ng-invalid {
            background: $color-function-invalid;
            font-weight: $font-weight-extrovert;
        }
    }

    .map-button-save {
        float: left;
        font-weight: $font-weight-extrovert;

        &:hover, &:focus {
            color: $color-text-highlight-normal;
            text-decoration: underline;
        }
    }

    .map-button-cancel {
        @extend .disguised-link;
        float: right;
    }

}
