.markdown-rendered {
    &, * {
        white-space: normal;
    }

    img {
        height: auto;
        max-width: 100%;
        margin-bottom: 5px;
    }
}

.inline-editable-markdown {

    .inline-editable-markdown-edit-button-container {
        text-align: right;
        margin-bottom: rem(10px);

        .inline-editable-markdown-edit-button {
            padding: 0 10px;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: $font-size-smaller;
        }
    }
}
