/*doc
---
title: User Message
name: user-message
category: Widgets
---

A form for sending messages to other users

```html_example
<div class="static-example">
    <div class="user-message">
        <form>
            <p class="ng-binding">Message to Username</p>
            <input class="user-message-subject" type="text">
            <textarea class="user-message-text"></textarea>
            <footer class="form-footer">
                <input class="button-cta form-footer-button-cta" type="submit" value="Send"
                <a class="button form-footer-button">Cancel</a>
            </footer>
        </form>
    </div>
</div>
```
*/
