/*doc
---
title: User Message
name: user-message
category: Widgets
---

A form for sending messages to other users

```html_example
<div class="static-example">
    <div class="user-message">
        <form>
            <p class="ng-binding">Message to Username</p>
            <input class="user-message-subject" type="text">
            <textarea class="user-message-text"></textarea>
            <input class="user-message-button-submit" type="submit" value="Send">
            <a href="">Cancel</a>
        </form>
    </div>
</div>
```
*/
.user-message {
    .user-message-button-submit {
        float: right;
    }

    .input-error {
        display: block;
    }
}
