/*doc
---
title: Meta List
name: meta-list
category: Widgets
---

A Meta list of items, often with icons

```html_example
<ul class="meta-list">
    <li class="meta-list-item">
        <i class="icon-speechbubbles"></i>
        12 Comments
    </li>
    <li class="meta-list-item">
        <i class="icon-calendar"></i>
        3/6/2015
    </li>
    <li class="meta-list-item">
        <i class="icon-pig"></i>
        20,000 €
    </li>
</ul>
Vertical
<ul class="meta-list m-vertical">
    <li class="meta-list-item">
        <i class="icon-speechbubbles"></i>
        12 Comments
    </li>
    <li class="meta-list-item">
        <i class="icon-calendar"></i>
        3/6/2015
    </li>
    <li class="meta-list-item">
        <i class="icon-pig"></i>
        20,000 €
    </li>
</ul>
```
*/

.meta-list {
    @include container;
    @include rem(padding, 0 0 20px);
    margin: 0;
    list-style: none;

    &.m-vertical {
        .meta-list-item {
            @include rem(padding-bottom, 10px);
            float: none;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.meta-list-item {
    @include rem(font-size, $font-size-small);
    @include rem(margin-right, 10px);
    color: $color-text-introvert;
    float: left;

    i {
        font-size: 140%;
        line-height: 1;
        margin-right: 1px;
        vertical-align: middle;
    }

    @media print {
        @include rem(font-size, $font-size-normal);
        float: none;

        i:not(.m-definition-before):not(.m-definition-after), &.meta-list-item-rate {
            display: none;
        }
    }
}
