/*doc
---
title: Moving Columns
name: moving-columns
category: Layout
---

This widget represents a major design concept in Adhocracy 3.
It contains a list of columns which may slide to either side to reveal
new columns with additional functionality. Each column can be shown, collapsed
or hidden completely.

States:

-   is-show-hide-hide
-   is-collapse-show-hide
-   is-collapse-show-collapse
-   is-collapse-collapse-show
-   is-show-collapse-collapse
-   is-collapse-show-show
-   is-show-show-collapse

```html_example
<div class="moving-columns is-collapse-show-hide" style="height: 10em; position: relative;">
    <div class="moving-column is-collapse" style="width: 2em; left: calc(25% - 1em)">
        <div class="moving-column-menu">menu</div>
        <div class="moving-column-body">body</div>
        <div class="moving-column-collapsed">collapsed</div>
    </div>
    <div class="moving-column is-show" style="width: 50%; left: calc(25% + 1em)">
        <div class="moving-column-menu">menu</div>
        <div class="moving-column-body">
            <p>Quis sed iusto minus. Distinctio veritatis quisquam quam dolores laborum voluptas. Ducimus voluptas occaecati quod labore eum eos quo neque. Ullam molestias eos recusandae et. Non alias tempora dolor repudiandae animi sunt est non. Saepe dolor qui neque est fuga rerum dolores sunt.</p>
            <p>Delectus sed amet a autem quod in. Suscipit repellat ratione aperiam voluptates est unde qui. Atque aut dicta asperiores saepe deserunt quo. Laudantium aut beatae excepturi sed.</p>
            <p>Harum omnis minus nobis possimus. Aut nihil eveniet doloremque ducimus. Illo quam et mollitia. Eaque libero et est facilis non perferendis. Quia et ipsum similique ipsa.</p>
        </div>
        <div class="moving-column-collapsed">collapsed</div>
    </div>
    <div class="moving-column is-hide" style="width: 0%; left: calc(75% + 1em)">
        <div class="moving-column-menu">menu</div>
        <div class="moving-column-body">body</div>
        <div class="moving-column-collapsed">collapsed</div>
    </div>
</div>
```
*/

.moving-columns {
    overflow: hidden;
}

/*doc
---
title: Moving Column
name: moving-column
parent: moving-columns
---

States:

-   `is-show` (*default*)
-   `is-hidden`
-   `is-collapsed`

Each moving column has a menu. The menu may contain some arbitrary control
elements.  Many columns do also have control elements to close (hide) or
collapse the column.

The menu is fixed to the top of the column.

The menu should always have the same state as its columns.

*/
.moving-column {
    // layout
    transition: width 0.5s, left 0.5s;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;

    .moving-column-collapsed {
        display: none;
    }

    &.is-collapse, &.is-hide {
        background-color: $color-structure-introvert;
        border: 0;
        padding-left: 0;

        .moving-column-body,
        .moving-column-menu {
            display: none;
        }

        .moving-column-collapsed {
            display: block;
        }

        @media print {
            display: none;
        }
    }

    &.is-collapse {
        @include rem(font-size, $font-size-small);
        background-color: $color-background-base;
        border: 2px solid $color-structure-normal;
        border-width: 2px 2px 2px 0;
        text-align: center;

        .moving-column-icon {
            float: none;
        }
    }

    @media print {
        position: static;
        width: auto !important;
        border: 0;

        &:not(.has-focus) {
            display: none;
        }
    }
}

.moving-column-body {
    @include rem(border-width, 0 $moving-column-border-width $moving-column-border-width);
    @include rem(font-size, $font-size-normal);

    position: absolute;
    top: $moving-column-menu-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;

    border-color: $color-structure-normal;
    border-style: solid;

    @media print {
        border: 0;
        position: static;
    }
}

.moving-column-expand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*doc
---
title: Moving Column Menu
name: moving-column-menu
parent: moving-columns
---

**Warning**: This widget currently has a fixed height.

```html_example
<div class="moving-column-menu">
    <i class="icon-speechbubble-unfilled moving-column-icon"></i>
    <div class="moving-column-menu-nav">
        <a
            class="moving-column-menu-nav-button"
            href="#"
            title="close"><i class="icon-x moving-column-menu-nav-icon"></i></a>
    </div>
</div>
```
*/
.moving-column-menu {
    @include clearfix;
    @include rem(font-size, $font-size-small);
    @include rem(height, $moving-column-menu-height);
    @include rem(line-height, $moving-column-menu-height);
    @include rem(padding, 0 0 0 $padding);
    background: $color-structure-normal;

    @media print {
        display: none;
    }
}

.moving-column-icon {
    @include rem(margin-right, 30px);
    @include rem(font-size, 17px);
    float: left;
    line-height: (24 / 17);
    vertical-align: middle;
}

.moving-column-menu-nav {
    float: right;

    .moving-column-menu-nav-button {
        @include rem(min-width, 3.5rem);
        @include rem(padding, 0 0.5rem);
        display: inline-block;
        font-weight: $font-weight-extrovert;
        text-align: center;
        vertical-align: baseline;
        text-decoration: none;
        color: $color-background-base;
        background-color: $color-structure-introvert;

        &:hover, &:focus {
            color: $color-text-highlight-normal;
        }

        &:active {
            color: $color-text-highlight-extrovert;
        }

        .moving-column-menu-nav-icon {
            @include rem(font-size, $font-size-smaller);
            line-height: 24px / $font-size-smaller;
        }
    }
}

.moving-column-tab {
    float: left;
}
