/*doc
---
title: Moving Columns
name: moving-columns
category: Layout
---

This widget represents a major design concept in Adhocracy 3.
It contains a list of columns which may slide to either side to reveal
new columns with additional functionality. Each column can be shown, collapsed
or hidden completely.

States:

-   is-show-hide-hide
-   is-collapse-show-hide
-   is-collapse-show-collapse
-   is-collapse-collapse-show
-   is-show-collapse-collapse
-   is-collapse-show-show
-   is-show-show-collapse

```html_example
<div class="moving-columns" style="height: 10em; position: relative;">
    <div class="moving-column moving-column-structure">
        <div class="placeholder moving-column-menu">
            <a onclick="$('.moving-column-sidebar').toggleClass('is-visible')">toggle sidebar</a>
        </div>
        <div class="placeholder moving-column-sidebar">sidebar</div>
        <div class="placeholder moving-column-body">structure column
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
        </div>
    </div>
    <div class="moving-column moving-column-content">
        <div class="placeholder moving-column-menu">menu</div>
        <div class="placeholder moving-column-body">content column</div>
    </div>
    <div class="moving-column moving-column-content2">
        <div class="placeholder moving-column-menu">menu</div>
        <div class="placeholder moving-column-body">secondary-content-column</div>
    </div>
</div>
<a onclick="$('.moving-columns').toggleClass('is-collapse-show-show')">click me</a>
```
*/

.moving-columns {
    overflow: hidden;
}

/*doc
---
title: Moving Column
name: moving-column
parent: moving-columns
---

States:

-   `is-show` (*default*)
-   `is-hidden`
-   `is-collapsed`

Each moving column has a menu. The menu may contain some arbitrary control
elements.  Many columns do also have control elements to close (hide) or
collapse the column.

Additionally, the moving column optionally contains a sidebar that is not shown
by default. It can be shown by adding the `is-visible` state to the
`moving-column-sidebar` element.

The menu and sidebar are fixed to the top/side of the column.

The menu should always have the same state as its columns.

*/
.moving-column {
    // layout
    @include transition(width 0.5s, left 0.5s);
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;

    .moving-column-collapsed {
        display: none;
    }

    &.is-collapse, &.is-hide {
        background-color: $color-structure-surface;
        border: 0;
        padding-left: 0;

        .moving-column-body,
        .moving-column-menu,
        .moving-column-sidebar {
            display: none;
        }

        .moving-column-collapsed {
            display: block;
        }
    }
}

%moving-column-single-width {
    max-width: $font-size-normal * 55;
    min-width: $font-size-normal * 35;
}

.moving-column-body {
    // layout
    position: absolute;
    top: $moving-column-menu-height;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;

    // look
    border: 0 solid $color-secondary-introvert;
    border-width: 0 0 $moving-column-border-width $moving-column-border-width;
    font-size: $font-size-normal;
}

/*doc
---
title: Moving Column Menu
name: moving-column-menu
parent: moving-columns
---

States:

-   `is-show` (*default*)
-   `is-hidden`
-   `is-collapsed`

**Warning**: This widget currently has a fixed height.

```html_example
<div class="moving-column-menu">
    <span class="placeholder">icon</span>
    <span class="placeholder">button</span>
    <span class="placeholder">button</span>
    <span class="placeholder">button</span>
    <span class="placeholder">button</span>
    <span class="placeholder">icon</span>
    <span class="placeholder">icon</span>
</div>
```
*/
.moving-column-menu {
    @include clearfix;
    background: $color-secondary-introvert;
    font-size: $font-size-small;
    height: $moving-column-menu-height * ($font-size-normal / $font-size-small);
    line-height: $moving-column-menu-height * ($font-size-normal / $font-size-small) / 1em;
    padding: 0 0 0 $padding-small;

    a {
        @include inline-block;
        color: $color-text-highlight-introvert;
        font-size: $font-size-small;
        font-weight: $font-weight-introvert;
        float: left;
        margin-left: 2.5em;
        text-decoration: none;

        &:hover, &:focus {
            color: $color-text-highlight-extrovert;
        }

        &:active, &.is-active {
            color: $color-text-highlight-normal;
         }
    }
}

.moving-column-icon {
    float: left;
    font-size: 166.5%;
    line-height: 1.2;
    vertical-align: middle;
}

.moving-column-menu-nav {
    float: right;

    a {
        @include inline-block;
        font-weight: $font-weight-extrovert;
        min-width: 3.5em;
        padding: 0 0.5em;
        text-align: center;
        vertical-align: baseline;
        text-decoration: none;
        color: $color-background;
        background-color: $color-structure-surface;

        &:hover, &:focus {
            color: $color-brand-accent1;
        }

        &:active {
            color: $color-text-highlight-extrovert;
        }

        .moving-column-menu-nav-icon {
            font-size: 145%;
            line-height: (2 * 0.145);
        }

        .moving-column-menu-nav-icon, .moving-column-menu-nav-icon:before {
            @include inline-block;
        }

        .moving-column-menu-nav-icon:before {
            line-height: 1.45;
        }
    }
}

.moving-column-sidebar {
    @include transition(left 0.5s);
    display: none;
    position: absolute;
    top: $moving-column-menu-height;
    bottom: 0;
    overflow-y: auto;
    left: -30%;
    width: 30%;
    z-index: 1;
    background-color: $color-structure-surface;
    padding: 0.5em;

    &.is-visible {
        left: 0;
    }

    &.is-visible,
    &.is-visible-add,
    &.is-visible-remove {
        display: block;
    }
}

.moving-column-mask {
    @include opacity(0.5);
    background-color: black;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
