/*doc
---
title: Moving Columns
name: moving-columns
category: Layout
---

This widget represents a major design concept in Adhocracy 3.
It contains a list of columns which may slide to either side to reveal
new columns with additional functionality. Each column can be shown, collapsed
or hidden completely.

States:

-   is-show-hide-hide
-   is-collapse-show-hide
-   is-collapse-show-collapse
-   is-collapse-collapse-show
-   is-show-collapse-collapse
-   is-collapse-show-show
-   is-show-show-collapse

```html_example
<div class="moving-columns" style="height: 10em; position: relative;">
    <div class="moving-column moving-column-structure">
        <div class="debug-placeholder moving-column-menu">
            <a onclick="$('.moving-column-sidebar').toggleClass('is-visible')">toggle sidebar</a>
        </div>
        <div class="debug-placeholder moving-column-sidebar">sidebar</div>
        <div class="debug-placeholder moving-column-body">structure column
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
            this is scrolling
        </div>
    </div>
    <div class="moving-column moving-column-content">
        <div class="debug-placeholder moving-column-menu">menu</div>
        <div class="debug-placeholder moving-column-body">content column</div>
    </div>
    <div class="moving-column moving-column-content2">
        <div class="debug-placeholder moving-column-menu">menu</div>
        <div class="debug-placeholder moving-column-body">secondary-content-column</div>
    </div>
</div>
<a onclick="$('.moving-columns').toggleClass('is-collapse-show-show')">click me</a>
```
*/

.moving-columns {
    overflow: hidden;

    &[class^="is-show-show"],
    &[class*=" is-show-show"] {
        .moving-column.is-show:first-child {
            display: none;
        }
    }
}

/*doc
---
title: Moving Column
name: moving-column
parent: moving-columns
---

States:

-   `is-show` (*default*)
-   `is-hidden`
-   `is-collapsed`

Each moving column has a menu. The menu may contain some arbitrary control
elements.  Many columns do also have control elements to close (hide) or
collapse the column.

Additionally, the moving column optionally contains a sidebar that is not shown
by default. It can be shown by adding the `is-visible` state to the
`moving-column-sidebar` element.

The menu and sidebar are fixed to the top/side of the column.

The menu should always have the same state as its columns.

*/
.moving-column {
    // layout
    @include transition(width 0.5s, left 0.5s);
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;

    .moving-column-collapsed {
        display: none;
    }

    &.is-collapse, &.is-hide {
        background-color: $color-structure-introvert;
        border: 0;
        padding-left: 0;

        .moving-column-body,
        .moving-column-menu,
        .moving-column-sidebar {
            display: none;
        }

        .moving-column-collapsed {
            display: block;
        }

        @media print {
            display: none;
        }
    }

    &.is-collapse {
        background-color: $color-background-base;
        border: 2px solid $color-structure-normal;
        border-width: 2px 2px 2px 0;
        font-size: $font-size-small;
        text-align: center;

        .moving-column-icon {
            float: none;
        }
    }

    @media print {
        position: static;
        // scss-lint:disable ImportantRule
        width: auto !important;
        // scss-lint:enable ImportantRule
        border: 0;
    }
}

%moving-column-single-width {
    max-width: $font-size-normal * 55;
    min-width: $font-size-normal * 35;
}

.moving-column-body,
.moving-column-sidebar,
.moving-column-overlay,
.moving-column-alerts,
.moving-column-mask {
    position: absolute;
    top: $moving-column-menu-height;
    left: 0;
    overflow-y: auto;
}

.moving-column-body,
.moving-column-sidebar,
.moving-column-mask {
    bottom: 0;
}

.moving-column-body,
.moving-column-overlay,
.moving-column-alerts,
.moving-column-mask {
    right: 0;
}

.moving-column-body {
    border: 0 solid $color-structure-normal;
    border-width: 0 $moving-column-border-width $moving-column-border-width;
    font-size: $font-size-normal;

    @media print {
        border: 0;
        position: static;
    }
}

.moving-column-collapsed a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*doc
---
title: Moving Column Menu
name: moving-column-menu
parent: moving-columns
---

States:

-   `is-show` (*default*)
-   `is-hidden`
-   `is-collapsed`

**Warning**: This widget currently has a fixed height.

```html_example
<div class="moving-column-menu">
    <span class="debug-placeholder">icon</span>
    <span class="debug-placeholder">button</span>
    <span class="debug-placeholder">button</span>
    <span class="debug-placeholder">button</span>
    <span class="debug-placeholder">button</span>
    <span class="debug-placeholder">icon</span>
    <span class="debug-placeholder">icon</span>
</div>
```
*/
.moving-column-menu {
    @include clearfix;
    background: $color-structure-normal;
    font-size: $font-size-small;
    height: $moving-column-menu-height * ($font-size-normal / $font-size-small);
    line-height: $moving-column-menu-height * ($font-size-normal / $font-size-small) / 1em;
    padding: 0 0 0 $padding-small;

    .moving-column-menu-nav-button {
        text-decoration: none;

        &:hover, &:focus {
            color: $color-text-highlight-extrovert;
        }

        &:active, &.is-active {
            color: $color-text-highlight-normal;
         }
    }

    .moving-column-menu-nav-button,
    .moving-column-menu-sort-label {
        @include inline-block;
        color: $color-text-highlight-introvert;
        font-size: $font-size-small;
        font-weight: $font-weight-introvert;
        float: left;
        margin-left: 2.5em;
    }

    .moving-column-menu-sort-label {
        font-style: italic;
        margin-right: 1em;
    }

    .moving-column-menu-sort-option {
        margin: 0;

        &:not(:last-child) {
            margin-right: 1em;
            position: relative;

            &:after {
                @include inline-block;
                content: "|";
                position: absolute;
                right: -1em;
                width: 1em;
                text-align: center;
                color: $color-text-highlight-introvert;
            }
        }
    }

    @media print {
        display: none;
    }
}

.moving-column-icon {
    float: left;
    font-size: 17px;
    line-height: (24/17);
    vertical-align: middle;
}

.moving-column-menu-nav {
    float: right;

    a {
        @include inline-block;
        font-weight: $font-weight-extrovert;
        min-width: 3.5em;
        padding: 0 0.5em;
        text-align: center;
        vertical-align: baseline;
        text-decoration: none;
        color: $color-background-base;
        background-color: $color-structure-introvert;

        &:hover, &:focus {
            color: $color-brand-three-normal;
        }

        &:active {
            color: $color-text-highlight-extrovert;
        }

        .moving-column-menu-nav-icon {
            font-size: $font-size-smaller;
            line-height: 24px / $font-size-smaller;
        }
    }
}

.moving-column-sidebar {
    @include transition(left 0.5s);
    border-top: 1px solid $color-structure-border;
    display: none;
    left: -25%;
    width: 25%;
    z-index: 1;
    background-color: $color-structure-normal;
    padding: (16px / $font-size-normal * 1em) (20px / $font-size-normal * 1em);

    &.is-visible {
        left: 0;
    }

    &.is-visible,
    &.is-visible-add,
    &.is-visible-remove {
        display: block;
    }

    .moving-column-sidebar-close {
        color: $color-text-introvert;
        position: absolute;
        right: 1em;
        text-decoration: none;
        top: 1em;

        &:hover, &:focus {
            color: $color-text-extrovert;
        }
    }

    @media print {
        display: none;
    }
}

.moving-column-mask {
    @include opacity(0.5);
    background-color: $color-background-mask;
    z-index: 2;

    @media print {
        display: none;
    }
}

/*doc
---
title: Moving Column Alerts
name: moving-column-alerts
parent: moving-columns
---

A list of alert messages to notify users in the moving column

```html_example
<ul class="moving-column-alerts static-example">
    <li class="moving-column-alert m-error">Error</li>
    <li class="moving-column-alert m-warning">Warning</li>
    <li class="moving-column-alert m-info">Info</li>
    <li class="moving-column-alert m-success">Success</li>
</ul>
```
*/
.moving-column-alerts {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 3;

    @media print {
        display: none;
    }
}

.moving-column-alert {
    background: $color-structure-normal;
    padding: 1em;
    text-align: center;

    &.m-error {
        background: $color-function-invalid;
    }

    &.m-warning {
        background: mix($color-function-invalid, $color-structure-normal);
    }

    &.m-success {
        background: $color-function-valid;
    }
}

.moving-column-overlay {
    @include clearfix;
    background: $color-structure-normal;
    border-top: 1px solid $color-structure-border;
    padding: 1em;
    z-index: 3;
    max-height: 80%;
    overflow-y: auto;

    textarea,
    input[type="text"] {
        background: $color-background-base;
    }

    &.ng-enter, &.ng-leave {
        @include transition(opacity 0.5s);
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active {
        @include opacity(0);
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
        @include opacity(1);
    }

    @media print {
        display: none;
    }
}
