/*doc
---
title: Navigation Bar
name: navbar
category: Widgets
---

A bar with multpile items. The items are aligned either to the left
(`navbar-left`) or to the right (`navbar-right`).

Note that the items thet are aligned to the right will be sorted starting from
the right which might be the opposite of what you expect.

If there is not enough space to display all items, the leftmost of the right
aligned ones will wrap.

```html_example
<div class="navbar">
    <div class="navbar-left debug-placeholder">Sort</div>
    <div class="navbar-left debug-placeholder">View</div>
    <div class="navbar-right debug-placeholder">Meta</div>
    <a class="navbar-right button">Button</a>
</div>
```
*/
.navbar {
    @include clearfix;
    margin: 0.5em 0;

    .navbar-left {
        float: left;
        margin-right: 0.5em;
    }

    .navbar-right {
        float: right;
        margin-left: 0.5em;
    }
}
