$gutter: 3%;
$columns: 6;

@function column-width($n) {
    @return (100% - $gutter) / $columns * $n - $gutter;
}

.proposal-cover {
    @include clearfix;

    .proposal-meta {
        .proposal-meta-column {
            float: left;
        }
    }
}

.proposal-jumpnavi, .proposal-chapters {
    float: left;
}

.proposal-jumpnavi {
    width: column-width(2);
}

.proposal-chapters {
    width: column-width(4);
    .proposal-chapter {
        .proposal-chapter-header {
            background-color: $color-secondary-introvert;
            padding: .5em 1em;
        }
    }
}

.commentable-section {
    border-bottom: 1px solid $color-secondary-introvert;
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-right: column-width(1);
    position: relative;

    .show-comments {
        min-width: column-width(1);
        position: absolute;
        right: 0;
        top: 0;
    }
}
