.proposal-form {
    bottom: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;

    label,
    .input-error {
        display: block;
    }

    .map-buttons {
        background: $color-background-base;
    }

    .form-footer {
        @include rem(padding, 0 1rem);
    }
}

.proposal-form-upper {
    @include rem(padding, 1rem);
}
