/*doc
---
title: Proposal Form
name: proposal-form
category: Proposal
---

A simple proposal form.

```html_example
<form class="proposal-form">

    <div class="proposal-form-upper">
        <label>
            <span class="label-text">Title</span>
            <input type="text" name="title" minlength="3">
        </label>
        <label>
            <span class="label-text">Detail</span>
            <textarea></textarea>
        </label>
    </div>

</form>
```
*/

.proposal-form {
    .form-footer {
        @include rem(padding, 0 $padding);
    }
}

.proposal-form-upper {
    @include rem(padding, $padding);
}
