/*doc
---
title: Proposal List
name: proposal-list
category: Proposal
---

A proposal list item. How a proposal appears when in a list

```html_example
<article class="proposal-detail">
    <header class="proposal-detail-header">
        <ul class="meta-list">
            <li class="meta-list-item meta-item-comments">
                <a href="" class="disguised-link">
                    <i class="icon-speechbubble"></i> 0 Kommentare
                </a>
            </li>
        </ul>
        <h1 class="proposal-detail-header-title">Here is my proposal</h1>
    </header>
    <section class="proposal-detail-body">
        <a href="" class="disguised-link proposal-detail-body-comments">
            <i class="icon-speechbubble"></i> 0
        </a>
        <p class="proposal-detail-detail">This is the body of this proposal</p>

        <p class="proposal-detail-author">
            by Bart Simpson
        </p>
    </section>
</article>
```
*/

.proposal-detail-header,
.proposal-badge-descriptions,
.proposal-detail-body {
    @include clearfix;
    @include rem(padding, 0 10px);
    background: $color-background-base;
}

.proposal-detail-body-comments {
    @include rem(padding-left, 40px);
    float: right;
    text-align: center;

    &, a {
        @include rem(font-size, $font-size-small);
        color: $color-text-highlight-introvert;
    }

    [class*=icon-] {
        @include rem(font-size, 17px);
        @include rem(line-height, 17px);
        display: block;
    }
}

.proposal-detail-body-comments-icon {
    @include rem(font-size, 20px);
    display: block;
}

.proposal-detail-header {
    @include rem(padding-top, 30px);

    .proposal-detail-header-title {
        @include rem(font-size, $font-size-normal);
        @include rem(margin, 0 0 30px);
        color: $color-text-normal;
        font-weight: $font-weight-extrovert;
    }

    .badge {
        @include rem(top, -20px);
        position: relative;
    }
}

.proposal-detail-detail {
    @include rem(margin-bottom, 30px);
    padding-right: 15%;
    white-space: pre-line;
}

.proposal-detail-meta-item,
.proposal-detail-author {
    @include rem(font-size, $font-size-small);
    color: $color-text-introvert;
}

.proposal-detail-author {
    @include rem(margin-bottom, 30px);
}

.proposal-detail-meta {
    @include clearfix;
    @include rem(margin, 0 0 40px);
    list-style-type: none;
    padding: 0;

    .proposal-detail-meta-item {
        @include gallery(3 of 12);

        &:nth-child(2) {
            text-align: center;
        }
    }

    .proposal-detail-meta-participation {
        text-align: right;
    }

    .proposal-detail-meta-item-icon {
        @include rem(margin-right, 8px);
        vertical-align: middle;
    }

    .proposal-detail-meta-item-text {
        @include inline-block;
        margin: 0;
        text-align: left;
    }

    .proposal-detail-meta-item-comments,
    .proposal-detail-meta-item-location {
        a {
            color: $color-text-highlight-introvert;
        }
    }
}

.proposal-detail {
    .rate {
        float: right;
    }
}
