/*doc
---
title: Proposal List
name: proposal-list
category: Proposal
---

A proposal list item. How a proposal appears when in a list

```html_example
<a class="proposal-list-item" href="#">
    <img class="proposal-list-item-image" alt="" src="/static/fallback_thumbnail.jpg" />
    <div class="proposal-list-item-body">
        <p class="proposal-list-item-username">Username</p>
        <h3 class="proposal-list-item-title">Title here</h3>
        <ul class="meta-list">
            <li class="meta-list-item">
                <i class="icon-speechbubbles"></i> 0 Comments
            </li>
        </ul>
    </div>
</a>
2 columns
<a class="proposal-list-item" href="#">
    <div class="proposal-list-item-col-left">
        <h3 class="proposal-list-item-title">Title here</h3>
        <p class="proposal-list-item-username">Username</p>
    </div>
    <div class="proposal-list-item-col-right">
        <ul class="meta-list">
            <li class="meta-list-item">
                <i class="icon-speechbubbles"></i> 0 Comments
            </li>
        </ul>
    </div>
</a>
```
*/

$image-margin: 11px;
$thumbnail-width: 105px;
$thumbnail-height: 90px;

.proposal-list-item {
    @include container;
    @include rem(padding, 1rem 1.25rem 1.25rem 0.875rem);
    display: block;
    border-bottom: 2px solid $color-structure-normal;
    line-height: 1;
    position: relative;

    // reset link styling
    color: inherit;
    text-decoration: none;

    &.is-not-selected {
        background: $color-background-base-introvert;

        i[class*=icon-],
        .meta-list-item-budget {
            color: $color-text-highlight-introvert;
        }

        &:hover, &:focus {
            background: $color-background-base;
        }
    }
}

.proposal-list-item-image {
    float: left;
    margin-right: $image-margin;
    max-width: 100%;
}

.proposal-list-item-body {
    margin-left: $thumbnail-width + $image-margin;
}

.proposal-list-item-title,
.proposal-list-item-username {
    margin: 0;
}

.proposal-list-item-username {
    @include rem(font-size, $font-size-small);
    @include rem(margin-bottom, 15px);
}

.proposal-list-item-title {
    @include rem(font-size, $font-size-plus);
    @include rem(margin-bottom, 15px);
    font-weight: $font-weight-normal;
}

.proposal-list-item-col-left {
    @include span(8 of 12 first);
}

.proposal-list-item-col-right {
    @include span(4 of 12 last);
}
