$gutter: 3%;
$columns: 6;

@function column-width($n) {
    @return (100% - $gutter) / $columns * $n - $gutter;
}

.proposal-cover {
    @include clearfix;

    .proposal-meta {
        .proposal-meta-column {
            float: left;
        }
    }
}

.proposal-jumpnavi {
    float: left;
    width: column-width(2);
}
