/*doc
---
title: Like
name: like
category: Widgets
---

A like-button with counter.

The button has the is-rate-button-active state.

```html_example
<div class="like">
    <span class="like-difference">+4</span>
    <a class="like-button">Like</a>
</div>
```
*/
.like {
    white-space: nowrap;
}

.like-button {
    $arrow-width: 1em;

    @include inline-block;
    position: relative;
    margin-left: $arrow-width;
    padding: 0 0.5em;
    line-height: 2;
    background-color: $color-brand-accent2;
    color: white;
    text-decoration: none;

    &:before {
        content: "";
        position: absolute;
        left: -$arrow-width;
        width: 0;
        height: 0;
        border-top: 1em solid transparent;
        border-bottom: 1em solid transparent;
        border-right: $arrow-width solid $color-brand-accent2;
        border-left: 0;
    }

    &.is-rate-button-active,
    &:hover,
    &:focus {
        @include opacity(0.6);
        color: white;
    }
}

/*doc
---
title: Rate
name: rate
category: Widgets
---

Rate up or down with counter

The button has the is-rate-button-active state.
rate-difference has the is-positive state. Can be is-negative.

```html_example
<div class="rate">
    <span class="rate-difference is-positive">
        1
    </span>
    <a href="" class="rate-pro is-rate-button-active" data-ng-click="cast(1)"><i class="icon-triangle-inverse-up" title='{{"Vote up" | translate}}'></i></a>
    <a href="" class="rate-contra" data-ng-click="cast(-1)"><i class="icon-triangle-inverse-down" title='{{"Vote down" | translate}}'></i></a>
</div>
```
*/

.rate {
    a {
        &.is-rate-button-active,
        &:hover,
        &:focus {
            color: $color-highlight-normal;
        }
    }

    .rate-difference {
        &.is-positive {
            color: $color-highlight-valid;
        }

        &.is-negative {
            color: $color-highlight-invalid;
        }
    }
}


