/*doc
---
title: Like
name: like
category: Widgets
---

A like-button with counter.

The button has the is-rate-button-active state.

```html_example
<div class="like" style="margin-bottom: 10px">
    <span class="like-difference">+4</span>
    <a class="like-button">Like</a>
</div>
<div class="like">
    <span class="like-difference">+4</span>
    <a class="like-button is-disabled">Like</a>
</div>
```
*/
.like {
    white-space: nowrap;

    &.is-disabled {
        .like-button, .like-button:hover, .like-button:focus {
            background: $color-structure-normal;
            color: $color-structure-introvert;

            &:before {
                border-right-color: $color-structure-normal;
            }
        }
    }
}

$line-height: (24/12);
$arrow-width: 1rem;

.like-button {
    @include inline-block;
    @include rem(font-size, $font-size-small);
    @include rem(min-width, 100px);
    @include rem(padding, 0 10px);
    position: relative;
    margin-left: $arrow-width;
    text-transform: uppercase;
    line-height: $line-height;
    background-color: $color-button-cta-base;
    color: $color-button-cta-text;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    &:before {
        @include rem(border-right, $arrow-width solid $color-button-cta-base);
        border-top: $line-height/2 * 1em solid $color-structure-transparent;
        border-bottom: $line-height/2 * 1em solid $color-structure-transparent;
        content: "";
        position: absolute;
        left: -$arrow-width;
        width: 0;
        height: 0;
        border-left: 0;
    }

    &:hover, &:focus {
        color: $color-button-cta-text;
        background-color: $color-button-cta-hover-background;

        &:before {
            border-right-color: $color-button-cta-hover-background;
        }
    }

    .supporting .text-unsupport {
        display: none;
    }

    &:active,
    &.is-rate-button-active {
        background: $color-function-valid;

        &:before {
            border-right-color: $color-function-valid;
        }

        // :focus is sometimes set on click and then stays.
        // That's why it is skipped here.
        &:hover {
            // scss-lint:disable NestingDepth
            background: $color-button-cta-base;

            .supporting .text-unsupport {
                display: block;
            }

            .supporting .text-supporting {
                display: none;
            }

            &:before {
                border-right-color: $color-button-cta-base;
            }
        }
    }
}

/*doc
---
title: Rate
name: rate
category: Widgets
---

Rate up or down with counter

The button has the `is-rate-button-active` state.
rate-difference has the `is-positive` state. Can be `is-negative`.

The whole widget may be disabled, in which case itself and both buttons have
the `is-disabled` state.

```html_example
<div class="rate">
    <span class="rate-difference is-positive">3</span>
    <span class="rate-button-container">
        <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
        <span class="rate-results">+6</span>
    </span>
    <span class="rate-button-container">
        <a href="" class="rate-contra"><i class="icon-vote-down" title="Vote down"></i></a>
        <span class="rate-results">-3</span>
    </span>
</div>

<div class="rate is-disabled">
    <span class="rate-difference is-positive">3</span>
    <span class="rate-button-container">
        <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
        <span class="rate-results">+6</span>
    </span>
    <span class="rate-button-container">
        <a href="" class="rate-contra is-disabled"><i class="icon-vote-down" title="Vote down"></i></a>
        <span class="rate-results">-3</span>
    </span>
</div>

<div class="rate m-show-results-persist">
    <span class="rate-difference is-positive">3</span>
    <span class="rate-button-container">
        <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
        <span class="rate-results">+6</span>
    </span>
    <span class="rate-button-container">
        <a href="" class="rate-contra"><i class="icon-vote-down" title="Vote down"></i></a>
        <span class="rate-results">-3</span>
    </span>
</div>

<div class="rate m-show-results-hover">
    <span class="rate-difference is-positive">3</span>
    <span class="rate-button-container">
        <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
        <span class="rate-results">+6</span>
    </span>
    <span class="rate-button-container">
        <a href="" class="rate-contra"><i class="icon-vote-down" title="Vote down"></i></a>
        <span class="rate-results">-3</span>
    </span>
</div>
Hover show results
<div class="rate is-cast m-show-results-click">
    <span class="rate-difference is-positive">3</span>
    <span class="rate-button-container">
        <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
        <span class="rate-results">+6</span>
    </span>
    <span class="rate-button-container">
        <a href="" class="rate-contra"><i class="icon-vote-down" title="Vote down"></i></a>
        <span class="rate-results">-3</span>
    </span>
</div>
Click show results
```
*/

.rate {
    a {
        color: $color-text-highlight-introvert;
        text-decoration: none;

        &.is-disabled {
            cursor: not-allowed;
        }
    }

    .rate-button-container {
        @include inline-block;
        position: relative;
    }

    .rate-results {
        @include rem(font-size, $font-size-small);
        @include rem(padding-top, 3px);
        display: block;
        position: absolute;
        text-align: center;
        visibility: hidden;
        width: 100%;
    }

    &.m-show-results-persist,
    &:hover.m-show-results-hover,
    &:focus.m-show-results-hover,
    &.is-cast.m-show-results-click {
        .rate-results {
            visibility: visible;
        }
    }

    .rate-pro {
        &.is-rate-button-active,
        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled),
        &:active:not(.is-disabled) {
            color: $color-function-valid;
        }
    }

    .rate-contra {
        &.is-rate-button-active,
        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled),
        &:active:not(.is-disabled) {
            color: $color-function-invalid;
        }
    }

    .rate-difference {
        &.is-positive {
            color: $color-function-valid;
        }

        &.is-negative {
            color: $color-function-invalid;
        }
    }
}

/*doc
---
title: Opinion
name: opionion
parent: rate
---

The Opinion widget is very similar in functionaility to the Rate widget, but it
is bigger and exposes more details.

```html_example
<div class="opinion">
    <span class="opinion-button-container">
        <a href="#" class="opinion-yes opinion-button">yes</a>
    </span>
    <span class="opinion-button-container">
        <a href="#" class="opinion-no opinion-button">no</a>
    </span>
    <a href="#" class="opinion-result-toggle">show results</a>
</div>

<div class="opinion">
    <span class="opinion-results">
        <span class="opinion-bar-container">
            <span
                class="opinion-bar opinion-bar-yes"
                style="width: 19%"></span>
        </span>
        <span class="opinion-result-numerics">
            <span class="opinion-result-yes">
                <strong>YES</strong>
                19
                <span class="opinion-result-absolute">(6 votes)</span>
            </span>
            <span class="opinion-result-total">32 total votes</span>
            <span class="opinion-result-no">
                <span class="opinion-result-absolute">(26 votes)</span>
                81
                <strong>NO</strong>
            </span>
        </span>
    </span>
    <a href="#" class="opinion-result-toggle">vote</a>
</div>
```
*/
.opinion {
    @include clearfix;
    @include rem(margin-bottom, 4.5rem);
    @include rem(padding-bottom, 2.5rem);
    position: relative;
    width: 100%;
}

.opinion-button-container {
    float: left;
    width: 50%;
}

.opion-button-container,
.opionion-bar-container {
    @include rem(margin-bottom, 5px);
}

.opinion-button {
    @include rem(line-height, 30px);
    background-color: $color-structure-normal;
    color: $color-button-text;
    display: block;
    font-size: $font-size-large;
    font-weight: bold;
    margin-right: 2px;
    text-align: center;
    text-decoration: none;

    &:hover, &:focus {
        background-color: $color-button-cta-base;
        color: $color-button-cta-text;
        text-decoration: none;
    }
}

.opinion-no {
    margin: 0 0 0 2px;
}

.opinion-bar-container, .opinion-bar {
    @include rem(height, 30px);
    display: block;
}

.opinion-bar-container {
    background-color: $color-structure-normal;
}

.opinion-bar {
    background-color: $color-button-cta-base;
}

.opinion-bar-no {
    float: right;
}

.opinion-result-numerics {
    @include clearfix;
    @include rem(font-size, $font-size-small);
    display: block;
    position: absolute;
    width: 100%;

    .opinion-result-yes {
        float: left;
    }

    .opinion-result-total {
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;

        @media only screen and (max-width : $breakpoint-small-device) {
            display: none;
        }
    }

    .opinion-result-no {
        float: right;
    }
}

.is-opinion-none .opinion-bar {
    background-color: $color-text-normal;
}

.opinion-result-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
}
