/*doc
---
title: Like
name: like
category: Widgets
---

A like-button with counter.

The button has the is-rate-button-active state.

```html_example
<div class="like">
    <span class="like-difference">+4</span>
    <a class="like-button">Like</a>
</div>
```
*/
.like {
    white-space: nowrap;
}

$line-height: (24/12);
$arrow-width: 1em;

.like-button {
    @include inline-block;
    font-size: $font-size-small;
    position: relative;
    margin-left: $arrow-width;
    padding: 0 0.83333333em;
    text-transform: uppercase;
    line-height: $line-height;
    background-color: $color-brand-one-normal;
    color: white;
    text-align: center;
    text-decoration: none;
    min-width: 100px / $font-size-small * 1em;

    &:before {
        content: "";
        position: absolute;
        left: -$arrow-width;
        width: 0;
        height: 0;
        border-top: $line-height/2 * 1em solid transparent;
        border-bottom: $line-height/2 * 1em solid transparent;
        border-right: $arrow-width solid $color-brand-one-normal;
        border-left: 0;
    }

    &:hover,
    &:focus {
        color: white;
        background-color: $color-brand-one-extrovert;

        &:before {
            border-right-color: $color-brand-one-extrovert;
        }
    }

    .supporting .text-unsupport {
        display: none;
    }

    &:active,
    &.is-rate-button-active {
        background: $color-function-valid;

        &:before {
            border-right-color: $color-function-valid;
        }

        &:hover {
            // scss-lint:disable NestingDepth
            background: $color-brand-three-normal;

            .supporting .text-unsupport {
                display: block;
            }

            .supporting .text-supporting {
                display: none;
            }

            &:before {
                border-right-color: $color-brand-three-normal;
            }
        }
    }
}

/*doc
---
title: Rate
name: rate
category: Widgets
---

Rate up or down with counter

The button has the is-rate-button-active state.
rate-difference has the is-positive state. Can be is-negative.

```html_example
<div class="rate">
    <span class="rate-difference is-positive">
        1
    </span>
    <a href="" class="rate-pro is-rate-button-active" data-ng-click="cast(1)"><i class="icon-triangle-inverse-up" title='{{"Vote up" | translate}}'></i></a>
    <a href="" class="rate-contra" data-ng-click="cast(-1)"><i class="icon-triangle-inverse-down" title='{{"Vote down" | translate}}'></i></a>
</div>
```
*/

.rate {
    a {
        color: $color-text-highlight-introvert;
    }

    .rate-pro {
        &.is-rate-button-active,
        &:hover,
        &:focus,
        &:active {
            color: $color-function-valid;
        }
    }

    .rate-contra {
        &.is-rate-button-active,
        &:hover,
        &:focus,
        &:active {
            color: $color-brand-three-normal;
        }
    }

    .rate-difference {
        &.is-positive {
            color: $color-function-valid;
        }

        &.is-negative {
            color: $color-function-invalid;
        }
    }
}


