/*doc
---
title: Like
name: like
category: Widgets
---

A like-button with counter.

The button has the is-rate-button-active state.

```html_example
<div class="like">
    <span class="like-difference">+4</span>
    <a class="like-button">Like</a>
</div>
<div class="like">
    <span class="like-difference">+4</span>
    <a class="like-button is-disabled">Like</a>
</div>
```
*/
.like {
    white-space: nowrap;

    &.is-disabled {
        .like-button, .like-button:hover, .like-button:focus {
            background: $color-structure-normal;
            color: $color-structure-extrovert;

            &:before {
                border-right-color: $color-structure-normal;
            }
        }
    }
}

$line-height: (24/12);
$arrow-width: 1rem;

.like-button {
    @include inline-block;
    @include rem(font-size, $font-size-small);
    @include rem(min-width, 100px);
    @include rem(padding, 0 10px);
    position: relative;
    margin-left: $arrow-width;
    text-transform: uppercase;
    line-height: $line-height;
    background-color: $color-brand-one-normal;
    color: $color-text-inverted;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    &:before {
        @include rem(border-top, $line-height/2 solid $color-structure-transparent);
        @include rem(border-bottom, $line-height/2 solid $color-structure-transparent);
        @include rem(border-right, $arrow-width solid $color-brand-one-normal);
        content: "";
        position: absolute;
        left: -$arrow-width;
        width: 0;
        height: 0;
        border-left: 0;
    }

    &:hover, &:focus {
        color: $color-text-inverted;
        background-color: $color-brand-one-extrovert;

        &:before {
            border-right-color: $color-brand-one-extrovert;
        }
    }

    .supporting .text-unsupport {
        display: none;
    }

    &:active,
    &.is-rate-button-active {
        background: $color-function-valid;

        &:before {
            border-right-color: $color-function-valid;
        }

        // :focus is sometimes set on click and then stays.
        // That's why it is skipped here.
        &:hover {
            // scss-lint:disable NestingDepth
            background: $color-brand-three-normal;

            .supporting .text-unsupport {
                display: block;
            }

            .supporting .text-supporting {
                display: none;
            }

            &:before {
                border-right-color: $color-brand-three-normal;
            }
        }
    }
}

/*doc
---
title: Rate
name: rate
category: Widgets
---

Rate up or down with counter

The button has the `is-rate-button-active` state.
rate-difference has the `is-positive` state. Can be `is-negative`.

The whole widget may be disabled, in which case itself and both buttons have
the `is-disabled` state.

```html_example
<div class="rate">
    <span class="rate-difference is-positive">3</span>
    <span class="rate-button-container">
        <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
        <span class="rate-results">+6</span>
    </span>
    <span class="rate-button-container">
        <a href="" class="rate-contra"><i class="icon-vote-down" title="Vote down"></i></a>
        <span class="rate-results">-3</span>
    </span>
</div>

<div class="rate is-disabled">
    <span class="rate-difference is-positive">3</span>
    <span class="rate-button-container">
        <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
        <span class="rate-results">+6</span>
    </span>
    <span class="rate-button-container">
        <a href="" class="rate-contra is-disabled"><i class="icon-vote-down" title="Vote down"></i></a>
        <span class="rate-results">-3</span>
    </span>
</div>

<div class="rate m-show-results-persist">
    <span class="rate-difference is-positive">3</span>
    <span class="rate-button-container">
        <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
        <span class="rate-results">+6</span>
    </span>
    <span class="rate-button-container">
        <a href="" class="rate-contra"><i class="icon-vote-down" title="Vote down"></i></a>
        <span class="rate-results">-3</span>
    </span>
</div>

<div class="rate m-show-results-hover">
    <span class="rate-difference is-positive">3</span>
    <span class="rate-button-container">
        <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
        <span class="rate-results">+6</span>
    </span>
    <span class="rate-button-container">
        <a href="" class="rate-contra"><i class="icon-vote-down" title="Vote down"></i></a>
        <span class="rate-results">-3</span>
    </span>
</div>
Hover show results
<div class="rate is-cast m-show-results-click">
    <span class="rate-difference is-positive">3</span>
    <span class="rate-button-container">
        <a href="" class="rate-pro is-rate-button-active"><i class="icon-vote-up" title="Vote up"></i></a>
        <span class="rate-results">+6</span>
    </span>
    <span class="rate-button-container">
        <a href="" class="rate-contra"><i class="icon-vote-down" title="Vote down"></i></a>
        <span class="rate-results">-3</span>
    </span>
</div>
Click show results
```
*/

.rate {
    a {
        color: $color-text-highlight-introvert;
        text-decoration: none;

        &.is-disabled {
            cursor: not-allowed;
        }
    }

    .rate-button-container {
        @include inline-block;
        position: relative;
    }

    .rate-results {
        @include rem(font-size, $font-size-small);
        display: block;
        padding-top: 3px;
        position: absolute;
        text-align: center;
        visibility: hidden;
        width: 100%;
    }

    &.m-show-results-persist,
    &:hover.m-show-results-hover,
    &:focus.m-show-results-hover,
    &.is-cast.m-show-results-click {
        .rate-results {
            visibility: visible;
        }
    }

    .rate-pro {
        &.is-rate-button-active,
        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled),
        &:active:not(.is-disabled) {
            color: $color-function-valid;
        }
    }

    .rate-contra {
        &.is-rate-button-active,
        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled),
        &:active:not(.is-disabled) {
            color: $color-function-invalid;
        }
    }

    .rate-difference {
        &.is-positive {
            color: $color-function-valid;
        }

        &.is-negative {
            color: $color-function-invalid;
        }
    }
}
