/*doc
---
title: Resource Header
name: resource-header
category: Components
---

The resource header should be used as a consistent header for resources such as
processes, proposals or documents. It contains a title, some meta-information,
and a primary action (e.g. create proposal or like).

```html_example
<header class="resource-header">
    <h1 class="resource-header-title">Johannisthal</h1>
    <ul class="resource-header-meta">
        <li>Bebauungsplanverfahren 184a</li>
        <li>Öffentliche auslegung</li>
        <li>22.9.-22.10.15</li>
    </ul>
    <div class="resource-header-action"><a href="#" class="button-cta">Create proposal</a></div>
</header>
```
*/
.resource-header {
    @include rem(padding, 3rem 4rem 4rem);
    position: relative;
    margin-bottom: $padding;
    z-index: 0;
    text-align: center;
}

.resource-header-meta,
.resource-header-action {
    @include rem(margin-bottom, 1.5rem);
}

.resource-header-title {
    @include rem(margin-bottom, 1.2rem);
    font-size: 200%;
}

.resource-header-meta {
    text-transform: uppercase;
    font-size: $font-size-smaller;
    color: $color-text-introvert;
    font-weight: bold;
    list-style: none;
    padding: 0;

    li {
        display: inline;

        &::after {
            content: " / ";
        }

        &:last-child::after {
            content: none;
        }
    }

    a {
        color: inherit;
    }
}

/*doc
---
title: Image Modifier
name: resource-header.m-image
parent: resource-header
---

Resource headers can have a background image.

```html_example
<div class="image-background" style="background-image: url('/static/images/sample.jpg')">
    <header class="resource-header m-image">
        <h1 class="resource-header-title">Johannisthal</h1>
        <ul class="resource-header-meta">
            <li>Bebauungsplanverfahren 184a</li>
            <li>Öffentliche auslegung</li>
            <li>22.9.-22.10.15</li>
        </ul>
        <div class="resource-header-action"><a href="#" class="button-cta">Create proposal</a></div>
    </header>
</div>
```
*/
.resource-header.m-image {
    color: $color-text-inverted;
    background: rgba($color-brand-one-introvert, 0.8);

    .resource-header-title,
    .resource-header-meta {
        color: inherit;
    }
}

/*doc
---
title: Resource Navigation
name: resource-navigation
parent: resource-header
---

The resource navigation is usually displayed above the resource header, but it
may also be used on its own. It contains breadcrumbs and a dropdown with
resource actions (edit, share, report, print, ...).

```html_example
<div class="resource-navigation">
    <nav class="resource-navigation-breadcrumbs">
        <a href="#">to process</a>
        <a href="#">to propoposal</a>
    </nav>
    <div class="dropdown m-right resource-navigation-actions">
        <a href="#" class="dropdown-button">
            <i class="icon-three-dots"></i>
        </a>
    </div>
</div>
```
*/
.resource-navigation {
    @include pie-clearfix;
    padding: $padding;
}

.resource-navigation-actions {
    float: right;
}

.resource-navigation-breadcrumbs {
    float: left;

    a {
        color: inherit;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $font-size-small;
        font-weight: bold;
        margin-right: 1em;

        &:before {
            content: "← ";
        }
    }
}
