/*doc
---
title: Section Jump
name: section-jump
category: Widgets
---

A widget with a header, a left navigation and a main section.

**Deprecated**: Use [resource-header](#resource-header) for the upper and
[jump-navigation](#jump-navigation) for the lower part.

```html_example
<div class="section-jump" id="section-jump-top">
    <div class="section-jump-cover">
        <h1 class="section-jump-cover-header">Section Jump header</h1>
    </div>

    <div class="jump-navigation-wrapper m-narrow">
        <nav class="jump-navigation">
            <ol>
                <li><a></a></li>
            </ol>
        </nav>

        <div class="jump-navigation-main">
            <div style="padding: 1em">
                Lorem ipsum Ullamco laboris commodo sit commodo nulla adipisicing in fugiat nostrud mollit irure esse velit reprehenderit commodo dolor.
                Lorem ipsum Ullamco laboris commodo sit commodo nulla adipisicing in fugiat nostrud mollit irure esse velit reprehenderit commodo dolor.
                Lorem ipsum Ullamco laboris commodo sit commodo nulla adipisicing in fugiat nostrud mollit irure esse velit reprehenderit commodo dolor.
                Lorem ipsum Ullamco laboris commodo sit commodo nulla adipisicing in fugiat nostrud mollit irure esse velit reprehenderit commodo dolor.
            </div>
        </div>
    </div>
</div>
```
*/

.section-jump-cover-header {
    @include rem(font-size, $font-size-large);
    color: $color-text-extrovert;
    font-weight: $font-weight-medium;
    margin: 0;

    @media print {
        @include rem(margin-bottom, $font-size-large);
    }
}

.section-jump-cover {
    @include rem(padding, $padding);
    border-bottom: 2px solid $color-structure-normal;

    @media print {
        border: 0;
        padding: 0;
    }
}
