/*doc
---
title: Tabs
name: tabs
category: Navigation
---

*Note*: This component uses flexbox, but will degrade gracefully.

```html_example
<div class="tabs">
    <a href="#" class="tab is-active">Tab 1</a>
    <a href="#" class="tab">Tab 2</a>
</div>
```
*/
.tabs {
    display: flex;
    margin-bottom: 2px;
    background: $color-structure-normal;

    .tab {
        @include rem(padding, 0.5rem 1rem);
        display: inline-block;
        flex-grow: 1;
        text-align: center;
        color: $color-text-highlight-normal;
        font-weight: $font-weight-extrovert;
        text-decoration: none;

        &.is-active {
            background: $color-background-base;
            color: $color-text-normal;
        }
    }
}
