/*doc
---
title: Unsupported Browser
name: unsupported-browser
category: Widgets
---

Banner showing up if the browser is not supported.

```html_example
<div class="unsupported-browser">
    <img src="/static/icons/png/attention.png"/>
    <div lang="en" class="language-block">
        <h1>Non-supported browser!</h1>
        <p>We're sorry your browser is unsupported. Please either upgrade your Internet Explorer,
        but we recommend
        <a href="http://chromium.woolyss.com/">Chromium</a> or
        <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>.</p>
    </div>
    <img src="/static/icons/png/attention.png"/>
    <div lang="de" class="language-block">
        <h1>Browser wird nicht unterstützt!</h1>
        <p>Es tut uns leid, aber deine Suche wird nicht unterstützt. Bitte aktualisiere die Version deines
        Internet Explorers oder verwende
        <a href="http://chromium.woolyss.com/">Chromium</a> oder
        <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>.</p>
    </div>
</div>
```
*/
.unsupported-browser {
    @include clearfix;
    background: $color-structure-normal;
    padding: 1em 1em 0.5em;

    h1 {
        font-size: $font-size-plus;
        font-weight: $font-weight-normal;
        margin: 0 0 (5px / $font-size-plus * 1em);
    }

    .language-block {
        margin: 0 0 1em 56px;
    }

    p {
        margin-bottom: 0;
    }

    img {
        float: left;
    }
}
