/*doc
---
title: User Indicator
name: user-indicator
category: Widgets
---

This Widget can be used to display the state of the currently logged in user.
It is usually used in the header bar.
*/

.user-indicator {
    @include inline-block;
    @include text(introvert);
    vertical-align: middle;
    white-space: nowrap;

    a {
        display: inline;
        text-decoration: none;
    }

    .user-indicator-logout,
    .user-indicator-login,
    .user-indicator-register {
        color: $color-text-highlight-introvert;
        font-variant: small-caps;
        font-size: $font-size-plus;
        text-transform: lowercase;

        &:hover, &:focus {
            text-decoration: underline;
        }

        &:active {
            color: $color-text-normal;
        }
    }
}

