/*doc
---
title: User list item
name: user-list-item
category: Widgets
---

A user list item within a listing widget

```html_example
<div class="listing">
    <ol class="listing-elements">
        <li class="listing-element">
            <div class="user-list-item">
                <a class="user-list-item-link " href="#" class="m-me">
                    <span class="user-list-item-name">Me</span>
                    <span class="user-list-item-button">Profil anzeigen</span>
                </a>
            </div>
        </li>
        <li class="listing-element>
            <div class="user-list-item">
                <a class="user-list-item-link" href="#">
                    <span class="user-list-item-name">Another User</span>
                    <span class="user-list-item-button">Profil anzeigen</span>
                </a>
            </div>
        </li>
    </ol>
</div>
```
*/

.user-list-item-link {
    background: $color-background-base-introvert;
    border-bottom: 2px solid $color-structure-normal;
    display: block;
    line-height: 1;
    overflow: hidden;
    padding: 20 / 14 * 1em 20 / 14 * 1em 20 / 14 * 1em 1em;
    text-decoration: none;

    .user-list-item-name {
        color: $color-text-normal;
        font-size: $font-size-large;
    }

    .user-list-item-button {
        float: right;
        line-height: $font-size-large/$font-size-normal;
    }

    &.m-me, &:hover, &:focus, &.is-selected {
        background: $color-background-base;

        .user-list-item-button {
            color: $color-text-highlight-normal;
        }
    }
}
