/*doc
---
title: User list item
name: user-list-item
category: Widgets
---

A user list item within a listing widget

```html_example
<div class="user-list-me">
    <strong>ME</strong>
    <button type="button" href="#FIXME">PROFILE</button>
</div>
<div class="listing">
    <ol class="listing-elements">
        <li class="listing-element">
            <div class="user-list-item">
                <strong>Dr. Who</strong>
                <button type="button" class="user-profile-button">Profile</button>
            </div>
        </li>
    </ol>
</div>
```
*/

.user-list-item-link {
    background: $color-background-base-introvert;
    border-bottom: 2px solid $color-structure-normal;
    border-right: $moving-column-border-width solid $color-structure-normal;
    display: block;
    line-height: 1;
    overflow: hidden;
    padding: 20 / 14 * 1em 20 / 14 * 1em 20 / 14 * 1em 1em;
    text-decoration: none;

    .user-list-item-name {
        color: $color-text-normal;
        font-size: $font-size-large;
    }

    .user-list-item-button {
        float: right;
        line-height: $font-size-large/$font-size-normal;
    }

    &.m-me, &:hover, &:focus, &.is-selected {
        background: white;

        .user-list-item-button {
            color: $color-text-highlight-normal;
        }
    }
}
