/*doc
---
title: User Indicator
name: user-indicator
category: Widgets
---

This Widget can be used to display the state of the currently logged in user.
It is usually used in the header bar.
*/

.user-indicator {
    @include inline-block;
    font-size: $font-size-small;
    vertical-align: bottom;
    white-space: nowrap;
}

.user-indicator-primary,
.user-indicator-primary a {
    display: inline;
    color: $color-prime-normal;
    text-decoration: none;
}

.user-indicator-secondary,
.user-indicator-secondary a {
    display: inline;
    color: $color-secondary-extrovert;
    text-decoration: none;
}
