.user-profile-info {
    text-align: center;

    .user-profile-info-name {
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        margin: 80 / 14 * 1em 0 72 / 14 * 1em;
        padding: 0 1em;
    }

    .user-profile-info-name-text {
        font-size: $font-size-huge;
    }

    .user-profile-info-button {
        display: block;
    }

    .user-profile-info-icon {
        display: inline-block;
        line-height: 1;
        font-size: 400%;

        &:hover, &:focus {
            color: $color-brand-three-normal;
        }

        &:before {
            display: block;
        }

        &:active :before {
            content: "\f106";
        }
    }

    .user-profile-info-proposals {
        margin-top: 46 / 14 * 1em;
        text-align: left;

        .mercator-user-profile-proposal-list-heading {
            background: $color-structure-normal;
            font-weight: $font-weight-normal;
            margin: 0;
            padding: 32 / 14 * 1em 0;
            text-align: center;
        }
    }
}
