.user-profile-info {
    text-align: center;

    .user-profile-info-name {
        @include rem(margin, 80px 0 72px);
        @include rem(padding, 0 1rem);
        @include rem(font-size, $font-size-normal);
        font-weight: $font-weight-normal;
    }

    .user-profile-info-name-text {
        @include rem(font-size, $font-size-huge);
    }

    .user-profile-info-button {
        &, &:active, &:hover, &:focus {
            color: $color-text-highlight-normal;
        }

        &:active, &:hover, &:focus {
            .user-profile-info-icon {
                @extend .icon-mail-filled;
            }
        }

    }

    .user-profile-info-icon {
        @include inline-block;
        line-height: 1;
        font-size: 400%;

        &.user-profile-info-icon-active {
            display: none;
        }
    }

    .user-profile-info-proposals {
        @include rem(margin-top, 64px);
        text-align: left;


        .listing-empty-text,
        .mercator-user-profile-proposal-list-heading {
            text-align: center;
        }

        .listing-empty-text {
            @include rem(padding, 1rem 0);
        }

        .mercator-user-profile-proposal-list-heading {
            @include rem(padding, 32px 0);
            background: $color-structure-normal;
            font-weight: $font-weight-normal;
            margin: 0;
        }
    }
}

.user-profile-image-edit {
    $image-base-size: 200px;
    
    @include rem(height, $image-base-size);
    @include rem(width, $image-base-size);
    position: relative;

    // position nicely on top of the username
    margin-top: 60px;
    margin-bottom: -60px;

    // center
    margin-right: auto;
    margin-left: auto;

    .user-profile-image {
        @include rem(height, $image-base-size);
        @include rem(width, $image-base-size);
    }
    
    &.user-profile-image-edit-uploading {
        @include rem(width, $image-base-size);
        height: auto;
    }

    .user-profile-image-edit-button {
        @include rem(width, $image-base-size);
        @include rem(height, $image-base-size);
        @include border-radius(50%);

        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);

        visibility: hidden;

        > span {
            // vertically centered
            @include rem(height, $image-base-size);
            @include rem(width, $image-base-size);
            display: table-cell;
            vertical-align: middle;
            // We actually want the 'button' to wrap
            white-space: normal;
        }
    }

    &:hover .user-profile-image-edit-button {
        visibility: visible;
    }

    .user-profile-image-edit-button.user-profile-image-edit-button-force-visible {
        @extend .button:hover;
        visibility: visible;
    }
}

.user-activity-overview {
    @include box-sizing(border-box);
    width: 100%;
    padding-left: 12px; // is there a variable for this width? --MH
    padding-right: 12px;

    .user-activity-overview-wrapper {
        display: table;
        width: 100%;

        border-top: 1px solid $color-structure-normal;
        border-bottom: 1px solid $color-structure-normal;
        color: $color-brand-one-normal;

        // directives ordered this way to ensure rendering with
        // less than three items will remove them in the order: middle, last, first
        > div { 
            display: table-cell;
            text-align: center;
        }
        
        > div:last-child { text-align: right; }
        > div:first-child { text-align: left; }
    }
}

.user-profile-image {
    @include border-radius(50%);
}

.user-meta.user-profile-image {
    @include rem(height, 35px);
    @include rem(width, 35px);
    @include rem(margin-right, 10px);
    vertical-align: top;
}
