/*doc
---
title: User Indicator
name: user-indicator
category: Widgets
---

This Widget can be used to display the state of the currently logged in user.
It is usually used in the header bar.

```html_example
<div class="user-indicator">
    <div class="user-indicator-primary">
        <a class="user-indicator-login" href="#">login</a>
        or
        <a class="user-indicator-register" href="#">register</a>
    </div>
</div>
<div class="user-indicator">
    <img src="/static/images/sample.jpg" alt="" class="user-profile-image" />
    <adh-user-profile-image data-path="{{credentials.userPath}}"></adh-user-profile-image>
    <a href="#" class="user-indicator-name">John Doe</a
    ><span class="user-indicator-name-logout-separator">,</span>
    <a class="user-indicator-logout" href="#">logout</a>
</div>
```
*/

.user-indicator {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    color: $color-text-introvert;
    font-weight: $font-weight-introvert;

    a {
        display: inline;
        text-decoration: none;
    }

    .user-profile-image {
        @include rem(height, 30px);
        @include rem(width, 30px);
        vertical-align: middle;
    }

    .user-indicator-logout,
    .user-indicator-login,
    .user-indicator-register {
        @include rem(font-size, $font-size-plus);
        font-variant: small-caps;
        text-transform: lowercase;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

