/*doc
---
title: User list item
name: user-list-item
category: Widgets
---

A user list item within a listing widget

```html_example
<div class="user-list-me">
    <strong>ME</strong>
    <button type="button" href="#FIXME">PROFILE</button>
</div>
<div class="listing">
    <ol class="listing-elements">
        <li class="listing-element">
            <div class="user-list-item">
                <strong>Dr. Who</strong>
                <button type="button" class="user-profile-button">Profile</button>
            </div>
        </li>
    </ol>
</div>
```
*/

.user-list-item {
    overflow: hidden;

    .user-profile-button {
        float: right;
    }
}

.user-list-me {
    @extend .user-list-item;
    @extend .listing-element;
    background: $color-structure-surface;
    border: 0;
}
