$state-height: 15px;

.workflow-switch {
    @include clearfix;
    @include rem(margin, 0 auto 27px);
    width: $moving-column-single-width-max;
}

.workflow-switch.has-switch .workflow-switch-transcluded {
    @include span(9 of 12 first);
}

.workflow-switch-container {
    @include span(3 of 12 last);
    text-align: center;

    .button {
        @include rem(line-height, $state-height);
        height: auto;
    }
}
