$state-height: 15px;

.workflow-switch {
    @include clearfix;
    @include rem(margin, 0 auto);
    text-align: center;

    > * {
        display: inline-block;
    }
}

.workflow-switch-container {
    margin-left: 20px;
}
