.error-page {
    @include rem(padding-top, 30px);
    text-align: center;
}

.error-page-image {
    margin: 0 auto;
    max-width: 250px;
}

.error-page-title {
    margin: 0 auto;
    max-width: 500px;
}
