@font-face {
    font-family: "Lato";
    src: font-url("../lib/lato/font/lato-regular/lato-regular.eot"); /* IE9 Compat Modes */
    src: font-url("../lib/lato/font/lato-regular/lato-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         font-url("../lib/lato/font/lato-regular/lato-regular.woff") format("woff"), /* Modern Browsers */
         font-url("../lib/lato/font/lato-regular/lato-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Lato";
    src: font-url("../lib/lato/font/lato-bold/lato-bold.eot"); /* IE9 Compat Modes */
    src: font-url("../lib/lato/font/lato-bold/lato-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         font-url("../lib/lato/font/lato-bold/lato-bold.woff") format("woff"), /* Modern Browsers */
         font-url("../lib/lato/font/lato-bold/lato-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Lato";
    src: font-url("../lib/lato/font/lato-light/lato-light.eot"); /* IE9 Compat Modes */
    src: font-url("../lib/lato/font/lato-light/lato-light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         font-url("../lib/lato/font/lato-light/lato-light.woff") format("woff"), /* Modern Browsers */
         font-url("../lib/lato/font/lato-light/lato-light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Open Sans";
    src: font-url("../lib/webfont-opensans/fonts/opensans-regular-webfont.eot"); /* IE9 Compat Modes */
    src: font-url("../lib/webfont-opensans/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         font-url("../lib/webfont-opensans/fonts/opensans-regular-webfont.woff") format("woff"), /* Modern Browsers */
         font-url("../lib/webfont-opensans/fonts/opensans-regular-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Open Sans";
    src: font-url("../lib/webfont-opensans/fonts/opensans-bold-webfont.eot"); /* IE9 Compat Modes */
    src: font-url("../lib/webfont-opensans/fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         font-url("../lib/webfont-opensans/fonts/opensans-bold-webfont.woff") format("woff"), /* Modern Browsers */
         font-url("../lib/webfont-opensans/fonts/opensans-bold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Open Sans";
    src: font-url("../lib/webfont-opensans/fonts/opensans-light-webfont.eot"); /* IE9 Compat Modes */
    src: font-url("../lib/webfont-opensans/fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         font-url("../lib/webfont-opensans/fonts/opensans-light-webfont.woff") format("woff"), /* Modern Browsers */
         font-url("../lib/webfont-opensans/fonts/opensans-light-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
