// *This is not part of any W3C standard!*
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {  // Firefox 18-
        @content;
    }

    &::-moz-placeholder {  // Firefox 19+
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
