/*doc
---
title: Text align
name: text-align
category: Compability
---

This mixin provides fallbacks for CSS3 values to `text-align`, i.e. `start` and
`end`.
*/
@mixin text-align($value) {
    @if $value == start {
        text-align: left;
        text-align: start;
    } @else if $value == end {
        text-align: right;
        text-align: end;
    } @else {
        text-align: $value;
    }
}

/*doc
---
title: Placeholder
name: placeholder
category: Compability
---

This mixin allows to set attributes to placeholders in several browser.

```
@include placeholder {
    color: black;
}
```

*This is not part of any W3C standard.*
*/
@mixin placeholder {
    // scss-lint:disable VendorPrefix

    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {  // Firefox 18-
        @content;
    }

    &::-moz-placeholder {  // Firefox 19+
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

.sticky {
    // scss-lint:disable VendorPrefix
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
