.l-content {
    @include rem(top, 40px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    @media print {
        position: static;
        overflow: visible;
    }
}

/*doc
---
title: Header
name: l-header
category: Layout
---

Most views in adhocracy have a header. But this header is very flexible and
depends on a lot of factors:

-   Areas that are typically accessed via links from emails (`activate`,
    `password_reset`) do not have a header.
-   Areas related to user management (`login`, `register`,
    `create_password_reset`) have a simplified header.
-   The header in the resource area may have additional, process related
    functionality.
-   The header in the resource area may contain a space switcher.
-   Embed contexts may have different headers.
-   All headers contain a user indicator.

```html_example
<div class="l-header">
    <div class="l-header-left placeholder">left</div>
    <div class="l-header-right placeholder">right</div>
</div>
```
*/
.main-header {
    @include rem(line-height, 40px);
    position: relative;

    @media print {
        display: none;
    }
}

.l-header {
    @include clearfix;
    @include rem(max-width, $moving-column-single-width-max);
    margin: 0 auto;
    position: relative;
}

.l-header-left,
.l-header-right {
    position: relative;
    z-index: 1;
}

.l-header-left {
    float: left;
}

.l-header-right {
    float: right;
}

.l-center {
    @include rem(max-width, 30rem);
    @include rem(margin, 5rem auto 10rem);
    @include rem(padding, 0.5rem);
}
