/*
 Allow rem units with px fallback
*/

$rem-baseline: $font-size-normal !default;
$rem: true !default;
$rem-px-only: false !default;

@mixin rem-baseline($zoom: 100%) {
    font-size: $zoom / 16px * $rem-baseline;
}

@function rem-convert($to, $values...) {
    $result: ();
    $separator: list-separator($values);

    @each $value in $values {
        $item: $value;
        @if type-of($value) == "number" and unit($value) == "rem" and $to == "px" {
            $item: $value / 1rem * $rem-baseline;
        } @else if type-of($value) == "number" and unit($value) == "px" and $to == "rem" {
            $item: $value / ($rem-baseline / 1rem);
        } @else if type-of($value) == "list" {
            $item: rem-convert($to, $value...);
        }
        $result: append($result, $item, $separator);
    }

    @return $result;
}

@function rem($values...) {
    @if $rem-px-only {
        @return rem-convert(px, $values...);
    } @else {
        @return rem-convert(rem, $values...);
    }
}

@mixin rem($properties, $values...) {
    @if type-of($properties) == "map" {
        @each $property in map-keys($properties) {
            @include rem($property, map-get($properties, $property));
        }
    } @else {
        @each $property in $properties {
            @if $rem or $rem-px-only {
                #{$property}: rem-convert(px, $values...);
            }
            @if not $rem-px-only {
                #{$property}: rem-convert(rem, $values...);
            }
        }
    }
}

@mixin ellipsis($width) {
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@function font-url($path) {
    @return url("../fonts/" + $path + "?" + cachebust());
}
