//Buttons
$button-height: 24px !default;
$button-line-height: $button-height / $font-size-normal !default;
$color-button-text: $color-text-highlight-introvert !default;
$color-button-text-hover: $color-text-highlight-normal !default;
$color-button-cta-text: $color-text-inverted !default;
$color-button-cta-base: $color-text-highlight-normal !default;
$color-button-cta-hover-background: $color-brand-two-extrovert !default;
$color-button-cta-active-background: $color-brand-two-introvert !default;
