/*doc
---
title: Colors Extra
name: colors.extra
category: Variables
parent: colors
---

<table class="styleguide-colors">
    <tr>
        <td colspan="3"><strong>Button colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-button-text"></div></td>
        <td><code>color-button-text</code></td>
        <td>Button text color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-text-hover"></div></td>
        <td><code>color-button-text-hover</code></td>
        <td>Button text hover color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-text"></div></td>
        <td><code>color-button-cta-text</code></td>
        <td>Call-to-action (CTA) button text color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-base"></div></td>
        <td><code>color-button-cta-base</code></td>
        <td>CTA face and CTA secondary border and text color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-hover-background"></div></td>
        <td><code>color-button-cta-hover-background</code></td>
        <td>CTA face hover color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-active-background"></div></td>
        <td><code>color-button-cta-active-background</code></td>
        <td>CTA face active color</td>
    </tr>
</table>
*/
.color-button-text {background-color: $color-button-text;}
.color-button-text-hover {background-color: $color-button-text-hover;}
.color-button-cta-text {background-color: $color-button-cta-text;}
.color-button-cta-base {background-color: $color-button-cta-base;}
.color-button-cta-hover-background {background-color: $color-button-cta-hover-background;}
.color-button-cta-active-background {background-color: $color-button-cta-active-background;}
