/*doc
---
title: Colors
name: colors
category: Variables
---

<table class="styleguide-colors">
    <tr>
        <td colspan="3"><strong>Text colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-text-normal"></div></td>
        <td><code>color-text-normal</code></td>
        <td>Default color for running text</td>
    </tr>
    <tr>
        <td><div class="example-color color-text-introvert"></div></td>
        <td><code>color-text-introvert</code></td>
        <td>For secondary text</td>
    </tr>
    <tr>
        <td><div class="example-color color-text-extrovert"></div></td>
        <td><code>color-text-extrovert</code></td>
        <td></td>
    </tr>
    <tr>
        <td><div class="example-color color-text-inverted"></div></td>
        <td><code>color-text-inverted</code></td>
        <td>Used as either foreground or background with
            <code>color-text-highlight-normal</code></td>
    </tr>
    <tr>
        <td><div class="example-color color-text-highlight-normal"></div></td>
        <td><code>color-text-highlight-normal</code></td>
        <td>For highlighted content such as links</td>
    </tr>
    <tr>
        <td><div class="example-color color-text-highlight-introvert"></div></td>
        <td><code>color-text-highlight-introvert</code></td>
        <td>For highlighted content introverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-text-highlight-extrovert"></div></td>
        <td><code>color-text-highlight-extrovert</code></td>
        <td>For highlighted content extroverted style</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Brand colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-one-normal"></div></td>
        <td><code>color-brand-one-normal</code></td>
        <td>Brand color 1</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-one-introvert"></div></td>
        <td><code>color-brand-one-introvert</code></td>
        <td>Brand color 1 introverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-one-extrovert"></div></td>
        <td><code>color-brand-one-extrovert</code></td>
        <td>Brand color 1 extroverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-two-normal"></div></td>
        <td><code>color-brand-two-normal</code></td>
        <td>Brand color 2</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-two-introvert"></div></td>
        <td><code>color-brand-two-introvert</code></td>
        <td>Brand color 2 introverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-two-extrovert"></div></td>
        <td><code>color-brand-two-extrovert</code></td>
        <td>Brand color 2 extroverted style</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Functional colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-function-positive"></div></td>
        <td><code>color-function-positive</code></td>
        <td>For approved content, e.g. proposals that are realized, pro-rates</td>
    </tr>
    <tr>
        <td><div class="example-color color-function-negative"></div></td>
        <td><code>color-function-negative</code></td>
        <td>For negative content, e.g. proposals that aren't realized, wrong input</td>
    </tr>
    <tr>
        <td><div class="example-color color-function-neutral"></div></td>
        <td><code>color-function-neutral</code></td>
        <td>For neutral (neither positive nor negative) content, e.g. badges saying 'on test'</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Structural colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-normal"></div></td>
        <td><code>color-structure-normal</code></td>
        <td>Border color for inactive or disabled elements</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-introvert"></div></td>
        <td><code>color-structure-introvert</code></td>
        <td>Secondary background color</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-transparent"></div></td>
        <td><code>color-structure-transparent</code></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3"><strong>Background colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-background-base"></div></td>
        <td><code>color-background-base</code></td>
        <td>Default background color</td>
    </tr>
    <tr>
        <td><div class="example-color color-background-base-introvert"></div></td>
        <td><code>color-background-base-introvert</code></td>
        <td></td>
    </tr>
    <tr>
        <td><div class="example-color color-background-mask"></div></td>
        <td><code>color-background-mask</code></td>
        <td>Mask behind an modal</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Button colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-button-text"></div></td>
        <td><code>color-button-text</code></td>
        <td>Button text color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-text-hover"></div></td>
        <td><code>color-button-text-hover</code></td>
        <td>Button text hover color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-text"></div></td>
        <td><code>color-button-cta-text</code></td>
        <td>Call-to-action (CTA) button text color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-base"></div></td>
        <td><code>color-button-cta-base</code></td>
        <td>CTA face and CTA secondary border and text color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-hover-background"></div></td>
        <td><code>color-button-cta-hover-background</code></td>
        <td>CTA face hover color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-active-background"></div></td>
        <td><code>color-button-cta-active-background</code></td>
        <td>CTA face active color</td>
    </tr>
</table>
*/

.example-color {
    @include inline-block;
    height: 3rem;
    width: 3rem;
    border: 1px solid $color-structure-introvert;
}

.color-brand-one-normal {background-color: $color-brand-one-normal;}
.color-brand-one-introvert {background-color: $color-brand-one-introvert;}
.color-brand-one-extrovert {background-color: $color-brand-one-extrovert;}
.color-brand-two-normal {background-color: $color-brand-two-normal;}
.color-brand-two-introvert {background-color: $color-brand-two-introvert;}
.color-brand-two-extrovert {background-color: $color-brand-two-extrovert;}

.color-text-normal {background-color: $color-text-normal;}
.color-text-introvert {background-color: $color-text-introvert;}
.color-text-extrovert {background-color: $color-text-extrovert;}
.color-text-highlight-normal {background-color: $color-text-highlight-normal;}
.color-text-highlight-introvert {background-color: $color-text-highlight-introvert;}
.color-text-highlight-extrovert {background-color: $color-text-highlight-extrovert;}
.color-text-inverted {background-color: $color-text-inverted;}

.color-function-neutral {background-color: $color-function-neutral;}
.color-function-negative {background-color: $color-function-negative;}
.color-function-positive {background-color: $color-function-positive;}

.color-background-base {background-color: $color-background-base;}
.color-background-base-introvert {background-color: $color-background-base-introvert;}
.color-background-mask {background-color: $color-background-mask;}

.color-structure-normal {background-color: $color-structure-normal;}
.color-structure-introvert {background-color: $color-structure-introvert;}
.color-structure-transparent {background-color: $color-structure-transparent;}

.color-button-text {background-color: $color-button-text;}
.color-button-text-hover {background-color: $color-button-text-hover;}
.color-button-cta-text {background-color: $color-button-cta-text;}
.color-button-cta-base {background-color: $color-button-cta-base;}
.color-button-cta-hover-background {background-color: $color-button-cta-hover-background;}
.color-button-cta-active-background {background-color: $color-button-cta-active-background;}

// some static contrast checks for a11y
@include check-contrast($color-text-normal, $color-background-base, 7);
@include check-contrast($color-text-normal, $color-structure-introvert);
@include check-contrast($color-text-extrovert, $color-background-base);
@include check-contrast($color-text-extrovert, $color-structure-introvert);
@include check-contrast($color-text-introvert, $color-background-base);
@include check-contrast($color-text-introvert, $color-structure-introvert, 3);
@include check-contrast($color-text-inverted, $color-text-highlight-normal);
@include check-contrast($color-text-highlight-normal, $color-background-base);
@include check-contrast($color-text-highlight-normal, $color-background-base-introvert);
@include check-contrast($color-text-inverted, $color-function-negative);
@include check-contrast($color-text-normal, $color-function-positive);
@include check-contrast($color-text-normal, $color-function-neutral);
