/*doc
---
title: Colors
name: colors
category: Variables
---

<table class="styleguide-colors">
    <tr>
        <td><div class="example-color color-prime-normal"></div></td>
        <td><code>color-prime-normal</code></td>
        <td>Default color for running text</td>
    </tr>
    <tr>
        <td><div class="example-color color-prime-extrovert"></div></td>
        <td><code>color-prime-extrovert</code></td>
        <td>Default color for headings</td>
    </tr>
    <tr>
        <td><div class="example-color color-secondary-extrovert"></div></td>
        <td><code>color-secondary-extrovert</code></td>
        <td>For secondary text</td>
    </tr>
    <tr>
        <td><div class="example-color color-secondary-introvert"></div></td>
        <td><code>color-secondary-introvert</code></td>
        <td>For secondary text</td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-normal"></div></td>
        <td><code>color-highlight-normal</code></td>
        <td>For highlighted content such as links</td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-introvert"></div></td>
        <td><code>color-highlight-introvert</code></td>
        <td>For highlighted content in a is-hover state</td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-extrovert"></div></td>
        <td><code>color-highlight-extrovert</code></td>
        <td>For highlighted content in a has-focus state</td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-reverse"></div></td>
        <td><code>color-highlight-reverse</code></td>
        <td>Used as either foreground or background with
            <code>color-highlight-normal</code></td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-valid"></div></td>
        <td><code>color-highlight-valid</code></td>
        <td>For valid content</td>
    </tr>
    <tr>
        <td><div class="example-color color-highlight-invalid"></div></td>
        <td><code>color-highlight-invalid</code></td>
        <td>For invalid content</td>
    </tr>
    <tr>
        <td><div class="example-color color-background"></div></td>
        <td><code>color-background</code></td>
        <td>Default background color</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-surface"></div></td>
        <td><code>color-structure-surface</code></td>
        <td>Secondary background color</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-active"></div></td>
        <td><code>color-structure-active</code></td>
        <td></td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-border"></div></td>
        <td><code>color-structure-border</code></td>
        <td>Default border color</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-border-introvert"></div></td>
        <td><code>color-structure-border-introvert</code></td>
        <td>Border color for inactive or disabled elements</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-border-extrovert"></div></td>
        <td><code>color-structure-border-extrovert</code></td>
        <td>border color for active or filled elements</td>
    </tr>
</table>
*/
.example-color {
    @include inline-block;
    height: 3em;
    width: 3em;
    border: 1px solid $color-structure-border;
}

.color-prime-normal {background-color: $color-text-normal;}
.color-prime-extrovert {background-color: $color-prime-extrovert;}
.color-secondary-extrovert {background-color: $color-text-introvert;}
.color-secondary-introvert {background-color: $color-secondary-introvert;}
.color-highlight-normal {background-color: $color-text-highlight-normal;}
.color-highlight-introvert {background-color: $color-highlight-introvert;}
.color-highlight-extrovert {background-color: $color-text-highlight-introvert;}
.color-highlight-reverse {background-color: $color-text-inverted;}
.color-highlight-valid {background-color: $color-function-valid;}
.color-highlight-invalid {background-color: $color-function-invalid;}
.color-background {background-color: $color-background;}
.color-structure-surface {background-color: $color-structure-introvert;}
.color-structure-active {background-color: $color-structure-active;}
.color-structure-border {background-color: $color-structure-border;}
.color-structure-border-introvert {background-color: $color-structure-normal;}
.color-structure-border-extrovert {background-color: $color-structure-border-extrovert;}

// some static contrast checks for a11y
@include check-contrast($color-text-normal, $color-background);
@include check-contrast($color-text-normal, $color-structure-introvert);
@include check-contrast($color-prime-extrovert, $color-background);
@include check-contrast($color-prime-extrovert, $color-structure-introvert);
@include check-contrast($color-text-highlight-normal, $color-text-inverted);
@include check-contrast($color-text-highlight-normal, $color-background);
@include check-contrast($color-text-highlight-normal, $color-structure-introvert);


/*doc
---
title: Text mixin
name: mixin-text
category: Type
---

The text mixin can be used to set the general text style. The following styles
are available:

<table class="styleguide-colors">
    <tr>
        <td><code>header</code></td>
        <td class="text-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>running</code></td>
        <td class="text-running">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td>For running text</td>
    </tr>
    <tr>
        <td><code>introvert</code></td>
        <td class="text-introvert">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td>For introverted text</td>
    </tr>
    <tr>
        <td><code>functional</code></td>
        <td class="text-functional">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>functional-introvert</code></td>
        <td class="text-functional-introvert">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>meta</code></td>
        <td class="text-meta">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td></td>
    </tr>
</table>
*/
.text-header {@include text(header);}
.text-running {@include text(running);}
.text-introvert {@include text(introvert);}
.text-functional {@include text(functional);}
.text-functional-introvert {@include text(functional-introvert);}
.text-meta {@include text(meta);}
