/*doc
---
title: Colors
name: colors
category: Variables
---

<table class="styleguide-colors">
    <tr>
        <td colspan="3"><strong>Text colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-text-normal"></div></td>
        <td><code>color-text-normal</code></td>
        <td>Default color for running text</td>
    </tr>
    <tr>
        <td><div class="example-color color-text-introvert"></div></td>
        <td><code>color-text-introvert</code></td>
        <td>For secondary text</td>
    </tr>
    <tr>
        <td><div class="example-color color-text-inverted"></div></td>
        <td><code>color-text-inverted</code></td>
        <td>Used as either foreground or background with
            <code>color-text-highlight-normal</code></td>
    </tr>
    <tr>
        <td><div class="example-color color-text-highlight-normal"></div></td>
        <td><code>color-text-highlight-normal</code></td>
        <td>For highlighted content such as links</td>
    </tr>
    <tr>
        <td><div class="example-color color-text-highlight-introvert"></div></td>
        <td><code>color-text-highlight-introvert</code></td>
        <td>For highlighted content introverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-text-highlight-extrovert"></div></td>
        <td><code>color-text-highlight-extrovert</code></td>
        <td>For highlighted content extroverted style</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Brand colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-one-normal"></div></td>
        <td><code>color-brand-one-normal</code></td>
        <td>Brand color 1</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-one-introvert"></div></td>
        <td><code>color-brand-one-introvert</code></td>
        <td>Brand color 1 introverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-one-extrovert"></div></td>
        <td><code>color-brand-one-extrovert</code></td>
        <td>Brand color 1 extroverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-two-normal"></div></td>
        <td><code>color-brand-two-normal</code></td>
        <td>Brand color 2</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-two-introvert"></div></td>
        <td><code>color-brand-two-introvert</code></td>
        <td>Brand color 2 introverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-two-extrovert"></div></td>
        <td><code>color-brand-two-extrovert</code></td>
        <td>Brand color 2 extroverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-three-normal"></div></td>
        <td><code>color-brand-three-normal</code></td>
        <td>Brand color 3</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-three-introvert"></div></td>
        <td><code>color-brand-three-introvert</code></td>
        <td>Brand color 3 introverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-three-extrovert"></div></td>
        <td><code>color-brand-three-extrovert</code></td>
        <td>Brand color 3 extroverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-four-normal"></div></td>
        <td><code>color-brand-four-normal</code></td>
        <td>Brand color 4</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-four-introvert"></div></td>
        <td><code>color-brand-four-introvert</code></td>
        <td>Brand color 4 introverted style</td>
    </tr>
    <tr>
        <td><div class="example-color color-brand-four-extrovert"></div></td>
        <td><code>color-brand-four-extrovert</code></td>
        <td>Brand color 4 extroverted style</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Functional colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-function-valid"></div></td>
        <td><code>color-function-valid</code></td>
        <td>For valid content</td>
    </tr>
    <tr>
        <td><div class="example-color color-function-invalid"></div></td>
        <td><code>color-function-invalid</code></td>
        <td>For invalid content</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Structural colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-normal"></div></td>
        <td><code>color-structure-normal</code></td>
        <td>Border color for inactive or disabled elements</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-introvert"></div></td>
        <td><code>color-structure-introvert</code></td>
        <td>Secondary background color</td>
    </tr>
    <tr>
        <td><div class="example-color color-structure-extrovert"></div></td>
        <td><code>color-structure-extrovert</code></td>
        <td>border color for active or filled elements</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Background colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-background-base"></div></td>
        <td><code>color-background-base</code></td>
        <td>Default background color</td>
    </tr>
    <tr>
        <td><div class="example-color color-background-base-introvert"></div></td>
        <td><code>color-background-base-introvert</code></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3"><strong>Button colors</strong></td>
    </tr>
    <tr>
        <td><div class="example-color color-button-text"></div></td>
        <td><code>color-button-text</code></td>
        <td>Button text color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-text-hover"></div></td>
        <td><code>color-button-text-hover</code></td>
        <td>Button text hover color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-text"></div></td>
        <td><code>color-button-cta-text</code></td>
        <td>Call-to-action (CTA) button text color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-base"></div></td>
        <td><code>color-button-cta-base</code></td>
        <td>CTA face and CTA secondary border and text color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-hover-background"></div></td>
        <td><code>color-button-cta-hover-background</code></td>
        <td>CTA face hover color</td>
    </tr>
    <tr>
        <td><div class="example-color color-button-cta-active-background"></div></td>
        <td><code>color-button-cta-active-background</code></td>
        <td>CTA face active color</td>
    </tr>
</table>
*/

.example-color {
    @include inline-block;
    height: 3em;
    width: 3em;
    border: 1px solid $color-structure-border;
}

.color-brand-one-normal {background-color: $color-brand-one-normal;}
.color-brand-one-introvert {background-color: $color-brand-one-introvert;}
.color-brand-one-extrovert {background-color: $color-brand-one-extrovert;}
.color-brand-two-normal {background-color: $color-brand-two-normal;}
.color-brand-two-introvert {background-color: $color-brand-two-introvert;}
.color-brand-two-extrovert {background-color: $color-brand-two-extrovert;}
.color-brand-three-normal {background-color: $color-brand-three-normal;}
.color-brand-three-introvert {background-color: $color-brand-three-introvert;}
.color-brand-three-extrovert {background-color: $color-brand-three-extrovert;}
.color-brand-four-normal {background-color: $color-brand-four-normal;}
.color-brand-four-introvert {background-color: $color-brand-four-introvert;}
.color-brand-four-extrovert {background-color: $color-brand-four-extrovert;}

.color-text-normal {background-color: $color-text-normal;}
.color-text-introvert {background-color: $color-text-introvert;}
.color-text-extrovert {background-color: $color-text-extrovert;}
.color-text-highlight-normal {background-color: $color-text-highlight-normal;}
.color-text-highlight-introvert {background-color: $color-text-highlight-introvert;}
.color-text-highlight-extrovert {background-color: $color-text-highlight-extrovert;}
.color-text-inverted {background-color: $color-text-inverted;}

.color-function-valid {background-color: $color-function-valid;}
.color-function-invalid {background-color: $color-function-invalid;}

.color-background-base {background-color: $color-background-base;}
.color-background-base-introvert {background-color: $color-background-base-introvert;}

.color-structure-normal {background-color: $color-structure-normal;}
.color-structure-introvert {background-color: $color-structure-introvert;}
.color-structure-extrovert {background-color: $color-structure-extrovert;}
.color-structure-border {background-color: $color-structure-border;}

.color-button-text {background-color: $color-button-text;}
.color-button-text-hover {background-color: $color-button-text-hover;}
.color-button-cta-text {background-color: $color-button-cta-text;}
.color-button-cta-base {background-color: $color-button-cta-base;}
.color-button-cta-hover-background {background-color: $color-button-cta-hover-background;}
.color-button-cta-active-background {background-color: $color-button-cta-active-background;}

// some static contrast checks for a11y
@include check-contrast($color-text-normal, $color-background-base);
@include check-contrast($color-text-normal, $color-structure-introvert);
@include check-contrast($color-text-extrovert, $color-background-base);
@include check-contrast($color-text-extrovert, $color-structure-introvert);
@include check-contrast($color-text-highlight-normal, $color-text-inverted);
@include check-contrast($color-text-highlight-normal, $color-background-base);
@include check-contrast($color-text-highlight-normal, $color-structure-introvert);


/*doc
---
title: Text mixin
name: mixin-text
category: Type
---

The text mixin can be used to set the general text style. The following styles
are available:

<table class="styleguide-colors">
    <tr>
        <td><code>header</code></td>
        <td class="text-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>running</code></td>
        <td class="text-running">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td>For running text</td>
    </tr>
    <tr>
        <td><code>introvert</code></td>
        <td class="text-introvert">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td>For introverted text</td>
    </tr>
    <tr>
        <td><code>functional</code></td>
        <td class="text-functional">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>functional-introvert</code></td>
        <td class="text-functional-introvert">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>meta</code></td>
        <td class="text-meta">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</td>
        <td></td>
    </tr>
</table>
*/
.text-header {@include text(header);}
.text-running {@include text(running);}
.text-introvert {@include text(introvert);}
.text-functional {@include text(functional);}
.text-functional-introvert {@include text(functional-introvert);}
.text-meta {@include text(meta);}
