//Buttons
$button-height: 24px / $font-size-normal;
$color-button-text: $color-text-highlight-introvert;
$color-button-text-hover: $color-text-highlight-normal;
$color-button-cta-text: $color-text-inverted;
$color-button-cta-base: $color-text-highlight-normal;
$color-button-cta-hover-background: $color-brand-two-extrovert;
$color-button-cta-active-background: $color-brand-two-introvert;
