/* documentation is in variables_doc */

// Text colors
$color-text-normal: #575756;
$color-text-introvert: #808080;
$color-text-extrovert: #1c1c1b;
$color-text-highlight-normal: #26a9e0;
$color-text-highlight-introvert: #808080;
$color-text-highlight-extrovert: #333;
$color-text-inverted: white;

// Function colors
$color-function-valid: #2eac66;
$color-function-invalid: #e6332a;

// Background colors
$color-background-base: white;
$color-background-base-introvert: #f2f2f2;

// Structure colors
$color-structure-normal: #e6e6e6;
$color-structure-introvert: #ccc;
$color-structure-extrovert: #999;
$color-structure-border: #9d9c9c;

//Brand colors
$color-brand-one-normal: #fcb813;
$color-brand-three-normal: #ce128b;

$color-brand-one-normal: #fcb813;
$color-brand-one-introvert: darken($color-brand-one-normal, 10%);
$color-brand-one-extrovert: lighten($color-brand-one-normal, 10%);
$color-brand-two-normal: #00aae5;
$color-brand-two-introvert: darken($color-brand-two-normal, 10%);
$color-brand-two-extrovert: lighten($color-brand-two-normal, 10%);
$color-brand-three-normal: #ce128b;
$color-brand-three-introvert: darken($color-brand-three-normal, 10%);
$color-brand-three-extrovert: lighten($color-brand-three-normal, 10%);
$color-brand-four-normal: #73bf44;
$color-brand-four-introvert: darken($color-brand-four-normal, 10%);
$color-brand-four-extrovert: lighten($color-brand-four-normal, 10%);

$font-family-normal: "Lato", sans-serif;
$font-weight-introvert: 400;
$font-weight-normal: normal;
$font-weight-introvert: 400;
$font-weight-extrovert: 900;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-plus: 16px;
$font-size-large: 21px;
$font-size-huge: 40px;

// em is relative to $font-size-normal
$moving-column-menu-height: 24px / $font-size-normal * 1em;
$moving-column-border-width: 5px;
$l-header-height: 2.8571em;
$annotation-width: 34%;

$padding-small: 0.5em;
$padding-medium: 1em;

@mixin font-tracking($value) {
    @if $value == narrow {
        word-spacing: 0.025em;
        letter-spacing: 0.025em;
    } @else if $value == normal {
        word-spacing: 0.050em;
        letter-spacing: 0.050em;
    } @else {
        word-spacing: $value;
        letter-spacing: $value;
    }
}

@mixin text($value) {
    @if $value == running {
        font-family: $font-family-normal;
        font-weight: $font-weight-normal;
        font-size: $font-size-normal;
        //@include font-tracking(normal);
        line-height: 1.2;
        color: $color-text-normal;
    } @else if $value == functional {
        font-family: $font-family-normal;
        font-weight: $font-weight-normal;
        font-size: $font-size-plus;
        @include font-tracking(normal);
        line-height: 1.2;
        color: $color-text-normal;
    } @else if $value == functional-introvert {
        font-family: $font-family-normal;
        font-weight: $font-weight-introvert;
        font-size: $font-size-small;
        @include font-tracking(narrow);
        line-height: 1.5;
        color: $color-text-introvert;
    } @else if $value == introvert {
        font-family: $font-family-normal;
        font-weight: $font-weight-introvert;
        font-size: $font-size-normal;
        @include font-tracking(narrow);
        line-height: 1.2;
        color: $color-text-introvert;
    } @else if $value == header {
        font-family: $font-family-normal;
        font-weight: $font-weight-normal;
        font-size: $font-size-large;
        @include font-tracking(narrow);
        line-height: 1.2;
        color: $color-text-extrovert;
    } @else if $value == meta {
        font-family: $font-family-normal;
        font-weight: $font-weight-normal;
        font-size: $font-size-small;
        @include font-tracking(normal);
        line-height: 1.2;
        color: $color-text-introvert;
        text-transform: uppercase;
    } @else {
        @warn "no such text-style: #{$value}";
    }
}

$width-action: 3em;
