/* documentation is in variables_doc */

// Text colors
$color-text-normal: #222;
$color-text-introvert: lighten($color-text-normal, 15%);
$color-text-extrovert: darken($color-text-normal, 10%);
$color-text-highlight-normal: #026dca;
$color-text-highlight-introvert: darken($color-text-highlight-normal, 10%);
$color-text-highlight-extrovert: lighten($color-text-highlight-normal, 10%);
$color-text-inverted: white;

// Function colors
$color-function-positive: #00af5d;
$color-function-negative: #c72e51;
$color-function-neutral: #fdd216;

// Background colors
$color-background-base: white;
$color-background-base-introvert: #f2f2f2;

// Structure colors
$color-structure-normal: #e6e6e6;
$color-structure-introvert: #ccc;
$color-structure-transparent: transparent;

// Brand colors
$color-brand-one-normal: #fcb813;
$color-brand-one-introvert: darken($color-brand-one-normal, 10%);
$color-brand-one-extrovert: lighten($color-brand-one-normal, 10%);
$color-brand-two-normal: #00aae5;
$color-brand-two-introvert: darken($color-brand-two-normal, 10%);
$color-brand-two-extrovert: lighten($color-brand-two-normal, 10%);

$font-family-normal: sans-serif;
$font-weight-introvert: 300;
$font-weight-medium: 500;
$font-weight-extrovert: 900;
$font-size-smaller: 11px;
$font-size-small: 13px;
$font-size-normal: 14px;
$font-size-plus: 16px;
$font-size-large: 21px;
$font-size-huge: 40px;

// em is relative to $font-size-normal
$moving-column-menu-height: 24px;
$moving-column-border-width: 5px;
$annotation-width: 34%;

// Padding
$padding: 0.8rem;

// Other
$moving-column-single-width-max: 55rem;
$moving-column-single-width-min: 35rem;
$badge-line-height: 2;

// Breakpoints
$breakpoint-small-device: 640px;

$logo-height: 40px;
