/* documentation is in variables_doc */

$color-prime-normal: #575756;
$color-prime-extrovert: #1c1c1b;
$color-secondary-extrovert: #9d9c9c;
$color-secondary-introvert: #dadad9;
$color-highlight-normal: #009ee3;
$color-highlight-introvert: #3eb7ea;
$color-highlight-extrovert: #0088b9;
$color-highlight-reverse: white;
$color-highlight-valid: #2eac66;
$color-highlight-invalid: #e6332a;
$color-background: white;
$color-structure-surface: #dadad9;
$color-structure-active: #f5f5f5;
$color-structure-border: #9d9c9c;
$color-structure-border-introvert: #dadad9;
$color-structure-border-extrovert: #575756;


$font-family-normal: "Lato", sans-serif;
$font-weight-introvert: 400;
$font-weight-normal: normal;
$font-weight-introvert: 400;
$font-weight-extrovert: 900;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-plus: 16px;
$font-size-large: 21px;
$font-size-huge: 40px;

$moving-column-menu-height: 2em;
$moving-column-border-width: 0.4166em;
$l-header-height: 2.8571em;

$padding-small: 0.5em;
$padding-medium: 1em;

@mixin font-tracking($value) {
    @if $value == narrow {
        word-spacing: 0.025em;
        letter-spacing: 0.025em;
    } @else if $value == normal {
        word-spacing: 0.050em;
        letter-spacing: 0.050em;
    } @else {
        word-spacing: $value;
        letter-spacing: $value;
    }
}

@mixin text($value) {
    @if $value == running {
        font-family: $font-family-normal;
        font-weight: $font-weight-normal;
        font-size: $font-size-normal;
        @include font-tracking(normal);
        line-height: 1.5;
        color: $color-prime-normal;
    } @else if $value == functional {
        font-family: $font-family-normal;
        font-weight: $font-weight-normal;
        font-size: $font-size-plus;
        @include font-tracking(normal);
        line-height: 1.5;
        color: $color-prime-normal;
    } @else if $value == functional-introvert {
        font-family: $font-family-normal;
        font-weight: $font-weight-introvert;
        font-size: $font-size-small;
        @include font-tracking(narrow);
        line-height: 1.5;
        color: $color-secondary-extrovert;
    } @else if $value == introvert {
        font-family: $font-family-normal;
        font-weight: $font-weight-introvert;
        font-size: $font-size-normal;
        @include font-tracking(narrow);
        line-height: 1.5;
        color: $color-secondary-extrovert;
    } @else if $value == header {
        font-family: $font-family-normal;
        font-weight: $font-weight-normal;
        font-size: $font-size-large;
        @include font-tracking(narrow);
        line-height: 1.5;
        color: $color-prime-extrovert;
    } @else if $value == meta {
        font-family: $font-family-normal;
        font-weight: $font-weight-normal;
        font-size: $font-size-small;
        @include font-tracking(normal);
        line-height: 1.2;
        color: $color-secondary-extrovert;
        text-transform: uppercase;
    } @else {
        @warn "no such text-style: #{$value}";
    }
}

$width-action: 3em;
