//brand colors
$color-brand-one-normal: #253276;
$color-brand-one-introvert: #162c60;
$color-brand-one-extrovert: #31448a;
$color-brand-two-normal: #cd0055;
$color-brand-two-introvert: #ae0048;
$color-brand-two-extrovert: #ed0062;

// text colors
$color-text-normal: #4c4c4c;
$color-text-introvert: #666;
$color-text-extrovert: #1c1c1b;
$color-text-highlight-normal: $color-brand-two-normal;
$color-text-highlight-introvert: $color-brand-two-introvert;
$color-text-highlight-extrovert: #333;
$color-text-inverted: white;

// background colors
$color-background-base: white;
$color-background-base-introvert: #f6f6f6;

// structure colors
$color-structure-normal: #e4e4e4;
$color-structure-introvert: #ccc;

//font sizes
$font-size-plus: 18px;
$font-size-large: 24px;
$font-size-huge: 48px;

//line-height
$line-height-large: 1.5;
$line-height-plus: 1.4;

//images
$thumbnail-width: 105px;
$thumbnail-height: 90px;

$font-family-normal: Arial, Helvetica, sans-serif;

//buttons
$color-button-text: $color-text-normal;
$color-button-text-hover: $color-text-introvert;
$color-button-cta-hover-background: $color-brand-two-introvert;
$color-button-cta-active-background: $color-brand-two-extrovert;
