//buttons
$color-button-text: $color-text-normal;
$color-button-text-hover: $color-text-introvert;
$color-button-cta-hover-background: $color-brand-two-introvert;
$color-button-cta-active-background: $color-brand-two-extrovert;
