.mercator-print-header {
    $height: 1.2em;
    @extend .print-only;
    line-height: $height;

    &:before {
        @include inline-block;
        background-image: url("/static/icons/png/favicon.png");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: $height;
        line-height: $height;
        margin-right: 0.5em;
        width: $height;
    }
}
