//brand colors
$color-brand-one-normal: #fcb813;
$color-brand-one-extrovert: #fcd370;
$color-brand-two-normal: #00aae5;
$color-brand-two-introvert: #0097d5;
$color-brand-two-extrovert: #89c5ec;

// text colors
$color-text-normal: #333;
$color-text-introvert: #808080;
$color-text-extrovert: #1c1c1b;
$color-text-highlight-normal: $color-brand-two-normal;
$color-text-highlight-introvert: #808080;
$color-text-highlight-extrovert: #333;
$color-text-inverted: white;

// function colors
$color-function-valid: #73bf44;
$color-function-invalid: #f00;

// background colors
$color-background-base: white;
$color-background-base-introvert: #f2f2f2;

// structure colors
$color-structure-normal: #e6e6e6;
$color-structure-introvert: #ccc;

//font sizes
$font-size-plus: 16px;
$font-size-large: 18px;
$font-size-huge: 48px;

//images
$thumbnail-width: 105px;
$thumbnail-height: 90px;
