// http://susydocs.oddbird.net/en/latest/settings/

@mixin container {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.row {
    @include clearfix;
}

.cols-2 {
    @include grid-same-width(2);
}

.cols-3 {
    @include grid-same-width(3);
}
