.l-header {
    line-height: $l-header-height;
}

.l-header-wrapper {
    @include clearfix;
    @extend %moving-column-single-width;
    margin: 0 auto;
}

.l-header-left {
    float: left;
}

.l-header-right {
    float: right;
}

.l-content {
    position: absolute;
    top: $l-header-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.l-center {
    max-width: 30em;
    margin: 5em auto 10em;
    padding: 0.5em;
}
