.main-header {
    position: relative;
}

.l-header {
    line-height: $l-header-height;
}

.l-header-wrapper {
    @include clearfix;
    margin: 0 auto;
    position: relative;
}

.l-header-wrapper,
.l-header-center {
    @extend %moving-column-single-width;
}

.l-header-left {
    float: left;
}

.l-header-left,
.l-header-right {
    position: relative;
    z-index: 1;
}

.l-header-center {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 0;
}

.l-header-right {
    float: right;
}

.l-content {
    position: absolute;
    top: $l-header-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.l-center {
    max-width: 30em;
    margin: 5em auto 10em;
    padding: 0.5em;
}
