html {
    padding: 0;
}

// This is important for iframe resizing
html, body {
    margin: 0;
    padding: 0;
}

/**
 * When adhocracy is embedded, we have some code that determines its height and
 * resizes the iframe accordingly.  For this to work, the body must not have
 * any margins.  Apart from setting `margin: 0` on body we also need to prevent
 * margin collapsing.  This can be done by adding a small padding both at the
 * top and the bottom.  The trade-off is that there is some additional padding
 * which might look strange.
 */
body {
    padding: 1px 0;
}

.main-header {
    padding: 0.5em;
    background: $color-structure-surface;
    @include text-align(end);
    overflow: hidden;

    .user-indicator {
        float: right;
        min-width: 12em;
    }
}

.rate-button.is-rate-button-active {
    background: black;
}

.comment.is-current {
    background: red;
}
