html {
    padding: 0;
}

// This is important for iframe resizing
html, body {
    margin: 0;
    padding: 0;
}

.main-header {
    padding: 0.5em;
    background: $color-structure-surface;
    @include text-align(end);
    overflow: hidden;
}

.is-rate-button-active {
    background: black;
}
