<div class="paragraph" style="background:orange">
    <div ng-switch="viewmode">
        <div ng-switch-when="list">
        </div>
        <div ng-switch-when="display">
            <p>{{ content.data['adhocracy.sheets.document.IParagraph'].content }}</p>
        </div>
        <div ng-switch-when="edit">
            <input class="__widget__" style="height: 5em; width: 20em;"
                   ng-model="content.data['adhocracy.sheets.document.IParagraph'].content"></input>
        </div>
        <div ng-switch-default>
            internal error: unknown view mode: [{{ viewmode }}]
        </div>
    </div>
</div>
