<div ng-controller="AdhParagraphDetail as ap" class="paragraph" style="background:orange">
    <div ng-switch="doc.viewmode">
        <div ng-switch-when="list">
        </div>
        <div ng-switch-when="display">
            <p>{{ parcontent['data']['P.IParagraph']['text'] }}</p>
        </div>
        <div ng-switch-when="edit">
            <input class="__widget__" style="height: 5em; width: 20em;"
                   ng-model="parcontent['data']['P.IParagraph']['text']"></input>
        </div>
        <div ng-switch-default>
            internal error: unknown view mode: [{{ doc.viewmode }}]
        </div>
    </div>
</div>
