<div>
    title: <input ng-model="sheet.title"></input>
    <div ng-repeat="element in concreteElements">
        <div ng-switch="element.content_type">
            <div ng-switch-when="adhocracy.resources.paragraph.IParagraphVersion">
                <adh-paragraph-sheet-edit sheet="element.data['adhocracy.sheets.document.IParagraph']">
                </adh-paragraph-sheet-edit>
            </div>
            <div ng-switch-when="adhocracy.resources.section.ISectionVersion">
                <adh-section-sheet-edit sheet="element.data['adhocracy.sheets.document.ISection']">
                </adh-section-sheet-edit>
            </div>
            <div ng-switch-default>
                Fehler! Unerwarteter content_type.
            </div>
        </div>
    </div>
</div>
