/*
The mercator proposal list item may have the states `is-selected` or
`is-not-selected` where the latter one is used if a different proposal is
selected. If no proposal is selected, no state is applied.
*/

$mercator-proposal-form-nav-width: 100% / 12 * 2;

.mercator-proposal-form {
    width: 100% / 12 * 10 * 0.65;
    margin-left: $mercator-proposal-form-nav-width;
    background: $color-background-base;

    label {
        display: block;
    }

    .form-inline label {
        @include inline-block;
        padding-right: 1em;
    }

    fieldset {
        border: 0;
        padding: 0 0 0 1.6em;
    }

    .annotated-section {
        width: 157.5%;

        .annotated-section-annotation {
            background-color: $color-background-base-introvert;
        }
    }

    .m-call-to-action-secondary {
        width: 100%;
    }
}

.mercator-proposal-form-container {
    background: $color-structure-normal;
}

.mercator-proposal-form-annotation {
    padding: 1em;
    position: relative;
}

.mercator-proposal-form-subheading,
.mercator-proposal-form-heading,
.mercator-proposal-form-sub-subheading,
.mercator-proposal-form-annotation-heading {
    @include text(functional);
    margin: 0 0 0.8em;
}

.mercator-proposal-form-heading,
.mercator-proposal-form-annotation-heading {
    border: 1px solid $color-structure-normal;
    border-width: 1px 0;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 -1em 0.8em;
    padding: 0 1em 1px;

    &.active {
        color: $color-text-highlight-normal;
    }
}

.mercator-proposal-form-annotation-heading {
    background: $color-background-base;
    font-weight: normal;
    margin: -0.8751em -0.8751em 0.8751em;
    text-transform: uppercase;
}

.mercator-proposal-form-sub-subheading {
    font-weight: $font-weight-extrovert;
}

.mercator-proposal-form-subheading +
.mercator-proposal-form-sub-subheading {
    margin-top: -0.8em;
}

.mercator-proposal-form-nav {
    @extend .jump-navigation;
    float: left;
    width: $mercator-proposal-form-nav-width;
    font-size: $font-size-small;
    padding: 1px 1px 0;

    ul, ol {
        padding: 0;
    }

    li {
        background: $color-background-base-introvert;
        line-height: 2;
        margin-bottom: 1px;

        &, a {
            color: $color-text-highlight-normal;
            padding-bottom: 0;
        }

        &.active {
            background: $color-background-base;
            text-decoration: underline;
        }

        &:first-child {
            padding-top: 1px;
        }
    }

    a {
        text-decoration: none;
    }
}

.mercator-proposal-form-section {
    padding: 0 1em;
}

.mercator-proposal-form-footer {
    border-top: 2px solid $color-structure-normal;
    padding: 1em;
}

.mercator-proposal-detail-view {
    @include container;
}

.mercator-proposal-detail-view-image {
    float: left;
    width: 100%;

    @media print {
        float: none;
        height: auto;
        width: 100%;
        margin-bottom: 1em;
    }
}

.mercator-proposal-detail-orgs-columns {
    @media screen {
        margin: (20px / $font-size-normal * 1em) 0;
        overflow: hidden;
        padding: 0;

        li {
            @include gallery(1 of 3);
            display: inline;
            list-style-type: none;
        }
    }
    @media print {
        i:not(.m-definition) {
            display: none;
        }
    }
}

.mercator-proposal-detail-meta {
    padding-bottom: 1.66666666em;

    .mercator-proposal-detail-meta-item-total-comments {
        i {
            color: $color-text-highlight-introvert;
        }
    }
}

.mercator-proposal-cover-show-comments {
    @include show-comments;
    float: right;

    &:hover, &:focus {
        color: $color-brand-three-normal;
    }

    i {
        font-size: 23px / $font-size-small * 1em;
    }

    @media print {
        display: none;
    }
}

.mercator-proposal-detail-footer {
    border-top: 2px solid  $color-structure-normal;
    overflow: hidden;
    padding: (10 / 14 * 1em) 1em;

    i {
        font-size: 10px / $font-size-normal * 1em;
        margin-right: 2px;
        vertical-align: middle;
    }

    .button-back-to-top {
        color: $color-text-introvert;
        float: left;
        line-height: 24px / $font-size-normal * 1em;
        text-decoration: none;

        &:hover, &:focus {
            color: $color-text-highlight-normal;
        }

        &:active {
            color: $color-text-highlight-extrovert;
        }
    }

    .like {
        float: right;
    }

    @media print {
        display: none;
    }
}

.mercator-proposal-form-footer,
.mercator-proposal-detail-footer {
    padding-bottom: 500px;
}

.mercator-proposal-budget-col {
    @include inline-block;
    color: $color-text-introvert;
    margin-bottom: 20px / $font-size-normal * 1em;
    padding-right: 2em;

    &.requested {
        color: $color-text-normal;
    }

    strong {
        display: block;
        font-size: $font-size-large;
        font-weight: normal;
    }

    @media print {
        display: block;

        strong {
            @include inline-block;
            font-size: $font-size-normal;
            font-weight: $font-weight-extrovert;
        }
    }
}

.mercator-proposal-other-sources {
    clear: left;
    padding-top: 1em;
}

.picture-upload-file img {
    height: auto;
    max-width: 100%;
}

.inline-box-online {
    text-transform: uppercase;
}
