/*
The mercator proposal list item may have the states `is-selected` or
`is-not-selected` where the latter one is used if a different proposal is
selected. If no proposal is selected, no state is applied.
*/

.mercator-proposal-form {
    label {
        display: block;
    }

    fieldset {
        @include rem(padding, 0 0 0 1.6rem);
        border: 0;
    }

    .annotated-section-annotation {
        background-color: $color-background-base-introvert;
    }

    .button-cta-secondary {
        width: 100%;
    }
}

.mercator-proposal-form-annotation {
    @include rem(padding, $padding);
    position: relative;
}

.mercator-proposal-form-subheading,
.mercator-proposal-form-heading {
    @include rem(margin, 0 0 $font-size-small);
    @include rem(font-size, $font-size-plus);
}

.mercator-proposal-form-heading {
    @include rem(margin, 1rem (-1 * $padding) 0.8rem);
    @include rem(padding, 0 $padding 1px);
    border: 1px solid $color-structure-normal;
    border-width: 1px 0;
    font-weight: $font-weight-extrovert;

    &.active {
        color: $color-text-highlight-normal;
    }

    .mercator-proposal-form-section:first-child & {
        margin-top: 0;
    }
}

.mercator-proposal-form-section {
    @include rem(padding, 0 $padding);
}

.mercator-proposal-form-section-info {
    @include rem(padding, 0.5rem $padding);
    background: $color-background-base-introvert;
}

.mercator-proposal-form-footer {
    @include rem(padding, $padding);
    border-top: 2px solid $color-structure-normal;
}

.mercator-proposal-detail-view {
    @include container;

    p {
        white-space: normal;
    }
}

.mercator-proposal-detail-view-image {
    width: 100%;
    border-bottom: 2px solid $color-structure-normal;
    vertical-align: bottom;

    @media print {
        float: none;
        height: auto;
        width: 100%;
        margin-bottom: 1em;
    }
}

.mercator-proposal-detail-orgs-columns {
    @media screen {
        @include rem(margin, 20px 0);
        max-width: 300px;
        overflow: hidden;
        padding: 0;

        li {
            @include grid-same-width(3);
            display: inline;
            list-style-type: none;
        }
    }
    @media print {
        i:not(.m-definition) {
            display: none;
        }
    }

    &.partner-columns {
        @include rem(margin, 0 0 5px);
    }
}

.mercator-proposal-detail-meta {
    @include rem(padding-bottom, 20px);
}

.mercator-proposal-cover-show-comments {
    @include action-section-button;
    float: right;

    i {
        @include rem(font-size, 23px);
    }

    @media print {
        display: none;
    }
}

.mercator-proposal-detail-footer {
    @include rem(padding, 10px $padding);
    border-top: 2px solid  $color-structure-normal;
    overflow: hidden;

    i {
        @include rem(font-size, 10px);
        margin-right: 2px;
        vertical-align: middle;
    }

    .button-back-to-top {
        @include rem(line-height, 24px);
        color: $color-text-introvert;
        float: left;
        text-decoration: none;

        &:hover, &:focus {
            color: $color-text-highlight-normal;
        }

        &:active {
            color: $color-text-highlight-extrovert;
        }
    }

    .like {
        float: right;
    }

    @media print {
        display: none;
    }
}

.mercator-proposal-form-footer,
.mercator-proposal-detail-footer {
    @include rem(padding-bottom, 500px);
}

.mercator-proposal-budget-col {
    @include rem(margin-bottom, 20px);
    @include rem(padding-right, 2rem);
    display: inline-block;
    color: $color-text-introvert;

    &.requested {
        color: $color-text-normal;
    }

    strong {
        @include rem(font-size, $font-size-large);
        display: block;
        font-weight: $font-weight-medium;
    }

    @media print {
        display: block;

        strong {
            @include rem(font-size, $font-size-normal);
            display: inline-block;
            font-weight: $font-weight-extrovert;
        }
    }
}

.input-disclaimer {
    @include rem(margin-top, 15px);
}
