.meta-list-item-rate {
    float: right;
}

.proposal-list-item-meta-list {
    padding-bottom: 0;

    .meta-list-item-budget {
        @include rem(font-size, $font-size-plus);
        color: $color-text-highlight-normal;
    }

    .meta-list-item-total-comments,
    .meta-list-item-supporters {
        i {
            color: $color-text-highlight-normal;
        }
    }
}

.meta-list-item-badge {
    float: right;
}

.mercator-proposal-detail-meta-list {
    .meta-list-item-badge {
        @include rem(padding-right, 5rem);
    }
}
