@mixin triangle-tl {
    position: relative;

    &:before {
        @include rem(font-size, $font-size-small);
        @include rem(border-right, 1rem solid transparent);
        @include rem(border-top, 1rem solid $color-brand-one-normal);
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
    }
}
