@mixin triangle-tl {
    position: relative;

    &:before {
        content: "";
        border-right: 1em solid transparent;
        border-top: 1em solid $color-brand-one-normal;
        font-size: $font-size-small;
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
    }
}
