/*doc
---
title: Rosettes
name: has-rosette
parent: badge
---

Add a winning rosette or similar to an element. Must have a position:relative or absolute container.

```html_example
<ol class="listing-elements">
    <li class="listing-element debug-placeholder has-rosette m-winner" style="min-height:75px; position: relative">Winner</li>
    <li class="listing-element debug-placeholder has-rosette m-community-award" style="min-height:75px; position: relative">Community Winner</li>
</ol>

<div class="debug-placeholder has-rosette m-winner" style="position: relative; height:100px; width: 200px">Winner</div>
```
*/

.has-rosette {
    &:after, &:before {
        font-size: $font-size-normal;
    }

    &:after {
        @include rem(border-left, 50px solid transparent);
        @include rem(border-top, 50px solid $color-brand-two-normal);
        content: " ";
        height: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
    }

    &.m-winner,
    &.m-community-award {
        &:before {
            color: $color-text-inverted;
            position: absolute;
            top: 3px;
            z-index: 10;
        }
    }

    &.m-winner {
        &:after {
            border-top-color: $color-brand-one-normal;
        }

        &:before {
            @extend .icon-star:before;
            @include rem(font-size, 20px);
            right: 3px;
        }
    }

    &.m-community-award {
        &:before {
            @extend .icon-community-award:before;
            @include rem(font-size, 18px);
            @include rem(right, 6px);
        }
    }
}
