<div ng-switch="user.loggedIn">
    <div ng-switch-when="true" class="logout">
        <span>{{ user.displayName }}</span>
        <input type="submit" value="LogOut" ng-click="logOut()" />
    </div>
    <div ng-switch-default class="login">
        <input type="text" name="name" placeholder="name" ng-model="credentials.name" />
        <input type="password" name="password" placeholder="password" ng-model="credentials.password" />
        <input type="submit" value="LogIn" ng-click="logIn()" />
    </div>
</div>
