/*doc
---
title: input
name: input
category: Inputs
---

Inputs are all elements that allow users to input data.

They can have the following states:

-   is-empty
-   has-focus
-   is-invalid
-   is-disabled

```html_example
<input type="text" placeholder="you must not leave this empty" required=required />
<input type="text" disabled="disabled" placeholder="disabled" />
```
*/

/*doc
---
title: textinput
name: textinput
parent: input
---

Element to enter one line of text.

In fact, there are multiple variants of this already defined in HTML.
They should all look and behave similarily.

```html_example
<input type="text" placeholder="text" />
<input type="url" placeholder="url" />
<input type="password" placeholder="password" />
<input type="email" placeholder="email" />
<input type="date" placeholder="date" />
<input type="time" placeholder="time" />
<input type="number" placeholder="number" />
<input type="text" placeholder="required" required="required" />
<textarea placeholder="textarea"></textarea>
```
*/

/*doc
---
title: Title modifier
name: textinput.m-title
parent: textinput
---

Textinput that represents a title.

```html_example
<input type="text" placeholder="title" class="m-title"/>
```
*/
input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.5em $font-size-standard * 0.5;
    border: 1px solid $color-structure-border;
    color: $color-prime-standard;
    background-color: $color-background;

    @include placeholder {
        color: $color-secondary-extrovert;
        @include opacity(1);
    }

    &.m-title {
        font-size: $font-size-large;
    }

    &.has-focus,
    &:focus {
        border-color: $color-highlight-standard;
        outline: 1px solid $color-highlight-standard;
    }

    &.ng-invalid,
    &:invalid {
        border-color: lightcoral;
        outline: 1px solid lightcoral;

        &.has-focus,
        &:focus {
            border-color: $color-highlight-invalid;
            outline: 1px solid $color-highlight-invalid;
        }
    }

    &.is-disabled,
    &.ng-disabled,
    &:disabled {
        border-color: $color-structure-border-introvert;
        outline: 1px solid $color-structure-border-introvert;
    }
}

/*doc
---
title: checkbox
name: checkbox
parent: input
---

A checkbox has two states: is-checked and is-unchecked. It may be required to
be checked, w.g. for accepting terms of service.

```html_example
<label>
    <input type="checkbox" />
    click me!
</label>
```
*/

/*doc
---
title: label
name: label
category: Inputs
---

A label can be used to describe an input.

```html_example
<label>
    <input type="text" />
    description
</label>
```
*/

/*doc
---
title: tooltip modifier
name: label.m-tooltip
parent: label
---

If you do not want to show a label directly but to have an info icon with a
tooltip instead you may use this modifier.

```html_example
<label class="m-tooltip" title="description">
    <input type="text" />
</label>
```
*/
label.m-tooltip {
    &::after {
        content: "i";
        display: block;
        height: 2em;
        line-height: 2;
        width: 2em;
        border: 1px solid $color-structure-border;
        @include border-radius(50%);
        @include text-align(center);
    }
}

/*doc
---
title: Errors
name: errors
category: Inputs
---
*/

/*doc
---
title: Form Error
name: form-error
parent: errors
---

This error concerns the whole form.

```html_example
<div class="login">
    <h1 class="title">Log in!</h1>
    <div class="form-error">
        <p>This is plain wrong!</p>
    </div>
    <form class="login-form">
        <input type="text" name="name" placeholder="email or username" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="login" />
    </form>
</div>
```
*/
.form-error {
    margin: 1em 0;
    padding: 0 1em;
    border-top: 1px solid $color-structure-border;
    border-bottom: 1px solid $color-structure-border;
    background: $color-structure-surface;
}

/*doc
---
title: Input Error
name: input-error
parent: errors
---

This error concerns a single input.

```html_example
<div class="login">
    <h1 class="title">Log in!</h1>
    <form class="login-form">
        <input type="text" name="name" placeholder="email or username" />
        <span class="input-error">Too short</span>
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="login" />
    </form>
</div>
```
*/
.input-error {
    font-size: $font-size-small;
    padding-left: 1em;
}
