$action-width: 3em;

.listing {
    padding-right: $action-width;
}

.listing-rows {
    margin: 0;
    padding: 0;
    list-style: none;
}

// starting animations
.listing-element {

    &.ng-enter {
        @include transition(all 3s);
        background: greenyellow;
        @include opacity(0.5);

        // destination animations
        &.ng-enter-active {
            background: white;
            @include opacity(1);
        }
    }
}

.listing-add-form {
    background-color: $color-structure-surface;
    padding: 0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
}
