.button,
.button-cta,
.button-cta-secondary {
    line-height: 2;
    height: 2em;
    text-transform: uppercase;
    @include rem(border-radius, 15px);
    font-weight: $font-weight-medium;

    &.m-menu-action {
        border-radius: 0;
        color: $color-brand-one-normal;
        font-size: $font-size-small;

        &:hover:enabled, &:focus:enabled, &.is-active {
            color: $color-brand-one-extrovert;
        }
    }
}

.button-group {
    @include clearfix;
    display: inline-block;
    vertical-align: middle;

    .button {
        border-radius: 0;
        float: left;

        &:first-child {
            @include rem(border-radius, 15px 0 0 15px);
        }

        &:last-child {
            @include rem(border-radius, 0 15px 15px 0);
        }
    }
}
