.button,
.button-cta,
.button-cta-secondary {
    line-height: 2;
    height: 2em;
    border-radius: 0.4em;
    border-width: 1px;
    text-transform: uppercase;
    font-weight: $font-weight-medium;

    &.m-round {
        min-width: 2em;
    }
}

/*doc
---
title: Call-to-action button variant
name: button.button-cta.m-variant
parent: button
---

cta button variant

```html_example
<a class="button-cta m-variant" href="">Link</a>
<button type="button" class="button-cta m-variant">Button</button>
<input type="submit" class="button-cta m-variant" value="Submit" />
<input type="submit" class="button-cta m-variant" value="Disabled" disabled="disabled" />
<a class="button-cta ng-disabled m-variant" href="">Disabled Link</a>
```
*/

.button-cta.m-variant {
    @extend .button-cta;
    background: $color-brand-two-normal;
    color: $color-text-inverted;

    &:hover:enabled, &:focus:enabled {
        background: $color-brand-two-introvert;
    }

    &.ng-disabled,
    &:disabled {
        &:hover,
        &:focus,
        &:active {
            background: $color-brand-two-normal;
            color: $color-text-inverted;
        }
    }
}

.button-group {
    @include clearfix;
    display: inline-block;
    vertical-align: middle;

    .button {
        border-radius: 0;
        float: left;

        &:first-child {
            border-radius: 0.4em 0 0 0.4em;
        }

        &:last-child {
            border-radius: 0 0.4em 0.4em 0;
        }
    }
}
