.button,
.button-cta,
.button-cta-secondary {
    line-height: 2;
    height: 2em;
    border-radius: 0.4em;
    border-width: 1px;
    text-transform: uppercase;
    font-weight: $font-weight-medium;

    &.m-menu-action {
        border-radius: 0;
        color: $color-brand-one-normal;
        font-size: $font-size-small;

        &:hover:enabled, &:focus:enabled, &.is-active {
            color: $color-brand-one-extrovert;
        }
    }
}

.button-group {
    @include clearfix;
    display: inline-block;
    vertical-align: middle;

    .button {
        border-radius: 0;
        float: left;

        &:first-child {
            border-radius: 0.4em 0 0 0.4em;
        }

        &:last-child {
            border-radius: 0 0.4em 0.4em 0;
        }
    }
}
