.listing-create-form,
.comment-children-create-form,
.comment-children-edit-form {
    background: transparent;
}

.comment-create-form-text,
.comment-edit-form-text {
    background: $color-background-base-introvert;
}

.comment-header {
    @include clearfix;
    @include rem(margin-bottom, 5px);
    font-size: $font-size-normal;

    .comment-header-creator {
        float: left;

        &:after {
            display: none;
        }
    }

    .comment-header-date {
        float: right;
    }
}

.comment-children-edit-form {
    padding-left: 0;
}

.comment-main {
    @include rem(padding-top, 22px);
}
