.s1-proposal-list-item-meta {
    color: $color-text-extrovert;

    .meta-list-item {
        @include rem(margin-right, 23px);
    }
}

.s1-meta-list-actions {
    text-align: center;

    .meta-list {
        @include inline-block;
        margin: 0 auto;
    }
}

.meta-list-item-comments {
    a {
        color: $color-brand-one-extrovert;
        text-decoration: none;

        &:focus, &:hover, &:active {
            .meta-list-item-comments-icon:before {
                @extend .icon-speechbubble;
            }
        }

        &:active {
            color: $color-text-highlight-normal;
        }
    }
}
