.rate {
    .rate-pro {
        color: $color-function-positive;

        &.is-rate-button-active {
            &:hover {
                color: $color-function-negative;
            }

            &:active {
                color: $color-function-positive;
            }
        }
    }
}
