.current-process-title {
    margin-left: 3em;
    line-height: rem($logo-height);

    font-size: $font-size-large;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.s1-header-menu {
    white-space: nowrap;
    text-align: center;

    > * {
        // spacing between buttons
        @include rem(margin-right, 10px);
    }
}
