.current-process-title {
    top: rem(0px);
    left: rem(170px);
    position: absolute;
    display: block;
    line-height: rem(52px);

    font-size: $font-size-large;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.s1-header {
    margin-top: rem(50px);
    margin-bottom: rem(10px);

    position: relative;
}

.s1-header-logo-link {
    @include rem(line-height, 30px);
    @include rem(top, 10px);
    display: inline-block;
    color: $color-text-introvert;
    position: absolute;
    left: 0;
    // IE 10 renders the image only logo with an underline otherwise
    text-decoration: none;

    &:hover, &:focus {
        color: $color-text-normal;
    }
}

.s1-header-logo {
    @include rem(font-size, 17px);
    @include rem(margin-left, 24px);
}

.s1-header-menu {
    white-space: nowrap;
    text-align: center;

    > * {
        // spacing between buttons
        @include rem(margin-right, 10px);
    }
}
