.dropdown-button {
    font-size: $font-size-huge;
    font-weight: $font-weight-extrovert;
    text-decoration: none;
}

.s1-list-item {
    @include clearfix;
    @include rem(padding, 21px 16px 17px 16px);
    @include rem(margin-bottom, 4px);
    background: $color-background-base;
    display: block;
    text-decoration: none;

    .s1-list-item-meta {
        float: right;

        .meta-list-item {
            @include rem(margin-right, 8px);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &.is-selected {
        border: 1px solid $color-text-highlight-normal;
    }
}

.s1-list-item-type {
    color: $color-brand-one-normal;

    &.is-selected {
        color: $color-function-winner;
    }
}

.s1-proposal-title {
    @include rem(margin, 17px 0 14px);
    @include rem(padding-bottom, 23px);
    border-bottom: 1px solid $color-background-base-introvert;
    color: $color-text-normal;
    font-family: $font-family-serif;
    font-size: $font-size-large;
}

.s1-list-item-creator a {
    text-decoration: none;
}

.s1-list-item-time {
    color: $color-text-introvert;
    display: block;
    padding-top: 2px;
}

.s1-proposal-list .listing-elements {
    @include clearfix;
    background: $color-background-base-introvert;
}

.s1-proposal-form {
    padding: 2em;

    label {
        @include rem(margin-bottom, 20px);
        display: block;
    }

    .s1-proposal-form-title,
    .s1-proposal-form-description {
        background: $color-background-base-introvert;
        border-left: 1px solid $color-text-introvert;
    }

    .s1-proposal-form-title {
        @include rem(min-height, 50px);
        font-weight: $font-weight-extrovert;
        margin-top: 0;
    }

    .s1-proposal-form-description {
        @include rem(min-height, 300px);
    }
}
