.l-center {
    background-color: $color-background-base;
    max-width: $moving-column-single-width-max;
    padding: 0;

    // get it scrolling and centered
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow-y: auto;
}

// Need more space for the header so the second line (process progress indicator) fits

.l-header.main-header {
    @include rem(height, $s1-header-height);
    max-width: initial;
}

.l-content {
    @include rem(top, $s1-header-height);
}
