/*doc
---
title: debug-placeholder
name: debug-placeholder
category: Debug
---

The debug-placeholder is useful only in unfinished drafts and styleguide
documentation. It can be used to style elements that are not yet done.

```html_example
<div class="debug-placeholder">debug-placeholder</div>
```
*/
.debug-placeholder {
    background-color: $color-structure-normal;
    border: 2px dashed $color-structure-border;
    min-width: 3em;
    min-height: 3em;
    color: $color-text-introvert;
    text-align: center;
}
