.debug-placeholder {
    @include rem(min-width, 3rem);
    @include rem(min-height, 3rem);
    background-color: $color-structure-normal;
    border: 2px dashed $color-structure-introvert;
    color: $color-text-introvert;
    text-align: center;
}
