/*doc
---
title: Placeholder
name: placeholder
category: Debug
---

The placeholder is useful only in unfinished drafts and styleguide
documentation. It can be used to style elements that are not yet done.

```html_example
<div class="placeholder">Placeholder</div>
```
*/
.placeholder {
    background-color: $color-structure-surface;
    border: 2px dashed $color-structure-border;
    min-width: 3em;
    min-height: 3em;
    color: $color-text-introvert;
    text-align: center;
}
