<div ng-controller="AdhParagraphDetail as ap" class="paragraph" style="background:orange">
    <div ng-switch="viewmode()">
        <div ng-switch-when="list">
        </div>
        <div ng-switch-when="display">
            <!--
            <button type="button" class="edit_button" ng-click="ap.showDetailEdit()">edit</button>
            -->
            <p>{{ paragraph['data']['P.IParagraph']['text'] }}</p>
        </div>
        <div ng-switch-when="edit">
            <!--
            <button type="button" class="reset_button" ng-click="ap.showDetailReset()">reset</button>
            <button type="button" class="save_button" ng-click="ap.showDetailSave()">save</button>
            -->
            <textarea class="__widget__">{{ paragraph['data']['P.IParagraph']['text'] }}</textarea>
        </div>
        <div ng-switch-default>
            internal error: unknown view mode: [{{ model.viewmode }}]
        </div>
    </div>
</div>
