// Text colors
$color-text-normal: #333;
$color-text-highlight-normal: #00b4cc;

// Function colors
$color-function-valid: #73bf44;
$color-function-invalid: #f00;

// Brand colors
$color-brand-one-normal: #00b4cc;
$color-brand-one-introvert: darken($color-brand-one-normal, 10%);
$color-brand-one-extrovert: lighten($color-brand-one-normal, 10%);
$color-brand-two-normal: #e3000f;
$color-brand-two-introvert: #b61c3e;
$color-brand-two-extrovert: $color-brand-two-introvert;
$color-brand-three-normal: $color-brand-one-normal;
$color-brand-three-extrovert: lighten($color-brand-three-normal, 10%);
$color-brand-three-extrovert: lighten($color-brand-three-normal, 10%);

$font-family-normal: "Open Sans", sans-serif;
$font-size-large: 18px;
$font-size-huge: 20px;

//images
$thumbnail-width: 105px;
$thumbnail-height: 90px;
