<!doctype html>
<html ng-app="ATestMod">
    <head>
        <title>Proposal Workbench</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/stylesheets/a3.css" />
        <script type="text/javascript"
                src="/static/submodules/requirejs/require.js"></script>
        <script type="text/javascript"
                src="/static/require-config.js"></script>
        <script src="/static/jquery-1.7.2.js"></script>
        <script src="/static/angular-1.2.4.js"></script>
        <script src="/static/a-test.js"></script>
    </head>
    <body>


<table border="1">
    <tr>
        <td>
            <p>proposal workbench navigation</p>
        </td>
        <td>
            <div ng-controller="ATest as at">
                <h3>proposal directory</h3>

                <div>
                    <ol>
                        <li ng-repeat="entry in directory track by $index">
                            <div ng-switch="entry">
                                <div ng-switch-when="undefined">
                                    <small><tt>(empty DAG)</tt></small>
                                </div>
                                <div ng-switch-default>
                                    <a href ng-click="at.showDetail(entry[0])">
                                        {{entry[1] | fDirectoryEntry}}
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>

                <div style="background:yellow">
                    <p ng-bind="detail.data['P.IDocument'].title"></p>
                    <small><p ng-bind="detail.data['P.IDocument'].description"></p></small>
                    <!-- <button type="button" class="edit_button" data-on="click|edit">edit</button> -->
                    <p ng-repeat="paragraph in detail_paragraphs track by $index">{{paragraph}}</p>
                    <!-- <pre>{{detail | displayIDocument}}</pre> -->
                </div>

                <h3>invoice example:</h3>
                <div>
                    Quantity: <input type="number" ng-model="at.qty" required >
                </div>
                <div>
                    Costs: <input type="number" ng-model="at.cost" required >
                </div>
                <div>
                    <b>Total:</b> {{at.qty * at.cost | currency}}
                </div>
            </div>
        </td>
        <td>
            <p>proposal workbench changes and discussion</p>
        </td>
    </tr>
</table>



      <!-- app --
      <div id="adhocracy">[javascript is not running]</div>
      <script>
          require(['jquery', 'angular'], function() {
              require(['Adhocracy/Frames/ProposalWorkbench'], function(ProposalWorkbench) {
                  var uri = ProposalWorkbench.poolUri('/adhocracy');
                  $(document).ready(function() { ProposalWorkbench.open_proposals(uri); });

                  // FIXME: '.load' isn't executed: why?
                  $(document).load(function() { console.log('page load complete'); });
              });
          });
      </script>
      -->

    </body>
</html>
