.proposal-form {
    background-color: $color-background-base-introvert;
    bottom: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;

    label,
    .input-error {
        display: block;
    }

    .map-buttons {
        background: $color-background-base;
    }
}

.proposal-form-upper {
    @include rem(padding, 1rem);
    background: $color-background-base;
}

.proposal-detail {
    .rate {
        float: right;
    }
}

.proposal-detail-header,
.proposal-badge-descriptions,
.proposal-detail-body {
    @include clearfix;
    @include rem(padding, 0 10px);
    background: $color-background-base;
}

.proposal-detail-body-comments {
    @include rem(padding-left, 40px);
    float: right;
    text-align: center;

    &, a {
        @include rem(font-size, $font-size-small);
        color: $color-text-highlight-introvert;
    }

    [class*=icon-] {
        @include rem(font-size, 17px);
        @include rem(line-height, 17px);
        display: block;
    }
}

.proposal-detail-body-comments-icon {
    @include rem(font-size, 20px);
    display: block;
}

.proposal-detail-header {
    @include rem(padding-top, 30px);

    .proposal-detail-header-title {
        @include rem(font-size, $font-size-normal);
        @include rem(margin, 0 0 30px);
        color: $color-text-normal;
        font-weight: $font-weight-extrovert;
    }

    .badge {
        @include rem(top, -20px);
        position: relative;
    }
}

.proposal-detail-detail {
    @include rem(margin-bottom, 30px);
    padding-right: 15%;
    white-space: pre-line;
}

.proposal-detail-meta-item,
.proposal-detail-author {
    @include rem(font-size, $font-size-small);
    color: $color-text-introvert;
}

.proposal-detail-author {
    @include rem(margin-bottom, 30px);
}

.proposal-detail-meta {
    @include clearfix;
    @include rem(margin, 0 0 40px);
    list-style-type: none;
    padding: 0;

    .proposal-detail-meta-item {
        @include gallery(3 of 12);

        &:nth-child(2) {
            text-align: center;
        }
    }

    .proposal-detail-meta-participation {
        text-align: right;
    }

    .proposal-detail-meta-item-icon {
        @include rem(margin-right, 8px);
        vertical-align: middle;
    }

    .proposal-detail-meta-item-text {
        @include inline-block;
        margin: 0;
        text-align: left;
    }

    .proposal-detail-meta-item-comments,
    .proposal-detail-meta-item-location {
        a {
            color: $color-text-highlight-introvert;
        }
    }
}
