// Text colors
$color-text-normal: #333;
$color-text-highlight-normal: #008dd0;

// Brand colors
$color-brand-one-normal: #018dd0;
$color-brand-one-introvert: #0071a7;
$color-brand-one-extrovert: #00acff;
$color-brand-two-normal: #fab61b;
$color-brand-two-introvert: #cb8d00;
$color-brand-two-extrovert: #ffb100;

$color-text-highlight-introvert: $color-brand-one-introvert;
$color-text-highlight-extrovert: $color-brand-one-extrovert;

//Buttons
$color-button-text: $color-brand-one-normal;
$color-button-text-hover: $color-brand-one-introvert;
$color-button-cta-base: $color-brand-one-normal;
$color-button-cta-hover-background: $color-brand-one-introvert;
$color-button-cta-active-background: $color-brand-one-extrovert;
