/*
  Icon Font: adhocracy3-icons
*/

@font-face {
  font-family: "adhocracy3-icons";
  src: url("../icons/fonts/adhocracy3-icons.eot");
  src: url("../icons/fonts/adhocracy3-icons.eot?#iefix") format("embedded-opentype"),
       url("../icons/fonts/adhocracy3-icons.woff") format("woff"),
       url("../icons/fonts/adhocracy3-icons.ttf") format("truetype"),
       url("../icons/fonts/adhocracy3-icons.svg#adhocracy3-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "adhocracy3-icons";
    src: url("../icons/fonts/adhocracy3-icons.svg#adhocracy3-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-attention:before,
.icon-ban-circle:before,
.icon-calendar:before,
.icon-document:before,
.icon-documents:before,
.icon-key:before,
.icon-list:before,
.icon-list-filled:before,
.icon-mail:before,
.icon-mail-filled:before,
.icon-map-pin:before,
.icon-minus:before,
.icon-pig:before,
.icon-pointy-rectangle-left:before,
.icon-pointy-rectangle-right:before,
.icon-reply:before,
.icon-speechbubble:before,
.icon-speechbubble-document:before,
.icon-speechbubble-unfilled:before,
.icon-speechbubbles:before,
.icon-tick:before,
.icon-triangle-inverse-down:before,
.icon-triangle-inverse-up:before,
.icon-triangle-up:before,
.icon-user:before,
.icon-user-unfilled:before,
.icon-users:before,
.icon-x:before {
  display: inline-block;
  font-family: "adhocracy3-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f136"; }
.icon-attention:before { content: "\f137"; }
.icon-ban-circle:before { content: "\f138"; }
.icon-calendar:before { content: "\f139"; }
.icon-document:before { content: "\f13a"; }
.icon-documents:before { content: "\f13b"; }
.icon-key:before { content: "\f13c"; }
.icon-list:before { content: "\f13d"; }
.icon-list-filled:before { content: "\f13e"; }
.icon-mail:before { content: "\f13f"; }
.icon-mail-filled:before { content: "\f140"; }
.icon-map-pin:before { content: "\f141"; }
.icon-minus:before { content: "\f142"; }
.icon-pig:before { content: "\f143"; }
.icon-pointy-rectangle-left:before { content: "\f144"; }
.icon-pointy-rectangle-right:before { content: "\f145"; }
.icon-reply:before { content: "\f146"; }
.icon-speechbubble:before { content: "\f147"; }
.icon-speechbubble-document:before { content: "\f148"; }
.icon-speechbubble-unfilled:before { content: "\f149"; }
.icon-speechbubbles:before { content: "\f14a"; }
.icon-tick:before { content: "\f152"; }
.icon-triangle-inverse-down:before { content: "\f14b"; }
.icon-triangle-inverse-up:before { content: "\f14c"; }
.icon-triangle-up:before { content: "\f14d"; }
.icon-user:before { content: "\f14e"; }
.icon-user-unfilled:before { content: "\f14f"; }
.icon-users:before { content: "\f150"; }
.icon-x:before { content: "\f151"; }
