/*
  Icon Font: adhocracy3-icons
*/

@font-face {
  font-family: "adhocracy3-icons";
  src: url("../icons/fonts/adhocracy3-icons.eot");
  src: url("../icons/fonts/adhocracy3-icons.eot?#iefix") format("embedded-opentype"),
       url("../icons/fonts/adhocracy3-icons.woff") format("woff"),
       url("../icons/fonts/adhocracy3-icons.ttf") format("truetype"),
       url("../icons/fonts/adhocracy3-icons.svg#adhocracy3-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "adhocracy3-icons";
    src: url("../icons/fonts/adhocracy3-icons.svg#adhocracy3-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-ban-circle:before,
.icon-calendar:before,
.icon-document:before,
.icon-documents:before,
.icon-list:before,
.icon-map-pin:before,
.icon-minus:before,
.icon-pig:before,
.icon-pointy-rectangle-left:before,
.icon-pointy-rectangle-right:before,
.icon-reply:before,
.icon-speechbubble:before,
.icon-speechbubble-document:before,
.icon-speechbubble-outline:before,
.icon-speechbubbles:before,
.icon-triangle-inverse-down:before,
.icon-triangle-inverse-up:before,
.icon-triangle-up:before,
.icon-user:before,
.icon-user-unfilled:before,
.icon-users:before,
.icon-x:before {
  display: inline-block;
  font-family: "adhocracy3-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-ban-circle:before { content: "\f110"; }
.icon-calendar:before { content: "\f100"; }
.icon-document:before { content: "\f101"; }
.icon-documents:before { content: "\f102"; }
.icon-list:before { content: "\f103"; }
.icon-map-pin:before { content: "\f114"; }
.icon-minus:before { content: "\f104"; }
.icon-pig:before { content: "\f105"; }
.icon-pointy-rectangle-left:before { content: "\f106"; }
.icon-pointy-rectangle-right:before { content: "\f107"; }
.icon-reply:before { content: "\f111"; }
.icon-speechbubble:before { content: "\f108"; }
.icon-speechbubble-document:before { content: "\f109"; }
.icon-speechbubble-outline:before { content: "\f10a"; }
.icon-speechbubbles:before { content: "\f10b"; }
.icon-triangle-inverse-down:before { content: "\f10e"; }
.icon-triangle-inverse-up:before { content: "\f10f"; }
.icon-triangle-up:before { content: "\f115"; }
.icon-user:before { content: "\f10c"; }
.icon-user-unfilled:before { content: "\f112"; }
.icon-users:before { content: "\f113"; }
.icon-x:before { content: "\f10d"; }
