html {
    padding: 0;
}

// This is important for iframe resizing
html, body {
    margin: 0;
}

body {
    padding: 1em;
    background-color: $primary-color;

    &.is-embedded {
        background-color: lightsteelblue;
    }
}

.page_wrapper {
    width: 50em;
    max-width: 90vw;
    margin: 2em auto;
    background-color: $bg;
    padding: 1em;
}
